.cke_dialog_open {
    overflow: hidden;
}

.cke_dialog_container {
    position: fixed;
    overflow-y: auto;
    overflow-x: auto;
    width: 1000px;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10010;
}

.cke_dialog_body {
    position: relative;
}

.cke_reset_all,
.cke_reset_all *,
.cke_reset_all a,
.cke_reset_all textarea {
    /* white-space: normal !important; */
    white-space: none;
}