
<h2>{{!!question.questionId ? 'Edit Question' : 'Create Question'}}</h2>

<form #questionForm name="questionForm" (ngSubmit)="saveQuestion()">
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Question Header</mat-label>
      <input matInput type="text" name="questionHeader" #questionHeader="ngModel" required
        [(ngModel)]="question.header">
      <mat-error>Question is required</mat-error>
    </mat-form-field>
    <div class="question-body">
      <h3>Question Body</h3>
      <textarea style="z-index: 3000;" id="questionBody"></textarea>
    </div>
    <div class="question-footer">
      <h3>Question Footer</h3>
      <textarea style="z-index: 3000;" id="questionFooter"></textarea>
    </div>
    <mat-form-field appearance="fill">
      <mat-label>Answer Type</mat-label>
      <mat-select name="answerType" #answerType="ngModel" required [(ngModel)]="question.answerType">
        <mat-option *ngFor="let type of answerTypes">{{type}}</mat-option>
      </mat-select>
      <mat-error>Answer Type is required</mat-error>
    </mat-form-field>
    <div>
      <button mat-raised-button type="button" (click)="addAnswer()" color="primary">Add Answer</button>
    </div>
    <div class="answers d-flex flex-column">
      <div class="answer d-flex flex-row align-center" *ngFor="let answer of question.answers; let i = index">
        <mat-form-field appearance="fill">
          <mat-label>Answer</mat-label>
          <input type="text" matInput [(ngModel)]="answer.answer" name="answer{{i}}" #answer{{i}}="ngModel" required>
          <mat-error>Answer is required</mat-error>
        </mat-form-field>
        <mat-icon (click)="deleteAnswer(i)">highlight_off</mat-icon>
      </div>
    </div>
  </div>
  <div>
    <button mat-raised-button style="margin-right: 20px;" type="submit" color="primary">Save Question</button>
    <button mat-stroked-button color="primary" type="button" (click)="cancel()">Close</button>
  </div>
</form>
