<!-- <div class="d-flex flex-row" style="padding-bottom: 20px;">
  <button mat-raised-button color="accent" (click)="saveSortOrder()">Save Sort Order</button>
</div> -->
<div class="d-flex flex-row align-items-center justify-content-between">
  <h2>Sort Categories</h2>
  <button style="height: fit-content;" mat-raised-button color="primary" (click)="saveSortOrder()">Save Order</button>
</div>
<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" cdkDropList (cdkDropListDropped)="drop($event)">
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding cdkDrag [cdkDragData]="node"
    (mouseenter)="dragHover(node)" (mouseleave)="dragHoverEnd()" (cdkDragStarted)="dragStart()"
    (cdkDragReleased)="dragEnd()">
    <button mat-icon-button disabled></button>
    {{node.name}}
  </mat-tree-node>

  <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding cdkDrag [cdkDragData]="node"
    (mouseenter)="dragHover(node)" (mouseleave)="dragHoverEnd()" (cdkDragStarted)="dragStart()"
    (cdkDragReleased)="dragEnd()">
    <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name">
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    {{node.name}}
  </mat-tree-node>
</mat-tree>
