// @import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "~@angular/material/theming";

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.basic-container {
  padding: 30px;
}

.version-info {
  font-size: 8pt;
  float: right;
}

/**
 * TREE DRAG AND DROP STYLING
 */

.mat-tree-node {
  background-color: rgb(242, 242, 242);
  color: black;
  user-select: none;
  cursor: move;
  border: 1px #bcbcbc;

  &.cdk-drag-preview {
    // while dragging
    @include mat-elevation(12);
  }
  &.cdk-drag-placeholder {
    // potential drop area
    opacity: 0;
  }
}

/* items moving away to make room for drop */
.cdk-drop-list-dragging .mat-tree-node:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
/* item being dropped */
.cdk-drag-animating {
  transition: transform 200ms cubic-bezier(0, 0, 0.2, 1);
}
