<div>
  <div class="d-flex flex-row flex-wrap">
    <mat-form-field style="width:470px; padding-right: 10px;" color="accent">
      <mat-label>Subject</mat-label>
      <input type="text" readonly="true" matInput [(ngModel)]="data.article.subject">
    </mat-form-field>

    <mat-form-field style="width:250px; padding-right: 10px;" color="accent">
      <mat-label>Description</mat-label>
      <input type="text" readonly="true" matInput [(ngModel)]="data.article.description">
    </mat-form-field>

    <mat-form-field style="width:250px; padding-right: 10px;" color="accent">
      <mat-label>Status</mat-label>
      <input type="text" readonly="true" matInput [(ngModel)]="data.article.articleStatus">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field style="width: 350px; padding-right: 10px;" color="accent">
      <mat-label>Section</mat-label>
      <mat-select multiple name="section" #section="ngModel" [(ngModel)]="selectedSections">
        <mat-option *ngFor="let section of data.sections; let i = index" [value]="section.id">
          {{section.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<div mat-dialog-action>
  <button mat-raised-button color="primary" style="color: white;" (click)="confirm()">Confirm</button>
  <button mat-raised-button (click)="cancel()">Cancel</button>
</div>
