th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
  border-bottom-width: 0px;
}

:host ::ng-deep .mat-row {
  background: #f2f2f2;
}

.article-subject {
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 46vh;
  width: 46vh;
}
