<h1 class="mat-display-1">Find and Replace</h1>
<form #findReplace="ngForm" name="findReplace" (ngSubmit)="replaceModal()">
  <div class="d-flex flex-row">
    <div class="d-flex flex-column">
      <mat-form-field appearance="fill" style="width: 40vh;" color="accent">
        <mat-label>Find</mat-label>
        <input name="findAR" #findAR="ngModel" [disabled]="isArticle === true || isSnippet === true" type="text"
          matInput [(ngModel)]="find">
      </mat-form-field>
      <mat-form-field appearance="fill" style="width: 40vh;" color="accent">
        <mat-label>Replace</mat-label>
        <input name="replaceAR" #replaceAR="ngModel" required type="text" matInput [(ngModel)]="replace">
        <mat-error>Replace is required</mat-error>
      </mat-form-field>
    </div>

    <div style="margin-left: 50px;" class="d-flex flex-column align-self-center">
      <mat-slide-toggle [disabled]="disableButton" name="isArticleName" #isArticleName="ngModel"
        (change)="onChangeArticle()" [(ngModel)]="isArticle" style="margin-bottom: 35px;" color="primary"
        [checked]="isArticle">
        Find Articles
      </mat-slide-toggle>
      <mat-slide-toggle [disabled]="disableButton" name="isSnippetName" #isSnippetName="ngModel"
        (change)="onChangeSnippet()" [(ngModel)]="isSnippet" color="primary" [checked]="isSnippet">
        Find Snippets
      </mat-slide-toggle>
    </div>


    <div *ngIf="spinner === false" style="width: 100px;"> </div>
    <div *ngIf="spinner === true" style="width: 100px;" class="d-flex align-center justify-content-around">
      <mat-spinner color="accent" [diameter]="50"></mat-spinner>
    </div>

    <div style="margin-left: 50px; width: 18vh;" class="d-flex flex-column align-self-center">
      <div style="margin-bottom: 27px; padding-bottom: 8px; height: 30px;" class="d-flex flex-row justify-space-betwen">
        <span class="d-flex flex-row align-items-center">Total Articles: <h3 style="margin: 0; padding-left: 5px;">
            {{totalArticles}}</h3></span>
      </div>
      <div style=" height: 30px;" class="d-flex flex-row">
        <span class="d-flex flex-row align-items-center">Total Snippets: <h3 style="margin: 0; padding-left: 5px;">
            {{snippetsCount.snippetCount}}</h3></span>
      </div>
    </div>

    <div class="d-flex flex-column align-self-center" style="margin-left: 50px;">
      <button [disabled]="articlesCount.locked === null && snippetsCount.snippetCount === null" type="submit"
        mat-raised-button color="primary" style="color: white;">Replace</button>
    </div>
  </div>
</form>

<div *ngIf="showArticles && articlesResult === null">
  <h3>Articles Found</h3>
</div>
<div *ngIf="showArticles && articlesResult !== null">
  <h3>Unchaged Articles</h3>
</div>
<div *ngIf="showSnippets && snippetResult === null">
  <h3>Snippets Found</h3>
</div>
<div *ngIf="showSnippets && snippetResult !== null">
  <h3>Unchaged Snippets</h3>
</div>

<div *ngIf="showArticles === true">
  <mat-form-field style="width: 75vh;" color="accent">
    <mat-label>Search Articles</mat-label>
    <input (keyup)="applyFilter($event);" matInput type="text">
    <mat-icon matSuffix>{{'search'}}</mat-icon>
  </mat-form-field>
</div>

<div *ngIf="showSnippets === true">
  <mat-form-field style="width: 75vh;" color="accent">
    <mat-label>Search Snippets</mat-label>
    <input (keyup)="applyFilterSnippets($event);" matInput type="text">
    <mat-icon matSuffix>{{'search'}}</mat-icon>
  </mat-form-field>
</div>

<div *ngIf="showArticles === true" style="width:99.8%;" class="d-flex flex-column ">
  <table mat-table [dataSource]="dataSourceArticles" matSort #articleSort="matSort">

    <!-- Subject Column -->
    <ng-container matColumnDef="subject">
      <th mat-header-cell *matHeaderCellDef> Subject </th>
      <td class="article-subject" [title]="element.subject" mat-cell *matCellDef="let element"><a target="_blank"
          style="text-decoration: none; color: black;">{{element.subject}} </a> </td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="articleStatus">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let element"><a target="_blank"
          style="text-decoration: none; color: black;">{{element.articleStatus}} </a> </td>
    </ng-container>


    <!-- Web Portals -->
    <ng-container matColumnDef="webPortals">
      <th mat-header-cell *matHeaderCellDef> Web Portals </th>
      <td mat-cell (click)="viewTemplate(element.id)" *matCellDef="let element"><a target="_blank"
          style="text-decoration: none; color: black;">{{element.webPortals}}</a></td>
    </ng-container>

    <ng-container matColumnDef="locked">
      <th mat-header-cell *matHeaderCellDef> Locked </th>
      <td mat-cell (click)="viewTemplate(element.id)" *matCellDef="let element">
        <mat-icon *ngIf="element.lockedBy != null" mat-raised-button #tooltip="matTooltip"
          [matTooltip]="element.lockedDetails" matTooltipPosition="right">lock</mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsArticles"></tr>
    <tr mat-row (click)="viewArticle(row.articleId, row.languageId)" *matRowDef="let row; columns: displayedColumnsArticles;">
    </tr>

  </table>
  <mat-paginator #articlePaginator [pageSize]="10" [pageSizeOptions]="[10, 25, 60, 100]" showFirstLastButtons>
  </mat-paginator>
</div>

<div *ngIf="showSnippets === true" style="width:99.8%;" class="d-flex flex-column ">
  <table mat-table [dataSource]="dataSourceSnippets" matSort #snippetSort="matSort">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element">{{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="hasLockedArticles">
      <th mat-header-cell *matHeaderCellDef> Locked </th>
      <td (click)="viewSnippet(element.id)" style="display: flex; flex-direction: row; align-items: center;" mat-cell
        *matCellDef="let element">
        <mat-icon mat-raised-button matTooltipPosition="right">{{element.hasLockedArticles ? 'lock' : ''}}</mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsSnippets"></tr>
    <tr mat-row (click)="viewSnippet(row.id)" *matRowDef="let row; columns: displayedColumnsSnippets;">
    </tr>

  </table>
  <mat-paginator #snippetPaginator [pageSize]="10" [pageSizeOptions]="[10, 25, 60, 100]" showFirstLastButtons>
  </mat-paginator>
</div>
