<div class="d-flex flex-row align-center justify-content-between">
  <h1 class="mat-display-1">Web Portals</h1>
  <div>
    <button (click)="addWebPortal()" mat-raised-button color="primary"
      style="color: white; height: fit-content; margin-left: 20px;" type="submit">New Web Portal</button>
    <button (click)="deletePortal()" mat-stroked-button color="primary" type="button" style="margin-left: 20px;">Delete
      Portal</button>
  </div>
</div>
<div class="d-flex flex-column">
  <!-- <mat-accordion>
    <mat-expansion-panel [expanded]="portal.expanded" *ngFor="let portal of observable | async; let i = index">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{portal.name}}
        </mat-panel-title>
        <div style="margin-right: 10px; margin-top: 5px;" class="d-flex flex-row">
          <div style="margin-right: 10px;" class="d-flex flex-row flex-wrap">
            <h5 style="margin-right: 15; width: 9vw;">Type: <span
                style="font-weight: 800;">{{portal.portalTypeName}}</span></h5>
            <h5 style="margin-right: 10; width: 15vw;">Created By: <span
                style="font-weight: 800;">{{portal.createdBy}}</span></h5>
            <h5>Created Date: <span style="font-weight: 800;"> {{portal.createdDate | date: 'dd-MM-yyyy'}}</span></h5>
          </div>
          <div class="d-flex flex-row flex-wrap">
            <h5 style="margin-right: 10;width: 15vw;">Updated By: <span
                style="font-weight: 800;">{{portal.updatedBy}}</span></h5>
            <h5 style="width: 14vw;"> Updated Date: <span style="font-weight: 800;"> {{portal.updatedDate | date:
                'dd-MM-yyyy'}}</span></h5>
          </div>
        </div>
      </mat-expansion-panel-header>
      <form name="portalForm{{i}}" #portalForm{{i}}="ngForm" (ngSubmit)="saveWebPortal(portal.id)">
        <div class="d-flex flex-row">
          <div class="d-flex flex-column">
            <div class="d-flex flex-row justify-content-between align-center">
              <mat-form-field (click)="$event.stopPropagation()" style="width: 350px; padding-right: 10px;"
                color="accent">
                <mat-label>Portal Name</mat-label>
                <input type="text" required name="portalName{{i}}" #portalName{{i}}="ngModel" matInput
                  [(ngModel)]="portal.name">
                <mat-error>Name is required</mat-error>
              </mat-form-field>
              <mat-form-field style="width: 350px;" color="accent">
                <mat-label>Portal Type</mat-label>
                <mat-select name="webPortalType{{i}}" required #webPortalType{{i}}="ngModel" [(ngModel)]="portal.type">
                  <mat-option *ngFor="let type of portalType; let i = index" [value]="type.id">
                    {{type.name}}
                  </mat-option>
                </mat-select>
                <mat-error>Portal type is required</mat-error>
              </mat-form-field>
            </div>
            <div class="d-flex flex-row align-center">
              <mat-form-field style="width: 350px; padding-right: 10px;" color="accent">
                <mat-label>Roles</mat-label>
                <mat-select multiple name="roles{{i}}" #roles{{i}}="ngModel" [(ngModel)]="portal.roles">
                  <mat-option *ngFor="let role of roles; let i = index" [value]="role.id">
                    {{role.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field (click)="$event.stopPropagation()" style="width: 350px;" color="accent">
                <mat-label>Number of Popular Articles</mat-label>
                <input type="text" name="numOfPopular{{i}}" required #numOfPopular{{i}}="ngModel" matInput
                  [(ngModel)]="portal.numOfPopularArticles">
                <mat-error>Number of Popular Articles is required</mat-error>
              </mat-form-field>
            </div>
            <div class="d-flex flex-column justify-content-between">
              <mat-form-field style="width: 50%; padding-right: 10px;" appearance="outline" color="accent">
                <mat-label>Image</mat-label>
                <ngx-mat-file-input [valuePlaceholder]="featuredImageName" [accept]="'image/*'"
                  (change)="setFeaturedImage($event, i)" placeholder="Choose an image">
                </ngx-mat-file-input>
                <mat-icon matSuffix>folder</mat-icon>
              </mat-form-field>
              <div *ngIf="portal.logoUrl !== null" style="width: 50%;"><img style="width: 50%;" [src]="portal.logoUrl"
                  [alt]="portal.logoHref"></div>
            </div>
            <div class="d-flex flex-column">
              <mat-form-field style="width: 690px;" (click)="$event.stopPropagation()" color="accent">
                <mat-label>Logo Url</mat-label>
                <input type="text" name="logoUrl{{i}}" #logoUrl{{i}}="ngModel" matInput [(ngModel)]="portal.logoUrl">
              </mat-form-field>
              <mat-form-field (click)="$event.stopPropagation()" style="width: 400px;" color="accent">
                <mat-label>Logo Href</mat-label>
                <input type="text" name="logoHref{{i}}" #logoHref{{i}}="ngModel" matInput [(ngModel)]="portal.logoHref">
              </mat-form-field>
            </div>

          </div>
          <div style="width: 100%;" class="d-flex flex-row justify-content-between">
            <div class="d-flex flex-column flex-grow-1">
              <app-nested-tree-view [disableSelectAll]="true" [disableBox]="true" style="height: 43vh;"
                [readonly]="false" [selectedNodes]="portal.categories"
                (selectCategoryEvent)="setPortalCategories($event, i)">
              </app-nested-tree-view>
            </div>
            <div style="height: min-content;" class="d-flex flex-row">
              <button mat-raised-button color="primary" style="color: white; margin-right: 15px;"
                type="submit">Save</button>
              <button (click)="cancel(i)" *ngIf="portal.id === null" mat-stroked-button color="primary"
                type="button">Cancel</button>
            </div>
          </div>
        </div>
      </form>
    </mat-expansion-panel>
  </mat-accordion> -->
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element">{{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="portalTypeName">
      <th mat-header-cell *matHeaderCellDef> Type </th>
      <td mat-cell *matCellDef="let element">{{element.portalTypeName}} </td>
    </ng-container>

    <ng-container matColumnDef="createdBy">
      <th mat-header-cell *matHeaderCellDef> Created By </th>
      <td mat-cell *matCellDef="let element"> {{element.createdBy}} </td>
    </ng-container>

    <ng-container matColumnDef="createdDate">
      <th mat-header-cell *matHeaderCellDef> Created Date </th>
      <td mat-cell *matCellDef="let element"> {{element.createdDate | date: 'dd-MM-yyyy'}} </td>
    </ng-container>

    <ng-container matColumnDef="updatedBy">
      <th mat-header-cell *matHeaderCellDef> Updated By </th>
      <td mat-cell *matCellDef="let element"> {{element.updatedBy}} </td>
    </ng-container>

    <ng-container matColumnDef="updatedDate">
      <th mat-header-cell *matHeaderCellDef> Updated Date </th>
      <td mat-cell *matCellDef="let element"> {{element.updatedDate | date: 'dd-MM-yyyy'}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element">
        <mat-icon #tooltip="matTooltip" matTooltip="Edit Web Portal" (click)="editWebPortal(element.id)">
          drive_file_rename_outline</mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>
  <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 25, 60, 100]" showFirstLastButtons></mat-paginator>
</div>
