<div class="d-flex flex-row justify-content-between align-center">
  <h1 class="mat-display-1">Email Template</h1>
  <button mat-raised-button color="primary" style="color: white;" (click)="createTemplate()">New Template</button>
</div>
<div class="d-flex flex-row">
  <mat-form-field style="width: 75vh;" color="accent">
    <mat-label>Search</mat-label>
    <input (keydown)="applyFilter($event);" matInput type="text">
    <mat-icon matSuffix>{{'search'}}</mat-icon>
  </mat-form-field>
</div>
<div style="width:99.8%;" class="d-flex flex-column ">
  <table #table mat-table [dataSource]="dataSource" matSort>

    <!-- Subject Column -->
    <ng-container matColumnDef="subject">
      <th mat-header-cell *matHeaderCellDef > Subject </th>
      <td id="template" class="article-subject" [title]="element.name" mat-cell *matCellDef="let element">
        {{element.subject}} </td>
    </ng-container>

    <!-- Created By Column -->
    <ng-container matColumnDef="createdBy">
      <th mat-header-cell *matHeaderCellDef > Created By </th>
      <td id="template" mat-cell *matCellDef="let element"> {{element.createdBy}} </td>
    </ng-container>

    <!-- Created Date Column -->
    <ng-container matColumnDef="createdDate">
      <th mat-header-cell *matHeaderCellDef > Created Date </th>
      <td id="template" mat-cell *matCellDef="let element"> {{element.createdDate | date: 'dd-MM-yyyy HH:mm'}} </td>
    </ng-container>

    <!-- Updated By Column -->
    <ng-container matColumnDef="updatedBy">
      <th mat-header-cell *matHeaderCellDef > Updated By </th>
      <td id="template" mat-cell *matCellDef="let element"> {{element.updatedBy}} </td>
    </ng-container>

    <!-- Updated Date Column -->
    <ng-container matColumnDef="updatedDate">
      <th mat-header-cell *matHeaderCellDef > Updated Date </th>
      <td id="template" mat-cell *matCellDef="let element"> {{element.updatedDate | date: 'dd-MM-yyyy HH:mm'}} </td>
    </ng-container>


    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef > Action </th>
      <td id="template" mat-cell *matCellDef="let element">
        <mat-icon #tooltip="matTooltip" matTooltip="Edit Template" (click)="editTemplate(element.id)">
          drive_file_rename_outline</mat-icon>
        <mat-icon id="delete" #tooltip="matTooltip" matTooltip="Delete Template" (click)="deleteTemplate(element.id)">
          delete_forever</mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row (click)="viewTemplate(row.id, $event)" *matRowDef="let row; columns: displayedColumns;">
    </tr>

  </table>
  <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 25, 60, 100]" showFirstLastButtons></mat-paginator>
</div>
