<h1 class="mat-display-1">Synonyms</h1>
<div class="d-flex flex-row">
  <mat-form-field style="width: 300px; margin-right: 20px;" color="accent">
    <mat-label>Filter</mat-label>
    <input matInput id="search" (keyup)="applyFilter($event)" #input>
  </mat-form-field>
  <button color="primary" style="color: white; height: fit-content; margin-right: 20px;" mat-raised-button
    (click)="addSynonym();">Add Synonym Group</button>
  <button color="primary" style="color: white; height: fit-content;" mat-raised-button (click)="saveSynonyms();">Save
    Synonyms</button>
</div>
<form #synonymForm="ngForm" name="synonymForm">
  <div class="d-flex flex-column flex-wrap">
    <mat-card *ngFor="let synonym of observable | async; let i = index;"
      style="margin: 5px 20px 5px 20px; height: 135px;">
      <div class="d-flex flex-row align-items-center">
        <!-- <mat-form-field style="height: 6vh;" appearance="fill" color="accent">
          <input name="synonymName{{i}}" #synonymName{{i}}="ngModel" required type="text"
            placeholder="Example: search,examination" matInput [(ngModel)]="synonym.value">
          <mat-error>Field cannot be empty</mat-error>
        </mat-form-field> -->
        <mat-form-field appearance="fill" style="padding-right: 10px;" color="accent">
          <mat-label>Synonyms</mat-label>
          <mat-chip-list #chipList aria-label="Synonym list">
            <mat-chip *ngFor="let word of synonym.value" [selectable]="true" [removable]="true"
              (removed)="removeWord(word, synonym.id)">
              {{word}}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              [matChipInputAddOnBlur]="true" (matChipInputTokenEnd)="addWord($event, synonym.id)">
          </mat-chip-list>
        </mat-form-field>
        <mat-icon (click)="removeSynonym(i);">remove</mat-icon>
      </div>
    </mat-card>
  </div>
</form>
<mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons></mat-paginator>
