<div class="header">
  <h1 class="mat-headline" mat-dialog-title>Add Query Configuration</h1>
</div>
<div mat-dialog-content>
  <p class="dialog-message">Select Query Configuration Type</p>
  <form name="typeForm" #typeForm="ngForm">
    <mat-form-field color="accent">
      <label>Query Type</label>
      <mat-select matInput name="typeId" #typeId="ngModel" required [(ngModel)]="selectedType">
        <mat-option *ngFor="let type of data" [value]="type.id">{{type.name}}</mat-option>
      </mat-select>
      <mat-error>Query Type is required</mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" style="color: white;" (click)="confirm()">Yes</button>
  <button mat-button color="primary" style="margin-right:10px;" (click)="cancel()">Cancel</button>
</div>
