<div>
  <h1 class="mat-display-1">Footer Settings</h1>
</div>
<div class="d-flex flex-row">
  <mat-form-field appearance="fill" style="width: 350px; padding-right: 10px;" color="accent">
    <mat-label>Portal</mat-label>
    <mat-select (selectionChange)="onWebPortalChange();" name="webPortal" #webPortal="ngModel"
      [(ngModel)]="webPortalId">
      <mat-option *ngFor="let portal of webPortals; let i = index" [value]="portal.id">
        {{portal.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div>
  <button style="color: white;" (click)="addNewGroupModal()" mat-raised-button color="primary">New Link Group
  </button>
  <button (click)="sortLinkGroups()" mat-stroked-button color="primary">Save Link Groups Order</button>
  <div class="group-list list" style="margin-top: 20px;" cdkDropList #groupList="cdkDropList" [cdkDropListData]="groups"
    (cdkDropListDropped)="dropLinkGroup($event)">
    <mat-card class="group-box d-flex flex-row align-items-center" cdkDrag
      *ngFor="let group of groups; let groupIndex = index" style="width: 70%; margin-bottom: 15px;">
      <div style="flex: 1;">
        <form name="footerForm{{groupIndex}}" #footerForm="ngForm" (ngSubmit)="saveLinkGroups(groupIndex);">
          <mat-accordion style="flex: 1;" multi>
            <mat-expansion-panel [expanded]="group.expanded">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <mat-form-field (click)="$event.stopPropagation()" style="width: 350px;" color="accent">
                    <mat-label>Group Name</mat-label>
                    <input (keydown)="$event.stopPropagation()" type="text" matInput id="groupName{{groupIndex}}"
                      name="groupName{{groupIndex}}" #groupName{{groupIndex}}="ngModel" [(ngModel)]="group.name">
                    <mat-error>Group Name is required</mat-error>
                  </mat-form-field>
                  <button type="button" matTooltip="Add New Link"
                    (click)="$event.stopPropagation();addNewLinkToGroup(groupIndex);"
                    style="display: flex; flex-direction: column-reverse; align-items: center; margin-left: 20px; margin-top: 5px;"
                    mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon">
                    <mat-icon style="font-size: 20px; padding-top: 2px;" class="material-icons-light">add</mat-icon>
                  </button>
                  <button type="submit" matTooltip="Save Link Group" mat-mini-fab color="primary"
                    style="color: white; height: fit-content; margin-left: 20px; margin-top: 5px;display: flex; flex-direction: column-reverse; align-items: center;"
                    (click)="$event.stopPropagation();">
                    <mat-icon style="font-size: 20px;" class="material-icons-light">save</mat-icon>
                  </button>
                  <mat-checkbox color="primary" (click)="$event.stopPropagation()" class="align-self-center"
                    style="margin-left: 20px;" name="isSideGroup" #isSideGroup="ngModel" [(ngModel)]="group.isSideGroup"
                    (change)="onSideMenuCheckChange($event, group.id)">Side Group</mat-checkbox>
                </mat-panel-title>
                <span>
                  <mat-icon matTooltip="Add Group Name Translation"
                    (click)="addLinkGroupTranslation(groupIndex, linkIndex); $event.stopPropagation(); group.expanded = true"
                    style="margin-top: 20px; margin-right: 10px;">add_circle_outline</mat-icon>
                </span>
                <span>
                  <mat-icon matTooltip="Delete Link Group"
                    (click)="$event.stopPropagation(); removeLinkGroupModal(groupIndex);"
                    style="margin-top: 20px;  margin-right: 10px;">delete_forever</mat-icon>
                </span>
                <span>
                  <mat-icon matTooltip="Translations"
                    (click)="$event.stopPropagation(); group.expanded = !group.expanded"
                    style="margin-top: 20px;margin-right: 10px;">
                    g_translate</mat-icon>
                </span>
              </mat-expansion-panel-header>
              <div *ngFor="let translation of group.translations; let langIndex = index">
                <mat-form-field (click)="$event.stopPropagation()" style="width: 350px; margin-right: 15px;"
                  color="accent">
                  <mat-label>Translation</mat-label>
                  <input name="translationName{{langIndex}}" #translationName{{langIndex}}="ngModel" required
                    (keydown)="$event.stopPropagation()" type="text" matInput [(ngModel)]="translation.name">
                  <mat-error>Translation is required</mat-error>
                </mat-form-field>
                <mat-form-field (click)="$event.stopPropagation()" style="width: 155px; padding-right: 10px;"
                  color="accent">
                  <mat-label>Language</mat-label>
                  <mat-select name="languageId{{langIndex}}" #languageId{{langIndex}}="ngModel" required
                    [(ngModel)]="translation.languageId">
                    <mat-option *ngFor="let lang of languages; let i = index" [value]="lang.id">
                      {{lang.name}}
                    </mat-option>
                  </mat-select>
                  <mat-error>Language is required</mat-error>
                </mat-form-field>
                <span>
                  <mat-icon matTooltip="Delete Translation"
                    (click)="$event.stopPropagation(); removeGroupTranslation(groupIndex, langIndex)"
                    style="margin-top: 20px; margin-right: 10px;">remove_circle_outline</mat-icon>
                </span>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
          <mat-accordion class="group-list" cdkDropList #linkList="cdkDropList" [cdkDropListData]="group.links"
            (cdkDropListDropped)="dropLinks($event, groupIndex)" multi style="flex: 1;">
            <mat-expansion-panel class="group-box" cdkDrag [expanded]="link.expanded"
              *ngFor="let link of group.links; let linkIndex = index">
              <mat-expansion-panel-header style="padding-left: 45px !important;">
                <mat-panel-title>
                  <mat-form-field (click)="$event.stopPropagation()" style="width: 30%; padding-right: 15px;"
                    color="accent">
                    <mat-label>Link Name</mat-label>
                    <input name="linkName{{linkIndex}}" #linkName{{linkIndex}}="ngModel" required
                      (keydown)="$event.stopPropagation()" type="text" matInput [(ngModel)]="link.name">
                    <mat-error>Link Name is required</mat-error>
                  </mat-form-field>
                  <mat-form-field (click)="$event.stopPropagation()" color="accent">
                    <mat-label>Link Href</mat-label>
                    <input name="linkHref{{linkIndex}}" #linkHref{{linkIndex}}="ngModel" required
                      (keydown)="$event.stopPropagation()" type="text" matInput [(ngModel)]="link.href">
                    <mat-error>Link Href is required</mat-error>
                  </mat-form-field>
                </mat-panel-title>
                <span>
                  <mat-icon matTooltip="Add Link Translation"
                    (click)="addLinkTranslation(groupIndex, linkIndex); $event.stopPropagation(); link.expanded = true"
                    style="margin-top: 20px; margin-right: 10px;">add_circle_outline</mat-icon>
                </span>
                <span>
                  <mat-icon matTooltip="Delete Link"
                    (click)="$event.stopPropagation();removeLink(groupIndex, linkIndex)"
                    style="margin-top: 20px; margin-right: 10px;">remove_circle_outline</mat-icon>
                </span>
                <span>
                  <mat-icon matTooltip="Translations" (click)="$event.stopPropagation(); link.expanded = !link.expanded"
                    style="margin-top: 20px; margin-right: 10px">g_translate</mat-icon>
                </span>
              </mat-expansion-panel-header>
              <div style="padding-left: 45px !important;"
                *ngFor="let transl of link.translations; let langIndex = index">
                <mat-form-field class="translation" (click)="$event.stopPropagation()"
                  style="width: 350px; margin-right: 15px;" color="accent">
                  <mat-label>Translation</mat-label>
                  <input name="linkTrnaslationName{{linkIndex}}{{langIndex}}"
                    #linkTrnaslationName{{linkIndex}}{{langIndex}}="ngModel" required
                    (keydown)="$event.stopPropagation()" type="text" matInput [(ngModel)]="transl.name">
                  <mat-error>Translation is required</mat-error>
                </mat-form-field>
                <mat-form-field style="width: 155px; padding-right: 10px;" color="accent">
                  <mat-label>Language</mat-label>
                  <mat-select name="linkLanguage{{linkIndex}}{{langIndex}}"
                    #linkLanguage{{linkIndex}}{{langIndex}}="ngModel" required [(ngModel)]="transl.languageId">
                    <mat-option *ngFor="let lang of languages; let i = index" [value]="lang.id">
                      {{lang.name}}
                    </mat-option>
                  </mat-select>
                  <mat-error>Language is required</mat-error>
                </mat-form-field>
                <span>
                  <mat-icon matTooltip="Delete Translation"
                    (click)="$event.stopPropagation(); removeLinkTranslation(groupIndex, linkIndex, langIndex)"
                    style="margin-top: 20px; margin-right: 10px;">remove_circle_outline</mat-icon>
                </span>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </form>
      </div>
      <button type="button" matTooltip="Order" style="height: fit-content; margin-left: 10px; color: white;"
        mat-raised-button color="accent" cdkDragHandle>
        <mat-icon class="material-icons-light">reorder</mat-icon>
      </button>
    </mat-card>
  </div>
</div>













<!-- <div class="d-flex flex-column">
        <ng-container>
          <mat-form-field style="width: 350px;" color="accent">
            <mat-label>Group Name</mat-label>
            <input type="text" matInput [(ngModel)]="group.name">
          </mat-form-field>
        </ng-container>
      </div>
      <div style="padding-left: 15px;">
        <div  class="d-flex flex-row align-items-center" *ngFor="let link of group.links">
          <mat-form-field style="width: 30%; padding-right: 15px;" color="accent">
            <mat-label>Link Name</mat-label>
            <input type="text" matInput [(ngModel)]="link.name">
          </mat-form-field>
          <mat-form-field color="accent">
            <mat-label>Link Href</mat-label>
            <input type="text" matInput [(ngModel)]="link.href">
          </mat-form-field>
        </div>
      </div> -->
