.mat-expansion-panel-header {
  height: 70px !important;
}
span.mat-expansion-indicator {
  pointer-events: visiblefill !important;
}

// mat-expansion-panel-header
// {
//    pointer-events: none;
// }

.group-list {
  // width: 500px;
  // max-width: 100%;
  // border: solid 1px #ccc;
  // min-height: 60px;
  // display: block;
  // background: white;
  // border-radius: 4px;
  overflow: hidden;
}

.group-box {
  // padding: 20px 10px;
  // border-bottom: solid 1px #ccc;
  // color: rgba(0, 0, 0, 0.87);
  // display: flex;
  // flex-direction: row;
  // align-items: center;
  // justify-content: space-between;
  // box-sizing: border-box;
  // cursor: move;
  // background: white;
  // font-size: 14px;
  // width: 100%;
}

.cdk-drag-preview {
  //   box-sizing: border-box;
  //   // border-radius: 4px;
  //   box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  //               0 8px 10px 1px rgba(0, 0, 0, 0.14),
  //               0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.attach-box:last-child {
  // border: none;
}

.group-list.cdk-drop-list-dragging .group-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

