<div>
  <div class="header">
    <h2 class="mat-headline" mat-dialog-title>Delete Web Portals</h2>
  </div>
  <div mat-dialog-content>
    <div>
      <mat-form-field style="width: 350px; padding-right: 10px;" color="accent">
        <mat-label>Web Portal</mat-label>
        <mat-select name="portal" #portal="ngModel" [(ngModel)]="selectedPortal">
          <mat-option *ngFor="let portal of data.webPortals; let i = index" [value]="portal.id">
            {{portal.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>
<div mat-dialog-action>
  <button mat-stroked-button color="primary" style="margin-right: 20px;" (click)="deletePortal()">Delete Portal</button>
  <button mat-raised-button color="primary" style="color: white;" (click)="confirm()">Cancel</button>
</div>
