<div class="header">
  <h1 class="mat-headline" mat-dialog-title>{{ data.title }}</h1>
</div>
<div mat-dialog-content>
  <p class="dialog-message">{{ data.message }}</p>
  <form name="categoryEdit" #categoryEdit="ngForm">
    <mat-form-field color="accent">
      <label>Category Name</label>
      <input matInput name="categoryName" #categoryName="ngModel" required type="text" [(ngModel)]="data.category.name">
      <mat-error>Name is required</mat-error>
    </mat-form-field>
    <div *ngFor="let lang of data.category.translations; let i = index;">
      <mat-form-field color="accent">
        <label>{{lang.language}}</label>
        <input matInput name="language{{i}}" #language{{i}}="ngModel" required type="text" [(ngModel)]="lang.name">
        <mat-error>Trnaslation is required</mat-error>
      </mat-form-field>
    </div>
  </form>

</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" style="color: white;" (click)="confirm()">{{ data.confirmText }}</button>
  <button mat-button color="primary" style="margin-right:10px;" (click)="cancel()">{{ data.cancelText }}</button>
</div>
