<div ngxUiLoaderBlurred [loaderId]="'table'" style="width:99.8%;" class="d-flex flex-column">
  <div class="row mx-0">
    <div class="col-6">
      <p>
        Date range: <b>{{paging.reportDateFilterType == 'Range' ? (paging.fromDate | date: 'dd-MM-yyy') + ' - ' + (paging.untilDate | date: 'dd-MM-yyy') : paging.reportDateFilterType}}</b>
      </p>
      <p>
        Portal: <b>{{filters?.webPortal?.name ? filters?.webPortal?.name : '-'}}</b>
      </p>
    </div>
    <div class="col-6 align-self-end justify-content-end d-flex">
      <button style="height: 35px; color: white; margin: 0 5px 12px;" mat-raised-button color="primary" (click)="downloadExcel()">
        Export
      </button>
    </div>
  </div>

  <table #table mat-table [dataSource]="observable" matSort matSortActive="total" matSortDirection="desc" matSortDisableClear="true">

    <!-- Web Portal Column -->
    <ng-container matColumnDef="webPortal">
      <th mat-header-cell *matHeaderCellDef> Web portal </th>
      <td mat-cell *matCellDef="let element"> {{element.webPortalName}} </td>
    </ng-container>

    <!-- Draft Count Column -->
    <ng-container matColumnDef="draft">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> Draft </th>
      <td mat-cell *matCellDef="let element" class="text-center"> {{element.draftCount}} </td>
    </ng-container>

    <!-- Submited Count Column -->
    <ng-container matColumnDef="submitted">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> Submitted </th>
      <td mat-cell *matCellDef="let element" class="text-center"> {{element.submittedCount}} </td>
    </ng-container>

    <!-- Rejected Count Column -->
    <ng-container matColumnDef="rejected">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> Rejected </th>
      <td mat-cell *matCellDef="let element" class="text-center"> {{element.rejectedCount}} </td>
    </ng-container>

    <!-- Need Changes Count Column -->
    <ng-container matColumnDef="need_changes">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> Need changes </th>
      <td mat-cell *matCellDef="let element" class="text-center"> {{element.needChangesCount}} </td>
    </ng-container>

    <!-- Approved Count Column -->
    <ng-container matColumnDef="approved">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> Approved </th>
      <td mat-cell *matCellDef="let element" class="text-center"> {{element.approvedCount}} </td>
    </ng-container>

    <!-- Scheduled Count Column -->
    <ng-container matColumnDef="scheduled">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> Scheduled </th>
      <td mat-cell *matCellDef="let element" class="text-center"> {{element.scheduledCount}} </td>
    </ng-container>

    <!-- Published Count Column -->
    <ng-container matColumnDef="published">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> Published </th>
      <td mat-cell *matCellDef="let element" class="text-center"> {{element.publishedCount}} </td>
    </ng-container>

    <!-- Unpublished Count Column -->
    <ng-container matColumnDef="unpublished">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> Unpublished </th>
      <td mat-cell *matCellDef="let element" class="text-center"> {{element.unpublishedCount}} </td>
    </ng-container>

    <!-- Total Column -->
    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> Total </th>
      <td mat-cell *matCellDef="let element" class="text-center"> {{element.total}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>

  </table>
  <mat-paginator [length]="tableLength" [pageIndex]="pageIndex" [pageSize]="paging.numRecord"
    [pageSizeOptions]="[10, 25, 60, 100]" showFirstLastButtons></mat-paginator>
</div>


<table id="excel-table" class="d-none">
  <tr><td>Report name: Articles popularity</td> </tr>
  <tr><td>Date range: {{paging.reportDateFilterType == 'Range' ? (paging.fromDate | date: 'dd-MM-yyy') + ' - ' + (paging.untilDate | date: 'dd-MM-yyy') :null}}{{paging.reportDateFilterType == 'Today' ? (paging.fromDate_excel | date: 'dd-MM-yyy') :null}}{{paging.reportDateFilterType == 'Month' ? (paging.fromDate_excel | date: 'dd-MM-yyy') + ' - ' + (paging.untilDate_excel | date: 'dd-MM-yyy') :null}}{{paging.reportDateFilterType == 'Year' ? (paging.fromDate_excel | date: 'dd-MM-yyy') + ' - ' + (paging.untilDate_excel | date: 'dd-MM-yyy') :null}}{{paging.reportDateFilterType == 'Week' ? (paging.fromDate_excel | date: 'dd-MM-yyy') + ' - ' + (paging.untilDate_excel | date: 'dd-MM-yyy') :null}}</td></tr>
  <tr><td>User role: {{filters?.role?.name ? filters?.role?.name : '-'}}</td>
  <tr><td>Portal: {{filters?.webPortal?.name ? filters?.webPortal?.name : '-'}}</td></tr>
  <tr><td></td></tr>
  <tr>
     <th>Web portal</th>
     <th>Draft</th>
     <th>Submitted</th>
     <th>Rejected</th>
     <th>Need changes</th>
     <th>Approved</th>
     <th>Scheduled</th>
     <th>Published</th>
     <th>Unpublished</th>
     <th>Total</th>
  </tr>
  <tr *ngFor="let item of reportData">
     <td>{{ item.webPortalName }}</td>
     <td>{{ item.draftCount }}</td>
     <td>{{ item.submittedCount }}</td>
     <td>{{ item.rejectedCount }}</td>
     <td>{{ item.needChangesCount }}</td>
     <td>{{ item.approvedCount }}</td>
     <td>{{ item.scheduledCount }}</td>
     <td>{{ item.publishedCount }}</td>
     <td>{{ item.unpublishedCount }}</td>
     <td>{{ item.total }}</td>
  </tr>
</table>
