.example-tree-invisible {
  display: none;
}

.example-tree ul li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.central-page {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.editor {
  height: 50vh;
}

.tree-view {
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.node-checkbox {
  padding-top: 3px;
  padding-right: 5px;
}

.node-controls {
  display: flex;
  align-self: end;
}

.second-row {
  display: flex;
  flex-direction: row;
}

.first-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.related-span {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: default;
  background: white;
  font-size: 14px;
  width: 100%;
}

.send-comment {
  display: flex;
  flex-direction: row-reverse;
  text-align: end;
  align-items: center;
  padding-bottom: 13px;
}

.receive-comment {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 13px;
}

.comment-avatar {
  font-size: 25px;
  font-weight: 500;
  background: burlywood;
  color: white;
  border-radius: 137px;
  width: 50px;
  padding: 14px 0px 0px 0px;
  height: 50px;
  text-align: center;
}

mat-chip {
  font-size: 10px;
}

:host ::ng-deep .mat-chip-list-wrapper {
  min-height: 42px !important;
}

.mat-standard-chip.mat-chip-with-trailing-icon {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 5px;
  padding-left: 6px;
}

.related-questions {
  width: 50%;
  height: 450px;
}

.r-questions {
  max-height: 315px;
  overflow: auto;
}

.r-question {
  border: solid 1px #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.r-article {
  padding: 10px 10px;
  border: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
  margin-bottom: 10px;
}

.related-articles {
  max-width: 100%;
  min-height: 60px;
  display: block;
  background: white;
  overflow: hidden;
}

.external, .internal {
  width: 70%;
}
.attach-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 47vw;
  width: 47vw;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
