<div id="topOfPage" class="d-flex flex-row justify-content-between align-items-center">
  <h1 class="mat-display-1">{{!!article.subject ? article.subject : 'New Article'}}</h1>
  <h3 *ngIf="articleId !== null || articleAnotherLanguage === false" class="mat-subheading-1"
    style="padding-right: 30px;">Status: {{article.articleStatus}}</h3>
</div>
<div [hidden]="displayAttachModal === true">
  <div>
    <form (keydown.enter)="$event.preventDefault()" #contentForm="ngForm" name="contentForm"
      (ngSubmit)="submitArticle($event)">
      <div class="first-row">
        <mat-form-field appearance="fill" style="width: 168px; padding-right: 10px;" color="accent">
          <mat-label>Language</mat-label>
          <mat-select [disabled]="readonly === true || articleAnotherLanguage === true || articleId !== null"
            name="language" #language="ngModel" required [(ngModel)]="article.language"
            (selectionChange)="article.language = $event.value">
            <mat-option *ngFor="let lang of languages; let i = index" [value]="lang.id">
              {{lang.name}}
            </mat-option>
          </mat-select>
          <mat-error>Language is required</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" style="width: 69%; padding-right: 10px;" color="accent">
          <mat-label>Subject</mat-label>
          <input name="subject" [readonly]="readonly" maxlength="500" #subject="ngModel" required type="text" matInput
            [(ngModel)]="article.subject">
          <mat-error *ngIf="subject.invalid && (subject.dirty || subject.touched)">Subject is required</mat-error>
          <mat-error *ngIf="subject.hasError('maxlength')">Maximum of 500 characters is allowed</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" style="width: 200px; padding-right: 10px;" color="accent">
          <mat-label>Description</mat-label>
          <input [readonly]="readonly === true" name="description" type="text" [(ngModel)]="article.description"
            matInput>
        </mat-form-field>

        <mat-form-field appearance="fill" style="width: 200px;" color="accent">
          <mat-label>Roles</mat-label>
          <mat-select [disabled]="readonly === true || articleAnotherLanguage === true" name="roleIds"
            #roleIds="ngModel" (selectionChange)="setArticleRoles()" multiple [(ngModel)]="selectedRoles">
            <mat-option *ngFor="let role of articleRoles; let i = index" [value]="role.id">
              {{role.name}}
            </mat-option>
          </mat-select>
          <mat-error>Role is required</mat-error>
        </mat-form-field>

      </div>
      <div class="second-row">
        <mat-form-field appearance="fill" style="width: 100%;" color="accent">
          <mat-label>Excerpt</mat-label>
          <textarea [readonly]="readonly === true" name="excerpt" style="width: 100%;" spellcheck="false"
            [(ngModel)]="article.excerpt" matInput></textarea>
        </mat-form-field>
      </div>

      <div class="first-row align-items-center">
        <mat-form-field appearance="fill" style="width: 15%; padding-right: 10px;" appearance="outline" color="accent">
          <mat-label>Featured Image</mat-label>
          <ngx-mat-file-input name="imageUpload" #imageUpload id="imageUpload" [valuePlaceholder]="featuredImageName"
            [accept]="'image/*'" [disabled]="readonly" (change)="setFeaturedImage($event);"
            placeholder="Choose an image">
          </ngx-mat-file-input>
          <!-- <mat-icon matSuffix>folder</mat-icon> -->
        </mat-form-field>

        <mat-icon style="padding-right: 10px;" matTooltip="Preview Image" (click)="openImgPreview()">visibility
        </mat-icon>

        <mat-form-field appearance="fill" style="width: 15%; padding-right: 10px; padding-left: 10px;"
          appearance="outline" color="accent">
          <mat-label>Attachments</mat-label>
          <ngx-mat-file-input name="attachUpload" #attachUpload id="attachUpload" [valuePlaceholder]="attachmentNames"
            [disabled]="readonly === true" multiple="true" (change)="onFileChange($event, attachUpload);">
          </ngx-mat-file-input>
          <mat-icon matSuffix>attach_file</mat-icon>
        </mat-form-field>

        <div style="padding-right: 10px;">
          <button [disabled]="readonly  === true" [matBadge]="attachments.length" type="button" matBadgeColor="accent"
            color="primary" style="width: fit-content; color: white;" mat-raised-button (click)="openSortModal();">Sort
            attachments <mat-icon>swap_vert
            </mat-icon></button>
        </div>

        <mat-form-field appearance="fill" style="width: 700px; padding-right: 10px;" color="accent">
          <mat-label>Keywords</mat-label>
          <mat-chip-list #chipList aria-label="Keywords list">
            <mat-chip *ngFor="let keyword of keywordsArray" [selectable]="true" [removable]="keywordRemoveable"
              (removed)="removeKeyword(keyword)">
              {{keyword}}
              <mat-icon matChipRemove *ngIf="keywordRemoveable">cancel</mat-icon>
            </mat-chip>
            <input (paste)="pasteKeyword($event)" [readonly]="readonly" placeholder="New keyword..."
              [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              [matChipInputAddOnBlur]="true" (matChipInputTokenEnd)="addKeyword($event)">
          </mat-chip-list>
        </mat-form-field>

        <mat-form-field appearance="fill" style="width: 340px;" color="accent">
          <mat-label>SEO</mat-label>
          <mat-chip-list #chipListSeo aria-label="Seo list">
            <mat-chip *ngFor="let seo of seoArray" [selectable]="true" [removable]="seoRemoveable"
              (removed)="removeSeo(seo)">
              {{seo}}
              <mat-icon matChipRemove *ngIf="seoRemoveable">cancel</mat-icon>
            </mat-chip>
            <input (paste)="pasteSeo($event)" [readonly]="readonly" placeholder="New seo..."
              [matChipInputFor]="chipListSeo" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              [matChipInputAddOnBlur]="true" (matChipInputTokenEnd)="addSeo($event)">
          </mat-chip-list>
        </mat-form-field>
      </div>
      <div class="central-page">
        <!-- Internal Editor -->
        <div [hidden]="showInternal" class="internal">
          <div class="d-flex flex-row justify-content-between">
            <div class="d-flex flex-row align-items-center">
              <h2 style="width: 200px;">Internal Editor </h2>
              <mat-icon matTooltip="Edit Article" style="margin-bottom: 5px; margin-left: 10px;"
                *ngIf="readonly === true && (writer | permission)" (click)="editArticle()">
                drive_file_rename_outline</mat-icon>
            </div>
            <div>
              <mat-form-field style="width: 150px; padding-right: 10px;" color="accent">
                <mat-label>Device Preview</mat-label>
                <mat-select name="deviceInternal" #deviceInternal="ngModel" [(ngModel)]="selectedDevice">
                  <mat-option *ngFor="let device of previewDevices" [value]="device">{{device.deviceName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <button *ngIf="selectedDevice !== null" type="button" color="primary"
                style="width: fit-content; color: white;" mat-raised-button (click)="openDevicePreview();">Preview
                Article</button>
            </div>
            <mat-form-field style="width: 150px;" color="accent">
              <mat-label>Editor</mat-label>
              <mat-select [(value)]="internalEditor" (selectionChange)="showInternalExternal()">
                <mat-option value="internal-editor"> Internal Editor </mat-option>
                <mat-option value="external-editor"> External Editor </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <ckeditor (change)="ckOnChange($event)" [config]="ckconfig" [readOnly]="readonly"
            (fileUploadRequest)="ckFileUpload($event)" (fileUploadResponse)="ckFileResponse($event)"
            [editorUrl]="ckEditorUrl" name="internalCK" #internalCK="ngModel" [(ngModel)]="article.htmlBodyInternal">
          </ckeditor>
        </div>
        <!-- External Editor -->
        <div [hidden]="showExternal" class="external">
          <div class="d-flex flex-row justify-content-between">
            <div class="d-flex flex-row align-items-center">
              <h2 style="width: 200px;">External Editor </h2>
              <mat-icon matTooltip="Edit Article" style="margin-bottom: 5px; margin-left: 10px;"
                *ngIf="readonly === true && (writer | permission)" (click)="editArticle()">
                drive_file_rename_outline</mat-icon>
            </div>
            <div>
              <mat-form-field style="width: 150px;  padding-right: 10px;" color="accent">
                <mat-label>Device Preview</mat-label>
                <mat-select name="deviceExternal" #deviceExternal="ngModel" [(ngModel)]="selectedDevice">
                  <mat-option *ngFor="let device of previewDevices" [value]="device">{{device.deviceName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <button *ngIf="selectedDevice !== null" type="button" color="primary"
                style="width: fit-content; color: white;" mat-raised-button (click)="openDevicePreview();">Preview
                Article</button>
            </div>
            <mat-form-field style="width: 150px;" color="accent">
              <mat-label>Editor</mat-label>
              <mat-select [(value)]="internalEditor" (selectionChange)="showInternalExternal()">
                <mat-option value="internal-editor"> Internal Editor </mat-option>
                <mat-option value="external-editor"> External Editor </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <ckeditor (change)="ckOnChange($event)" [config]="ckconfig" [readOnly]="readonly"
            (fileUploadRequest)="ckFileUpload($event)" (fileUploadResponse)="ckFileResponse($event)"
            [editorUrl]="ckEditorUrl" name="externalCK" #externalCK="ngModel" [(ngModel)]="article.htmlBodyExternal">
          </ckeditor>
        </div>


        <!--Article Categories Tree View -->
        <div style="padding-top: 32px;" class="tree-view">
          <mat-form-field appearance="fill" style="width: 275px; padding-left: 33px; padding-top: 28px;" color="accent">
            <mat-label>Web Portals</mat-label>
            <mat-select multiple [disabled]="readonly === true || articleAnotherLanguage === true" name="webPortalsList"
              #webPortalsList="ngModel" [(ngModel)]="webPortalsFilter">
              <mat-option *ngFor="let portal of webPortals; let i = index" [value]="portal.id">
                {{portal.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <app-nested-tree-view [webPortals]="webPortalsFilter" [disableSelectAll]="true" [disableBox]="true"
            style="height: 54vh;" [readonly]="readonly === true ||articleAnotherLanguage === true"
            [selectedNodes]="article.categories" (selectCategoryEvent)="setArticleCategories($event)">
          </app-nested-tree-view>
        </div>
      </div>
      <div *ngIf="readonly === false && articleAnotherLanguage === false"
        class="d-flex flex-row justify-content-between" style="padding-bottom: 15px;">
        <div class="d-flex flex-row">
          <button id="draft" type="submit" (click)="articleStatus = draft" [disabled]="readonly"
            *ngIf="articleId === null || article.articleStatus === 'draft' || article.articleStatus === 'need_changes' ||  article.articleStatus === 'unpublished'"
            class="btn-custom-normal" style="width: auto; height: 4vh;">Save as
            Draft</button>

          <button id="submitted" type="submit" (click)="articleStatus = submit" [disabled]="readonly"
            *ngIf="articleId === null || article.articleStatus === 'need_changes' || article.articleStatus === 'draft'"
            class="btn-custom-confirm-full" style="width: auto; height: 4vh;">Submit</button>

          <button id="scheduled" type="submit" (click)="articleStatus = scheduled" [disabled]="readonly"
            *ngIf="article.articleStatus === 'approved' || article.articleStatus === 'submitted' || article.articleStatus === 'scheduled' || article.articleStatus === 'unpublished'"
            class="btn-custom-confirm-full" style="width: auto; height: 4vh;">Schedule</button>

          <button id="unpublished" type="submit" (click)="articleStatus = unpublished" [disabled]="readonly"
            *ngIf="article.articleStatus === 'published'" class="btn-custom-confirm-full"
            style="width: auto; height: 4vh;">Unpublish</button>

          <button id="approved" type="submit" (click)="articleStatus = approved"
            *ngIf="article.articleStatus === 'submitted'" class="btn-custom-confirm-full"
            style="width: auto; height: 4vh;">Approve</button>

          <button id="need_changes" type="submit" (click)="articleStatus = need_changes" [disabled]="readonly"
            *ngIf="article.articleStatus === 'submitted' || article.articleStatus === 'approved' || article.articleStatus === 'scheduled' || article.articleStatus === 'unpublished'"
            class="btn-custom-confirm-full" style="width: auto; height: 4vh;">Needs
            Changes</button>

          <button id="published" type="submit" (click)="articleStatus = published" [disabled]="readonly"
            *ngIf="article.articleStatus === 'approved' || article.articleStatus === 'scheduled' || article.articleStatus === 'submitted' || article.articleStatus === 'unpublished'"
            class="btn-custom-confirm-full" style="width: auto; height: 4vh;">Publish</button>

          <button id="published" type="submit" (click)="articleStatus = published" [disabled]="readonly"
            *ngIf="article.articleStatus === 'published'" class="btn-custom-confirm-full"
            style="width: auto; height: 4vh;">Update</button>

          <button id="reject" type="submit" (click)="articleStatus = reject" [disabled]="readonly"
            *ngIf="article.articleStatus === 'submitted'" class="btn-custom-confirm-full"
            style="width: auto; height: 4vh;">Reject</button>
        </div>
        <div>
          <button *ngIf="showUndoBtn" id="unod" type="button" (click)="revertChanges()" class="btn-custom-confirm-full"
            style="width: auto; height: 4vh;">Undo</button>
          <button *ngIf="articleId !== null && revisions !== null" id="rollback" type="button"
            (click)="openRevisionModal()" [disabled]="readonly" class="btn-custom-confirm-full"
            style="width: auto; height: 4vh;">Article Revisions</button>
        </div>

      </div>
      <div *ngIf="articleAnotherLanguage === true" class="d-flex" style="padding-bottom: 15px;">
        <button id="draft" type="submit" (click)="articleStatus = draft" [disabled]="readonly" class="btn-custom-normal"
          style="width: auto; height: 4vh;">Save as
          Draft</button>
        <button id="submitted" type="submit" (click)="articleStatus = submitted" [disabled]="readonly"
          class="btn-custom-confirm-full" style="width: auto; height: 4vh;">Submit</button>
      </div>
    </form>
  </div>

  <form (keydown.enter)="$event.preventDefault()" name="datesForm" #datesForm="ngForm">
    <div class="d-flex flex-row" style="border-top: 1px solid;border-bottom: 1px solid; margin-top: 40px;">
      <div style="padding-bottom: 40px; width: 100%;">
        <h2>Scheduling</h2>
        <div class="d-flex flex-row">
          <div style="margin-right: 11vw; width: 35vw;" class="flex-row justify-space-betwen">
            <h4>Date Settings</h4>
            <div class="flex-column">
              <div class="flex-row align-center">
                <mat-form-field appearance="fill" style="width: 250px; margin-right: 40px;" color="accent">
                  <mat-label>Published Date</mat-label>
                  <input
                    [disabled]="readonly === true || (articleId === null) || articleAnotherLanguage === true || article.articleStatus === 'draft' || article.articleStatus === 'need_changes' || article.articleStatus === 'published'"
                    [min]="minDate" name="scheduledDate" #scheduledDate="ngModel" matInput
                    [matDatepicker]="scheduledDate" [(ngModel)]="article.scheduledDate">
                  <mat-datepicker-toggle
                    [disabled]="readonly === true || (articleId === null) || articleAnotherLanguage === true || article.articleStatus === 'draft' || article.articleStatus === 'need_changes' || article.articleStatus === 'published'"
                    matSuffix [for]="scheduledDate">
                  </mat-datepicker-toggle>
                  <mat-datepicker #scheduledDate>
                  </mat-datepicker>
                  <mat-error>Invalid Date</mat-error>
                </mat-form-field>

                <mat-checkbox color="primary" class="checkbox"
                  [disabled]="(readonly === true || (articleId === null) ||articleAnotherLanguage === true || article.articleStatus === 'draft' || article.articleStatus === 'need_changes' || article.articleStatus === 'published') || article.scheduledDate === null"
                  labelPosition="after" name="sendSchedulePublishEmail" [(ngModel)]="article.sendSchedulePublishEmail">
                  Send Published Date Email
                </mat-checkbox>
              </div>
            </div>

            <div class="flex-column">
              <div class="flex-row align-center">
                <mat-form-field appearance="fill" style="width: 250px; margin-right: 40px;" color="accent">
                  <mat-label>Unpublished Date</mat-label>
                  <input
                    [disabled]="readonly === true || (articleId === null) || articleAnotherLanguage === true || article.articleStatus === 'draft' || article.articleStatus === 'need_changes'"
                    [min]="minDate" name="scheduledUnpublishedDate" #scheduledUnpublishedDate="ngModel" matInput
                    [matDatepicker]="scheduledUnpublishedDate" [(ngModel)]="article.scheduledUnpublishedDate">
                  <mat-datepicker-toggle
                    [disabled]="readonly === true || (articleId === null) || articleAnotherLanguage === true || article.articleStatus === 'draft' || article.articleStatus === 'need_changes'"
                    matSuffix [for]="scheduledUnpublishedDate">
                  </mat-datepicker-toggle>
                  <mat-datepicker #scheduledUnpublishedDate>
                  </mat-datepicker>
                  <mat-error>Invalid Date</mat-error>
                </mat-form-field>
                <mat-checkbox color="primary"
                  [disabled]="(readonly === true || (articleId === null) ||articleAnotherLanguage === true || article.articleStatus === 'draft' || article.articleStatus === 'need_changes') || article.scheduledUnpublishedDate === null"
                  class="checkbox" labelPosition="after" name="sendScheduleUnpublishEmail"
                  [(ngModel)]="article.sendScheduleUnpublishEmail"> Send Unpublish Date
                  Email
                </mat-checkbox>
              </div>
            </div>

            <div class="flex-column">
              <div class="flex-row align-center">
                <mat-form-field appearance="fill" style="width: 250px; margin-right: 40px;" color="accent">
                  <mat-label>Expiration Date</mat-label>
                  <input
                    [disabled]="readonly === true || (articleId === null) || articleAnotherLanguage === true || article.articleStatus === 'draft' || article.articleStatus === 'need_changes'"
                    [min]="article.scheduledDate" name="expirationDate" #expirationDate="ngModel" matInput
                    [matDatepicker]="expirationDate" [(ngModel)]="article.expirationDate">
                  <mat-datepicker-toggle
                    [disabled]="readonly === true || (articleId === null) || articleAnotherLanguage === true || article.articleStatus === 'draft' || article.articleStatus === 'need_changes'"
                    matSuffix [for]="expirationDate">
                  </mat-datepicker-toggle>
                  <mat-datepicker #expirationDate>
                  </mat-datepicker>
                  <mat-error>Invalid Date</mat-error>
                </mat-form-field>
                <mat-checkbox color="primary"
                  [disabled]="(readonly === true || (articleId === null) ||articleAnotherLanguage === true || article.articleStatus === 'draft' || article.articleStatus === 'need_changes') || article.expirationDate === null"
                  class="checkbox" labelPosition="after" name="sendExpirationEmail"
                  [(ngModel)]="article.sendExpirationEmail"> Send
                  Expiration Date Email
                </mat-checkbox>
              </div>
            </div>
            <div style="padding-top: 25px">
              <h4>Notifications</h4>
              <mat-form-field appearance="fill" color="accent">
                <mat-label>To</mat-label>
                <mat-chip-list #chipListEmailTo aria-label="EmailTo list">
                  <mat-chip *ngFor="let email of emailToArray" [selectable]="true"
                    [removable]="(readonly === false || articleId !== null || articleAnotherLanguage === true || article.articleStatus !== 'draft' || article.articleStatus !== 'need_changes') && (article.sendExpirationEmail === true || article.sendScheduleUnpublishEmail === true || article.sendSchedulePublishEmail === true)"
                    (removed)="removeEmailTo(email)">
                    {{email}}
                    <mat-icon matChipRemove *ngIf="emailToRemoveable">cancel</mat-icon>
                  </mat-chip>
                  <input
                    [readonly]="readonly === true || (article.sendExpirationEmail === false && article.sendScheduleUnpublishEmail === false && article.sendSchedulePublishEmail === false)"
                    [disabled]="articleId === null || article.articleStatus === 'draft'  || articleAnotherLanguage === true || article.articleStatus === 'need_changes'"
                    placeholder="New Email..." [matChipInputFor]="chipListEmailTo"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="true"
                    (matChipInputTokenEnd)="addEmailTo($event)">
                </mat-chip-list>
              </mat-form-field>

              <mat-form-field appearance="fill" color="accent">
                <mat-label>CC</mat-label>
                <mat-chip-list #chipListemailCc aria-label="emailCc list">
                  <mat-chip *ngFor="let email of emailCcArray" [selectable]="true"
                    [removable]="(readonly === false || articleId !== null || articleAnotherLanguage === true || article.articleStatus !== 'draft' || article.articleStatus !== 'need_changes') && (article.sendExpirationEmail === true || article.sendScheduleUnpublishEmail === true || article.sendSchedulePublishEmail === true)"
                    (removed)="removeemailCc(email)">
                    {{email}}
                    <mat-icon [hidden]="" matChipRemove *ngIf="emailCcRemoveable">cancel</mat-icon>
                  </mat-chip>
                  <input
                    [readonly]="readonly === true  || (article.sendExpirationEmail === false && article.sendScheduleUnpublishEmail === false && article.sendSchedulePublishEmail === false)"
                    [disabled]="(articleId === null) || article.articleStatus === 'draft' ||articleAnotherLanguage === true || article.articleStatus === 'need_changes'"
                    placeholder="New Email..." [matChipInputFor]="chipListemailCc"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="true"
                    (matChipInputTokenEnd)="addemailCc($event)">
                </mat-chip-list>
              </mat-form-field>
            </div>
          </div>
          <div class="tree-view" style="height: 37vh;padding-left: 25px;">
            <h4>Expiration Categories</h4>
            <app-nested-tree-view [disableSelectAll]="true"
              [disableBox]="articleId !== null && article.expirationDate !== null"
              [readonly]="readonly === true ||  (article.articleStatus === 'draft' || articleAnotherLanguage === true || article.articleStatus === 'need_changes')"
              style="height: 34vh;" [selectedNodes]="article.expirationCategories"
              (selectCategoryEvent)="setExpirationCategories($event)">
            </app-nested-tree-view>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex flex-row flex-wrap" style="border-bottom: 1px solid;">
      <div style="padding-right: 10px; width: 50%;">
        <h2>Related Articles</h2>
        <div class="d-flex flex-row">
          <mat-form-field appearance="fill" color="accent">
            <mat-label>Keyword</mat-label>
            <input name="keywords" #keywords="ngModel" [readonly]="readonly === true || articleAnotherLanguage === true"
              type="text" matInput [(ngModel)]="relatedArticleRequest.keyword">
          </mat-form-field>
        </div>
        <div>
          <button type="button" [disabled]="readonly  === true ||articleAnotherLanguage === true"
            (click)="openRelatedArticleModal();" class="btn-custom-normal" style="height: 4vh;">Manual</button>
          <button [disabled]="readonly" type="button" (click)="getRelatedArticles();" class="btn-custom-confirm"
            style="height: 4vh;">Generate</button>
        </div>
        <div style="padding-top: 10px; max-height: 278px; overflow: auto;">
          <mat-spinner *ngIf="showSpinner" color="accent" [diameter]="50"></mat-spinner>
          <div *ngIf="relatedArticles.length > 0" cdkDropList [cdkDropListData]="relatedArticles"
            (cdkDropListDropped)="dropRelatedArticle($event)" class="related-articles">
            <div class="r-article" cdkDrag [cdkDragData]="article"
              *ngFor="let article of relatedArticles; let i = index">
              <span>{{article.order}}. {{article.subject}}</span>
              <mat-icon (click)="removeRelatedArticle(i)">highlight_off</mat-icon>
            </div>
          </div>
        </div>
      </div>
      <div class="related-questions">
        <h2>Related Questions</h2>
        <div class="d-flex flex-row align-center">
          <mat-form-field appearance="fill" color="accent">
            <mat-label>Question</mat-label>
            <input (keyup.Enter)="addRelatedQuestion()" name="question" #question="ngModel"
              [(ngModel)]="relatedQuestion" [readonly]="readonly === true || articleAnotherLanguage === true"
              type="text" matInput>
          </mat-form-field>
          <button mat-raised-button color="primary" style="height: fit-content; margin-bottom: 15px; margin-left: 10px;"
            (click)="addRelatedQuestion()">Add</button>
        </div>
        <div class="r-questions">
          <div *ngFor="let question of article.relatedQuestions; let i = index"
            class="d-flex flex-row align-center justify-content-between r-question">
            <span>{{question}}</span>
            <mat-icon matSuffix (click)="removeRelatedQuestion(i)">highlight_off</mat-icon>
          </div>
        </div>
      </div>
    </div>
    <div class="comments" style="width: 50%;">
      <h2>Internal Comments </h2>
      <mat-form-field appearance="fill" color="accent">
        <input [readonly]="readonly === true || articleAnotherLanguage === true" type="text" id="commentId"
          [(ngModel)]="commentNgModel" name="commentId" #commentId="ngModel" matInput (keydown.Enter)="insertComment()"
          placeholder="Write a comment...">
        <mat-icon matSuffix (click)="insertComment()">
          send</mat-icon>
      </mat-form-field>
      <div style="height: 350px; overflow-y: auto;">
        <div *ngFor="let comment of article.comments">
          <div [ngClass]="{'send-comment' : comment.userId == userId, 'receive-comment' : comment.userId != userId}">
            <span class="comment-avatar">{{comment.initials}}</span>
            <div class="d-flex flex-column" style="padding-left: 10px; padding-right: 10px;">
              <span>{{comment.text}}</span>
              <span style="font-size: 12px; font-weight: 300;">{{comment.commentDate | date: 'dd-MM-yyyy
                HH:mm'}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div *ngIf="displayAttachModal === true">
  <button mat-button color="primary" (click)="displayAttachModal = false">
    <mat-icon matPrefix>chevron_left</mat-icon> Back
  </button>
  <div class="attachments">
    <div class="attach-list" #dropList=cdkDropList cdkDropList [cdkDropListData]="article.attachments"
      (cdkDropListDropped)="dropAttachment($event)">
      <div cdkDrag [cdkDragData]="attach" class="d-flex flex-row align-items-center attach-box"
        *ngFor="let attach of attachments; let i = index">
        <span [title]="attach.name" class="attach-name">{{attach.order}}. {{attach.name}}</span>
        <mat-icon (click)="removeAttachment(i)">highlight_off</mat-icon>
      </div>
    </div>  
  </div>
</div>
