<h1 class="mat-display-1">Comments</h1>
<div class="d-flex flex-row align-items-center flex-wrap" style="margin-left: 1%;">
  <mat-form-field style="width: 300px; padding-right: 20px;" color="accent">
    <mat-label>Comment Type</mat-label>
    <mat-select disableOptionCentering="true" [(ngModel)]="commentType"
      (selectionChange)="commentFilter.commentType = $event.value">
      <mat-option [value]="null">None</mat-option>
      <mat-option *ngFor="let type of commentTypes; let i = index" [value]="type.name">
        {{type.displayName}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field style="width: 300px; padding-right: 20px;" color="accent">
    <mat-label>Comment Status</mat-label>
    <mat-select multiple disableOptionCentering="true" [(ngModel)]="selectedCommentStatuses"
      (selectionChange)="commentFilter.commentStatuses = selectedCommentStatuses">
      <mat-option *ngFor="let status of commentStatuses; let i = index" [value]="status.name">
        {{status.displayName}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field style="width: 300px; padding-right: 20px;" color="accent">
    <mat-label>Web Portal</mat-label>
    <mat-select disableOptionCentering="true" [(ngModel)]="webPortalId"
      (selectionChange)="commentFilter.webPortalId = $event.value">
      <mat-option [value]="null">None</mat-option>
      <mat-option *ngFor="let portal of webPortals; let i = index" [value]="portal.id">
        {{portal.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field style="width:300px; padding-right: 20px;" color="accent">
    <mat-label>Article Id</mat-label>
    <input type="text" matInput [(ngModel)]="commentFilter.articleId">
  </mat-form-field>

  <button mat-raised-button color="primary" style="color: white;" (click)="getAllComments()">Filter Comments</button>
</div>

<div class="d-flex flex-column " style="width: 98%; margin-left: 1%;">
  <table mat-table [dataSource]="observable" matSort>
    <!-- Web Portal Column -->
    <ng-container matColumnDef="webPortalName">
      <th mat-header-cell *matHeaderCellDef> Web Portal </th>
      <td mat-cell *matCellDef="let element">{{element.webPortalName}} </td>
    </ng-container>

    <!-- Subject Status Column -->
    <ng-container matColumnDef="subject">
      <th mat-header-cell *matHeaderCellDef> Subject </th>
      <td mat-cell *matCellDef="let element"> {{element.subject}} </td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="userEmail">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.userEmail}} </td>
    </ng-container>

    <!-- Created By Full Name Column -->
    <ng-container matColumnDef="createdByFullName">
      <th mat-header-cell *matHeaderCellDef> Created By </th>
      <td mat-cell *matCellDef="let element"> {{element.createdByFullName}} </td>
    </ng-container>

    <!-- Created Date Column -->
    <ng-container matColumnDef="createdDate">
      <th mat-header-cell *matHeaderCellDef> Created Date </th>
      <td mat-cell *matCellDef="let element"> {{element.createdDate | date: 'dd-MM-yyyy HH:mm'}} </td>
    </ng-container>

    <!-- Updated By Full Name Column -->
    <ng-container matColumnDef="updatedByFullName">
      <th mat-header-cell *matHeaderCellDef> Updated By </th>
      <td mat-cell *matCellDef="let element"> {{element.updatedByFullName}} </td>
    </ng-container>

    <!-- Updated Date Column -->
    <ng-container matColumnDef="updatedDate">
      <th mat-header-cell *matHeaderCellDef> Updated Date </th>
      <td mat-cell *matCellDef="let element"> {{element.updatedDate | date: 'dd-MM-yyyy HH:mm'}} </td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let element"> {{element.status}} </td>
    </ng-container>

    <!-- Type Column -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef> Type </th>
      <td mat-cell *matCellDef="let element"> {{element.type}} </td>
    </ng-container>

    <!-- Language Column -->
    <ng-container matColumnDef="language">
      <th mat-header-cell *matHeaderCellDef> Language </th>
      <td mat-cell *matCellDef="let element"> {{element.language}} </td>
    </ng-container>

    <!-- Portal Type Column -->
    <ng-container matColumnDef="portalType">
      <th mat-header-cell *matHeaderCellDef> Portal Type </th>
      <td mat-cell *matCellDef="let element"> {{element.portalType}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openCommentModal(row.id)">
    </tr>

  </table>
  <mat-paginator [pageSize]="commentFilter.numComments" [length]="total" [pageSizeOptions]="[10, 25, 60, 100]"
    showFirstLastButtons>
  </mat-paginator>
</div>
<ngx-ui-loader [loaderId]="'comment'"></ngx-ui-loader>
