<div style="height: 100%;">
  <div>
    <h3 mat-dialog-title>Select Related Articles</h3>
    <mat-form-field color="accent">
      <mat-label>Search Article Title</mat-label>
      <input (keyup)="keywordInput();" name="keyword" type="text" [(ngModel)]="paging.keyword" matInput>
    </mat-form-field>
    <mat-checkbox color="primary" class="checkbox" (change)="getArticles()" [(ngModel)]="paging.filterByCategory">Filter
      By Categories</mat-checkbox>
  </div>
  <div class="d-flex flex-row justify-content-between">
    <div class="d-flex flex-column">
      <span>Related Articles</span>
      <div *ngIf="articleList.articles !== null" class="attach-list">
        <div style="cursor: pointer;" class="d-flex flex-row align-items-center attach-box"
          *ngFor="let article of observable | async; let i = index">
          <span>{{article.subject}}</span>
          <mat-icon (click)="addArticle(article.id)">add_box</mat-icon>
        </div>
      </div>
      <mat-paginator [pageSize]="pageSize" [pageIndex]="pageIndex" [length]="tableLength" (page)="pageChange($event)"
        [pageSizeOptions]="[10, 15, 30, 50]" showFirstLastButtons></mat-paginator>
    </div>
    <div class="d-flex flex-column">
      <span>Selected Articles</span>
      <div>
        <div *ngIf="selectedArticles.length > 0" class="attach-list">
          <div style="cursor: pointer;" class="d-flex flex-row align-items-center attach-box"
            *ngFor="let article of selectedArticles; let i = index">
            <span>{{article.subject}}</span>
            <mat-icon (click)="removeArticle(i)">highlight_off</mat-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="confirm()">Save</button>
    <button mat-button color="primary" style="margin-right:10px;" (click)="cancel()">Cancel</button>
  </div>
</div>
