// .example-container {
//   display: flex;
//   flex-direction: column;
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   right: 0;
// }

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.example-app-name {
  margin-left: 8px;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
  display: flex;
  width: 20%;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

.main {
  flex: 1;
  height: 99vh;
  max-height: 100%;
  display: flex;
  flex-direction: column;
}

.menu-spacer {
  flex: 1 1 auto;
}

.main-content {
  display: flex;
  flex: 1;
  overflow-y: auto;
  position: relative;
}

.content-area {
  flex: 1;
  opacity: 1;
  // margin: 0% 2.5% 1% 2.5%;
  padding-top: 1%;
}

.toolbar-title {
  display: flex;
  justify-content: flex-start;
}

.toolbar-button {
  display: flex;
  flex-direction: row;
  // button:hover {
  //   font-family: "Montserrat 600";
  //   transition: all 0.9s ease;
  // }
}

.username {
  padding-left: 30px;
  .mat-icon {
    font-size: 30px !important;
  }
}

.nav-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-content: space-between;
  li {
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
  }
  a {
    color: black;
    position: relative;
    display: inline-block;
  }

  a:hover,
  a:active,
  a:visited,
  a:focus {
    text-decoration: none;
  }

  a:active::after {
    // content: "";
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0%;
    height: 2px;
    background: black;
    transform: scaleX(1);
    // transition: transform 0.35s ease;
  }

  a::after {
    content: "";
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    height: 2px;
    background: black;
    transform: scaleX(0);
    transition: transform 0.35s ease;
  }

  a:hover::after {
    transform: scaleX(1);
  }

}

::ng-deep .mat-drawer-container {
  background-color: white !important;
}

.mat-form-field-infix {
  padding: 0 !important;
}


:host ::ng-deep .mat-select-portal .mat-select-value {
  color: white !important;
}

:host ::ng-deep .mat-select-portal .mat-form-field-infix {
  background: #da291c;
  border: 0;
  // border-bottom-color: #da291c;
}

:host ::ng-deep .mat-select-portal .mat-form-field-underline {
  display: none;
}

:host ::ng-deep .mat-select-portal .mat-select-arrow-wrapper {
  color: white !important;
}
:host ::ng-deep .mat-select-portal .mat-select-arrow {
  color: white !important;
}

:host ::ng-deep .mat-select-portal .mat-form-field-empty {
  color: white !important;
  margin-left: 5px !important;
  padding-left: 5px !important;
}

:host ::ng-deep .mat-select-portal .mat-form-field-label ng-tns-c8-4 ng-star-inserted {
  color: white !important;
  margin-left: 5px !important;
  padding-left: 5px !important;
}

:host ::ng-deep .mat-select-portal .mat-select-value-text {
  color: white !important;
  margin-left: 5px !important;
  padding-left: 5px !important;
}

.lang-local {
  margin-right: 10px;
  font-size: 12pt;
  cursor: pointer;
  text-transform: uppercase;
  font-family: 'A1Sans-Regular';
  font-weight: normal;
  color: rgb(191, 191, 191);
}

.lang-local-active {
  @extend .lang-local;
  font-weight: 400;
  color: black;
}

.lang-local:hover {
  font-weight: 400;
  color: black;
}
