<div class="main">
  <mat-toolbar style="background: white; display: flex; flex-direction: row; align-items: center; padding-right: 35px;">
    <img style="width: 90px;" src="assets/img/A1_Logo_Red.jpg" alt="">
    <mat-toolbar-row style="padding-left: 0; padding-right: 0;">
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon style="font-size: 24px !important;">menu</mat-icon>
      </button>

      <div class="toolbar-button" fxShow="true" fxHide.lt-md>
        <ul class="nav-list" style="padding-left: 31px;">
          <button [hidden]="isSystemAdmin === true" style="z-index:1050" mat-button #button
            [matMenuTriggerFor]="articleMenu" #articleMenuTrigger="matMenuTrigger"
            (mouseleave)="buttonLeave(articleMenuTrigger, button)" (mouseenter)="buttonEnter(articleMenuTrigger)">
            <a id="article-management" routerLink="/articles/article-management">Article Management</a>
          </button>
          <mat-menu #articleMenu="matMenu" direction="down" yPosition="below">
            <span (mouseenter)="menuenter()" (mouseleave)="menuLeave(articleMenuTrigger, button)">
              <button *ngIf="(writer | permission) && isSystemAdmin === false" id="categories" mat-menu-item
                routerLink="/articles/categories">Categories</button>
              <button *ngIf="(writer | permission) && isSystemAdmin === false" id="comments" mat-menu-item
                routerLink="/articles/comments">Comments</button>
              <button *ngIf="(writer | permission) && isSystemAdmin === false" id="snippets" mat-menu-item
                routerLink="/articles/snippets">Snippets</button>
              <button *ngIf="(writer | permission) && isSystemAdmin === false" id="templates" mat-menu-item
                routerLink="/articles/templates">Templates</button>
              <button *ngIf="(supervisor | permission) && isSystemAdmin === false" id="find-and-replace" mat-menu-item
                routerLink="/articles/find-and-replace">Find and
                Replace</button>
            </span>
          </mat-menu>
          <button [hidden]="!(supervisor | permission) || isSystemAdmin === true" style="z-index:1050" mat-button
            #button [matMenuTriggerFor]="siteMenu" #siteMenuTrigger="matMenuTrigger"
            (mouseleave)="buttonLeave(siteMenuTrigger, button)" (mouseenter)="buttonEnter(siteMenuTrigger)">
            <a id="site-settings">Site Settings</a>
          </button>
          <mat-menu #siteMenu="matMenu" direction="down" yPosition="below">
            <span (mouseenter)="menuenter()" (mouseleave)="menuLeave(siteMenuTrigger, button)">
              <button *ngIf="(supervisor | permission) && isSystemAdmin === false" id="query-management" mat-menu-item
                routerLink="/site-settings/query-management">Query
                Management</button>
              <button *ngIf="(supervisor | permission) && isSystemAdmin === false" id="synonyms" mat-menu-item
                routerLink="/site-settings/synonyms">Synonyms</button>
              <button *ngIf="(admin | permission) && isSystemAdmin === false" id="sections" mat-menu-item
                routerLink="/site-settings/sections">Sections</button>
              <button *ngIf="(admin | permission) && isSystemAdmin === false" id="footer-settings" mat-menu-item
                routerLink="/site-settings/footer-settings">Footer
                Settings</button>
              <button *ngIf="(admin | permission) && isSystemAdmin === false" id="web-portals" mat-menu-item
                routerLink="/site-settings/web-portals">Web Portal</button>
            </span>
          </mat-menu>
          <button style="z-index:1050" mat-button #button [matMenuTriggerFor]="appMenu" #appMenuTrigger="matMenuTrigger"
            (mouseleave)="buttonLeave(appMenuTrigger, button)" (mouseenter)="buttonEnter(appMenuTrigger)">
            <a>Application Settings</a>
          </button>
          <mat-menu #appMenu="matMenu" direction="down" yPosition="below">
            <span (mouseenter)="menuenter()" (mouseleave)="menuLeave(appMenuTrigger, button)">
              <button *ngIf="(systemAdmin | permission) || isSystemAdmin === true" id="application-settings"
                mat-menu-item routerLink="/application-settings/tenant">Tenants</button>
              <button *ngIf="(supervisor | permission) && isSystemAdmin === false" id="email-templates" mat-menu-item
                routerLink="/application-settings/email-templates">Email
                Templates</button>
              <button *ngIf="(writer | permission) && isSystemAdmin === false" id="roles" mat-menu-item
                routerLink="/application-settings/roles">Roles</button>
              <button *ngIf="(supervisor | permission) && isSystemAdmin === false" id="user-management" mat-menu-item
                routerLink="/application-settings/user-management">User
                Management</button>
              <button [hidden]="isSystemAdmin === true" id="file-share-management" mat-menu-item
                routerLink="/application-settings/media-management">Media
                Management</button>
            </span>
          </mat-menu>
          <button style="z-index:1050" mat-button #button [matMenuTriggerFor]="reportsMenu"
            #reportsMenuTrigger="matMenuTrigger" (mouseleave)="buttonLeave(reportsMenuTrigger, button)"
            (mouseenter)="buttonEnter(reportsMenuTrigger)">
            <a id="reports" routerLink="/reports/view">Reports</a>
          </button>
          <mat-menu #reportsMenu="matMenu" direction="down" yPosition="below">
            <span (mouseenter)="menuenter()" (mouseleave)="menuLeave(appMenuTrigger, button)">
              <button mat-menu-item routerLink="/reports/view/{{menu.name}}" *ngFor="let menu of reportMenus">
                {{menu.displayName}}
              </button>
              <!-- <button mat-menu-item routerLink="/reports/articleopenings">
                Open / Read articles KPI
              </button>
              <button mat-menu-item routerLink="/reports/articlegrades">
                Article ratings KPI
              </button>
              <button mat-menu-item routerLink="/reports/statuses">
                Article statuses KPI
              </button>
              <button mat-menu-item routerLink="/reports/bookmarks">
                Bookmark statistics KPI
              </button>
              <button mat-menu-item routerLink="/reports/searchphrases">
                Keywords and phrases KPI
              </button>
              <button mat-menu-item routerLink="/reports/categories">
                Article Category KPI
              </button> -->
            </span>
          </mat-menu>
        </ul>
      </div>
      <span class="menu-spacer"></span>
      <div class="toolbar-button">
        <span class="toolbar-button">
          <button *ngIf="(writer | permission) && isSystemAdmin === false" routerLink="/articles/create-article"
            class="btn-custom-red">Write</button>
        </span>
        <span class="username d-flex flex-row" style="padding-right: 20px;">
          <mat-icon style="width: unset !important; height: unset !important;" #button [matMenuTriggerFor]="userMenu"
            #userMenuTrigger="matMenuTrigger">person</mat-icon>
          <mat-menu #userMenu="matMenu" direction="down" yPosition="below">
            <span>
              <button mat-menu-item>{{userFullName}}</button>
              <span *ngIf="isSystemAdmin == false" (click)="$event.stopPropagation()" mat-menu-item>
                <mat-form-field color="primary">
                  <mat-label>Default Language</mat-label>
                  <mat-select disableOptionCentering="true" [(ngModel)]="defaultLanguage"
                    (selectionChange)="setDefaultLanguage($event.value)">
                    <mat-option *ngFor="let lang of languages; let i = index" [value]="lang.id">
                      {{lang.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </span>
              <span *ngIf="isSystemAdmin == false" (click)="$event.stopPropagation()" mat-menu-item>
                <mat-form-field color="primary">
                  <mat-label>Default Web Portal</mat-label>
                  <mat-select disableOptionCentering="true" [(ngModel)]="defaultWebPortal"
                    (selectionChange)="setDefaultWebPortal($event.value)">
                    <mat-option [value]="null">None</mat-option>
                    <mat-option *ngFor="let portal of webPortals; let i = index" [value]="portal.id">
                      {{portal.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </span>
              <button mat-menu-item (click)="logout()">Log out <mat-icon>logout</mat-icon></button>
            </span>
          </mat-menu>
        </span>
        <span class="d-flex flex-row justify-content-between" *ngIf="showLanguage === true">
          <div #langLocal *ngFor="let lang of languages;">
            <span [ngClass]="language == lang.id ? 'lang-local-active' : 'lang-local'"
              (click)="setLanguage(lang.id)">{{lang.local}}</span>
          </div>
        </span>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="main-content">
    <div class="content-area">
      <mat-sidenav-container fxFlexFill>
        <mat-sidenav #sidenav>
          <mat-nav-list>
            <a [hidden]="isSystemAdmin === true" id="article-management" mat-list-item
              routerLink="/article/article-management">Article Management</a>
            <a *ngIf="(writer | permission) && isSystemAdmin === false" id="categories" mat-menu-item
              routerLink="/articles/categories">Categories</a>
            <a *ngIf="(writer | permission) && isSystemAdmin === false" id="comments" mat-menu-item
              routerLink="/articles/comments">Comments</a>
            <a *ngIf="(writer | permission) && isSystemAdmin === false" id="snippets" mat-menu-item
              routerLink="/articles/snippets">Snippets</a>
            <a *ngIf="(writer | permission) && isSystemAdmin === false" id="templates" mat-menu-item
              routerLink="/articles/templates">Templates</a>
            <a *ngIf="(supervisor | permission) && isSystemAdmin === false" id="query-management" mat-list-item
              routerLink="/site-settings/query-management">Query
              Management</a>
            <a *ngIf="(supervisor | permission) && isSystemAdmin === false" id="synonyms" mat-menu-item
              routerLink="/site-settings/synonyms">Synonyms</a>
            <a *ngIf="(admin | permission) && isSystemAdmin === false" id="sections" mat-menu-item
              routerLink="/site-settings/sections">Sections</a>
            <a *ngIf="(admin | permission) && isSystemAdmin === false" id="footer-settings" mat-menu-item
              routerLink="/site-settings/footer-settings">Footer
              Settings</a>
            <a *ngIf="(admin | permission) && isSystemAdmin === false" id="web-portals" mat-menu-item
              routerLink="/site-settings/web-portals">Web Portal</a>
            <a *ngIf="(systemAdmin | permission) || isSystemAdmin === false" id="application-settings" mat-list-item
              routerLink="/application-settings/tenant">Tenants</a>
            <a *ngIf="(supervisor | permission) && isSystemAdmin === false" id="email-templates" mat-menu-item
              routerLink="/application-settings/email-templates">Email
              Templates</a>
            <a *ngIf="(writer | permission) && isSystemAdmin === false" id="roles" mat-menu-item
              routerLink="/application-settings/roles">Roles</a>
            <a *ngIf="(supervisor | permission) && isSystemAdmin === false" id="user-management" mat-menu-item
              routerLink="/application-settings/user-management">User
              Management</a>
            <a [hidden]="isSystemAdmin === true" id="file-share-management" mat-menu-item
              routerLink="/application-settings/media-management">Media
              Management</a>
          </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content style="padding:  0% 35px 1% 35px;">
          <router-outlet></router-outlet>
        </mat-sidenav-content>
      </mat-sidenav-container>
    </div>
    <ngx-ui-loader [loaderId]="'l-1'"></ngx-ui-loader>
  </div>

</div>
