<div class="header">
  <h1 class="mat-headline" mat-dialog-title>Create Artice For Another Language</h1>
</div>
<div mat-dialog-content>
  <div *ngIf="languages.length > 0 else: lang ">
    <p class="dialog-message">Select Language</p>
    <form name="languageForm" #languageForm="ngForm">
      <mat-form-field color="accent">
        <label>Language</label>
        <mat-select matInput name="languageId" #languageId="ngModel" required type="text" [(ngModel)]="data.languageId">
          <mat-option *ngFor="let lang of languages" [value]="lang.id">{{lang.name}}</mat-option>
        </mat-select>
        <mat-error>Language is required</mat-error>
      </mat-form-field>
    </form>
  </div>
  <ng-template #lang>
    Article exists in all languages
  </ng-template>
</div>
<div mat-dialog-actions>
  <button *ngIf="languages.length > 0" mat-raised-button color="primary" style="color: white;" (click)="confirm()">Yes</button>
  <button mat-button color="primary" style="margin-right:10px;" (click)="cancel()">Cancel</button>
</div>
