<form name="portalForm" #portalForm="ngForm" (ngSubmit)="saveWebPortal()">
  <div class="d-flex flex-row justify-content-between">
    <h1 class="mat-display-1">{{webPortalId ? 'Update Web Portal' : 'Create Web Portal'}}</h1>
    <div style="height: min-content;" class="d-flex flex-row">
      <button mat-raised-button color="primary" style="color: white; margin-right: 15px;" type="submit">Save</button>
      <button (click)="cancel()" mat-stroked-button color="primary" type="button">Cancel</button>
    </div>
  </div>
  <div class="d-flex flex-row">
    <div class="d-flex flex-column" style="width: 100%;">
      <div class="d-flex flex-row justify-content-between align-center">
        <mat-form-field style="padding-right: 10px;" color="accent">
          <mat-label>Portal Name</mat-label>
          <input type="text" required name="portalName" #portalName="ngModel" matInput [(ngModel)]="webPortal.name">
          <mat-error>Name is required</mat-error>
        </mat-form-field>
        <mat-form-field color="accent">
          <mat-label>Portal Type</mat-label>
          <mat-select name="webPortalType" required #webPortalType="ngModel" [(ngModel)]="webPortal.type">
            <mat-option *ngFor="let type of portalType; let i = index" [value]="type.id">
              {{type.name}}
            </mat-option>
          </mat-select>
          <mat-error>Portal type is required</mat-error>
        </mat-form-field>
      </div>
      <div class="d-flex flex-row align-center flex-wrap">
        <mat-form-field style="padding-right: 10px;" color="accent">
          <mat-label>Roles</mat-label>
          <mat-select multiple name="role" #role="ngModel" [(ngModel)]="webPortal.roles">
            <mat-option *ngFor="let role of roles; let i = index" [value]="role.id">
              {{role.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="d-flex flex-row align-center">
        <mat-form-field style="margin-right: 10px;" color="accent">
          <mat-label>Number of Popular Articles</mat-label>
          <input type="text" name="numOfPopular" required #numOfPopular="ngModel" matInput
            [(ngModel)]="webPortal.numOfPopularArticles">
          <mat-error>Number of Popular Articles is required</mat-error>
        </mat-form-field>
        <mat-form-field color="accent">
          <mat-label>Number of Listed Articles</mat-label>
          <input type="text" name="numOfListed" required #numOfListed="ngModel" matInput
            [(ngModel)]="webPortal.numOfListedArticles">
          <mat-error>Number of Listed Articles is required</mat-error>
        </mat-form-field>
      </div>
      <div class="d-flex flex-column justify-content-between">
        <mat-form-field style="padding-right: 10px;" appearance="outline" color="accent">
          <mat-label>Image</mat-label>
          <ngx-mat-file-input [valuePlaceholder]="featuredImageName" [accept]="'image/*'"
            (change)="setFeaturedImage($event)" placeholder="Choose an image">
          </ngx-mat-file-input>
          <mat-icon matSuffix>folder</mat-icon>
        </mat-form-field>
        <div *ngIf="webPortal.logoUrl !== null" style="width: 50%;"><img style="width: 50%;" [src]="webPortal.logoUrl"
            [alt]="webPortal.logoHref"></div>
      </div>
      <div class="d-flex flex-column">
        <mat-form-field color="accent">
          <mat-label>Logo Url</mat-label>
          <input type="text" name="logoUrl" #logoUrl="ngModel" matInput [(ngModel)]="webPortal.logoUrl">
        </mat-form-field>
        <mat-form-field color="accent">
          <mat-label>Logo Href</mat-label>
          <input type="text" name="logoHref" #logoHref="ngModel" matInput [(ngModel)]="webPortal.logoHref">
        </mat-form-field>
      </div>

    </div>
    <div style="width: 60%;" class="d-flex flex-row justify-content-between">
      <div class="d-flex flex-column flex-grow-1">
        <app-nested-tree-view [disableSelectAll]="true" [disableBox]="true" style="height: 70vh;" [readonly]="false"
          [selectedNodes]="webPortal.categories" (selectCategoryEvent)="setPortalCategories($event)">
        </app-nested-tree-view>
      </div>
    </div>
  </div>
</form>
