<h1 class="mat-display-1">Media Management</h1>
<div style="margin-left: 1%; margin-right: 1%;" class="d-flex flex-row align-items-center justify-content-between">
  <div class="d-flex flex-row align-items-center">
    <mat-form-field style="width: 75vh;" color="accent">
      <mat-label>Search</mat-label>
      <input id="topOfPage" [(ngModel)]="filter.filter" (keydown.Enter)="searchMedia();" matInput type="text">
      <mat-icon (click)="searchMedia()" matSuffix>{{'search'}}</mat-icon>
    </mat-form-field>
    <mat-checkbox (change)="checked($event)" color="primary" [(ngModel)]="filter.onlyAuthors">Only Mine</mat-checkbox>
  </div>
  <mat-form-field *ngIf="writer | permission" style="width: 15%; padding-right: 10px;" appearance="outline"
    color="accent">
    <mat-label>Upload Media</mat-label>
    <ngx-mat-file-input name="imageUpload" #imageUpload id="imageUpload" multiple [accept]="'image/*,video/*'"
      (change)="multipleUpload($event, imageUpload)" placeholder="Choose an media file">
    </ngx-mat-file-input>
    <mat-icon matSuffix>folder</mat-icon>
  </mat-form-field>
</div>
<div class="d-flex flex-row flex-wrap aling-items-center">
  <mat-card class="mat-card" *ngFor="let media of observable | async">
    <mat-card-header class="mat-card-head" style="height: 80px;">
      <mat-card-title [title]="media.originalName" class="media-title">{{media.originalName}}</mat-card-title>
      <mat-card-subtitle>{{media.createdBy}}</mat-card-subtitle>
    </mat-card-header>
    <div *ngIf="media.isVideo === false">
      <img style="height: 200px; object-fit: contain;" mat-card-image [src]="media.path" [alt]="media.originalName">
    </div>
    <div *ngIf="media.isVideo === true">
      <video controls style="height: 200px; object-fit: contain;" [src]="media.path"></video>
    </div>
    <mat-card-actions class="d-flex flex-row justify-content-between">
      <div class="d-flex flex-row">
        <mat-icon (click)="copyUrl(media.path)" matTooltip="Copy URL">content_copy</mat-icon>
        <mat-icon matTooltip="Download" (click)="downloadMedia(media.fileShareName)">download
        </mat-icon>
      </div>
      <mat-icon *ngIf="writer | permission" matTooltip="Delete File" (click)="deleteFile(media.fileShareName)">delete_forever</mat-icon>

    </mat-card-actions>
  </mat-card>
</div>
<mat-paginator id="paginator" (page)="pageChange($event)" [length]="tableLength" [pageSize]="filter.numOfRows"
  [pageSizeOptions]="[10, 25, 60, 100]" showFirstLastButtons></mat-paginator>
