.mat-card {
  width: 400px;
  background: #f2f2f2;
  margin-bottom: 20px;
  margin-right: 40px;
}

mat-card-title {
  font-size: 18px !important;
}

.media-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  width: 100%;
}

:host ::ng-deep .mat-card-header-text {
  width: -moz-available !important;
  width: -webkit-fill-available !important;
  width: stretch !important;
}

::ng-deep {
  #paginator {
    .mat-form-field-wrapper {
      width: 60px;
    }
  }
}
