<div class="header">
  <h1 class="mat-headline" mat-dialog-title>Sort attachments</h1>
</div>
<div mat-dialog-content>
  <div #scrollableParent class="attachments">
    <div class="attach-list" #dropList=cdkDropList cdkDropList [cdkDropListData]="attachments" (cdkDropListDropped)="dropAttachment($event)">
      <div cdkDrag [cdkDragData]="attach" class="d-flex flex-row align-items-center attach-box"
        *ngFor="let attach of attachments; let i = index">
        <span [title]="attach.name" class="attach-name">{{attach.order}}. {{attach.name}}</span>
        <mat-icon (click)="removeAttachment(i)">highlight_off</mat-icon>
      </div>
    </div>
  </div>

</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" style="color: white;" (click)="confirm()">Save</button>
  <button mat-raised-button color="primary" style="margin-right:10px;" (click)="cancel()">Cancel</button>
</div>
