<div ngxUiLoaderBlurred [loaderId]="'table'" style="width:99.8%;" class="d-flex flex-column">
  <div class="row mx-0">
    <div class="col-6">
      <p>
        Date range: <b>{{paging.reportDateFilterType == 'Range' ? (paging.fromDate | date: 'dd-MM-yyy') + ' - ' + (paging.untilDate | date: 'dd-MM-yyy') : paging.reportDateFilterType}}</b>
      </p>
      <p>
        User role: <b>{{filters?.role?.name ? filters?.role?.name : '-'}}</b>
      </p>
      <p>
        Portal: <b>{{filters?.webPortal?.name ? filters?.webPortal?.name : '-'}}</b>
      </p>
    </div>
    <div class="col-6 align-self-end justify-content-end d-flex">
      <button style="height: 35px; color: white; margin: 0 5px 12px;" mat-raised-button color="primary" (click)="downloadExcel()">
        Export
      </button>
    </div>
  </div>

  <table #table mat-table [dataSource]="observable" matSort matSortActive="total" matSortDirection="desc" matSortDisableClear="true">

    <!-- Search Phrase Subject Column -->
    <ng-container matColumnDef="searchPhrase">
      <th mat-header-cell *matHeaderCellDef class="col-10"> Search phrase </th>
      <td mat-cell *matCellDef="let element"> {{element.searchPhrase}} </td>
    </ng-container>

    <!-- Total Column -->
    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> Sum </th>
      <td mat-cell *matCellDef="let element" class="text-center"> {{element.total}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>

  </table>
  <mat-paginator [length]="tableLength" [pageIndex]="pageIndex" [pageSize]="paging.numRecord"
    [pageSizeOptions]="[10, 25, 60, 100]" showFirstLastButtons></mat-paginator>
</div>

<table id="excel-table" class="d-none">
  <tr><td>Report name: Articles popularity</td> </tr>
  <tr><td>Date range: {{paging.reportDateFilterType == 'Range' ? (paging.fromDate | date: 'dd-MM-yyy') + ' - ' + (paging.untilDate | date: 'dd-MM-yyy') :null}}{{paging.reportDateFilterType == 'Today' ? (paging.fromDate_excel | date: 'dd-MM-yyy') :null}}{{paging.reportDateFilterType == 'Month' ? (paging.fromDate_excel | date: 'dd-MM-yyy') + ' - ' + (paging.untilDate_excel | date: 'dd-MM-yyy') :null}}{{paging.reportDateFilterType == 'Year' ? (paging.fromDate_excel | date: 'dd-MM-yyy') + ' - ' + (paging.untilDate_excel | date: 'dd-MM-yyy') :null}}{{paging.reportDateFilterType == 'Week' ? (paging.fromDate_excel | date: 'dd-MM-yyy') + ' - ' + (paging.untilDate_excel | date: 'dd-MM-yyy') :null}}</td></tr>
  <tr><td>User role: {{filters?.role?.name ? filters?.role?.name : '-'}}</td>
  <tr><td>Portal: {{filters?.webPortal?.name ? filters?.webPortal?.name : '-'}}</td></tr>
  <tr><td></td></tr>
  <tr>
     <th>Search phrase</th>
     <th>Sum</th>
  </tr>
  <tr *ngFor="let item of reportData">
     <td>{{ item.searchPhrase }}</td>
     <td>{{ item.total }}</td>
  </tr>
</table>
