@font-face {
  font-family: "A1Serif-Bold";
  src: local("A1Serif-Bold"), url(./A1Serif-Bold.ttf) format("truetype"),
    url("./A1Serif-Bold.eot?#iefix") format("embedded-opentype");
}

@font-face {
  font-family: "A1Serif-Regular";
  src: local("A1Serif-Regular"), url(./A1Serif-Regular.ttf) format("truetype"),
    url("./A1Serif-Regular.eot?#iefix") format("embedded-opentype");
}

@font-face {
  font-family: "A1Sans-Regular";
  src: local("A1Sans-Regular"), url(./A1Sans-Regular.ttf) format("truetype"),
  url("./A1Sans-Regular.eot?#iefix") format("embedded-opentype");
}

@font-face {
  font-family: "A1Sans-Bold";
  src: local("A1Sans-Bold"), url(./A1Sans-Bold.ttf) format("truetype"),
  url("./A1Sans-Bold.eot?#iefix") format("embedded-opentype");
}

@font-face {
  font-family: "Verdana";
  src: local("Verdana"), url(./verdana_1.ttf) format("truetype"),
  url("./verdana_1.eot#iefix") format("embedded-opentype");
}
