<div ngxUiLoaderBlurred [loaderId]="'table'" style="width:99.8%;" class="d-flex flex-column">
  <div class="row mx-0">
    <div class="col-6">
      <p>
        Portal: <b>{{filters?.webPortal?.name ? filters?.webPortal?.name : '-'}}</b>
      </p>
    </div>
    <div class="col-6 align-self-end justify-content-end d-flex">
      <button style="height: 35px; color: white; margin: 0 5px 12px;" mat-raised-button color="primary" (click)="downloadExcel()">
        Export
      </button>
    </div>
  </div>

  <table #table mat-table [dataSource]="observable" matSort matSortActive="total" matSortDirection="desc" matSortDisableClear="true">

    <!-- Web Portal Column -->
    <ng-container matColumnDef="webPortal">
      <th mat-header-cell *matHeaderCellDef> Web portal </th>
      <td mat-cell *matCellDef="let element"> {{element.webPortalName}} </td>
    </ng-container>

    <!-- Levels Column -->
    <ng-container *ngFor="let level of levels; let i = index">
      <ng-container matColumnDef="level{{i+1}}">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> Level {{i + 1}} </th>
        <td mat-cell *matCellDef="let element" class="text-center"> {{element['level' + (i + 1)] ? element['level' + (i + 1)] : 0}} </td>
      </ng-container>
    </ng-container>

    <!-- Total Column -->
    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> Total </th>
      <td mat-cell *matCellDef="let element" class="text-center"> {{element.total}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>

  </table>
  <mat-paginator [length]="tableLength" [pageIndex]="pageIndex" [pageSize]="paging.numRecord"
    [pageSizeOptions]="[10, 25, 60, 100]" showFirstLastButtons></mat-paginator>
</div>

<table id="excel-table" class="d-none">
  <tr><td>Report name: Articles popularity</td> </tr>
  <tr><td>Date range: {{(paging.fromDate_excel | date: 'dd-MM-yyy') + ' - ' + (paging.untilDate_excel | date: 'dd-MM-yyy')}}</td></tr>
  <tr><td>User role: {{filters?.role?.name ? filters?.role?.name : '-'}}</td>
  <tr><td>Portal: {{filters?.webPortal?.name ? filters?.webPortal?.name : '-'}}</td></tr>
  <tr><td></td></tr>
  <tr>
     <th>Web portal</th>
     <ng-container *ngFor="let level of reportLevels; let i = index">
       <th>Level {{i + 1}}</th>
     </ng-container>
     <th>Total</th>
  </tr>
  <tr *ngFor="let item of reportData">
     <td>{{ item.webPortalName }}</td>
     <ng-container *ngFor="let level of reportLevels; let i = index">
      <td>{{ item['level' + (i + 1)] }}</td>
     </ng-container>
     <td>{{ item.total }}</td>
  </tr>
</table>
