<div class="d-flex flex-row justify-content-between align-items-center">
  <h1 class="mat-display-1">Query Management</h1>
  <button mat-raised-button color="primary" style="height: fit-content;" (click)="createQueryConfigModal()">Add Query
    Config</button>
</div>
<mat-tab-group #tabGroup style="height: 90%;" [(selectedIndex)]="selectedTabIndex" mat-align-tabs="start">
  <mat-tab style="height: 100%;" label="Query Tester">
    <div class="d-flex flex-row" style="margin-top: 20px;">
      <mat-form-field style="width: 300px; padding-right: 10px;" color="accent">
        <mat-label>Portal</mat-label>
        <mat-select (selectionChange)="onPortalSelectionChange()" name="webPortalId" #webPortalId="ngModel"
          [(ngModel)]="paging.webPortalId">
          <mat-option *ngFor="let portal of webPortals; let i = index" [value]="portal.id">
            {{portal.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field style="width: 155px; padding-right: 10px;" color="accent">
        <mat-label>Query</mat-label>
        <mat-select (selectionChange)="getAllArticles()" name="queryType" #queryType="ngModel"
          [(ngModel)]="paging.queryTypeId">
          <mat-option *ngFor="let type of queryTypes; let i = index" [value]="type.id">
            {{type.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="d-flex flex-row">
      <mat-form-field style="width: 75vh;" color="accent">
        <mat-label>Search</mat-label>
        <input [(ngModel)]="paging.search" (keydown.Enter)="searchArticles();" matInput type="text">
        <mat-icon (click)="searchArticles()" matSuffix>{{'search'}}</mat-icon>
      </mat-form-field>
    </div>
    <div class="d-flex flex-row-reverse">
      <div style="width:99.8%;" class="d-flex flex-column">
        <div style="margin-bottom: 30px;" class="d-flex flex-column article-query"
          *ngFor="let article of observable | async; let i = index">
          <div class="d-flex flex-row align-items-center">
            <span class="article-category-span" *ngFor="let category of article.categories"
              [innerHtml]="category.name | safeHtml"></span>
            <span class="article-date">{{article.publishedDate | date: 'd.MM.yyyy' }}</span>
          </div>
          <div>
            <p [innerHtml]="article.subject | safeHtml" class="article-subject"></p>
          </div>
          <div>
            <p [innerHtml]="article.excerpt | safeHtml" id="articleExcerpt{{i}}" class="article-excerpt"></p>
          </div>
          <div>
            <span (click)="previewArticleBody(article.htmlBody)"
              class="d-flex flex-row align-items-start article-show-body">Article Body <mat-icon mat-sufix>
                chevron_right</mat-icon></span>
          </div>
        </div>
        <mat-paginator [length]="tableLength" [pageIndex]="pageIndex" [pageSize]="paging.numArticles"
          [pageSizeOptions]="[10, 25, 60, 100]" showFirstLastButtons></mat-paginator>
      </div>
      <div class="article-categories">
        <p-tieredMenu [showTransitionOptions]="'500ms'" [hideTransitionOptions]="'500ms'" autoDisplay="true"
          [model]="nodes"></p-tieredMenu>
      </div>
    </div>
  </mat-tab>
  <mat-tab *ngFor="let config of queryConfigs; let queryIndex = index" [label]="config.queryTypeName">
    <button style="margin-top: 20px;" mat-raised-button color="primary" (click)="updateQueryConfig(queryIndex)">Save
      Query</button>
    <div class="d-flex flex-row justify-content-between" style="margin-top: 15px;">
      <div class="d-flex flex-column">
        <div class="d-flex flex-row">
        </div>
        <div class="d-flex flex-row flex-wrap">
          <mat-card *ngFor="let rel of config.relevanceSerialized; let relevanceIndex = index"
            style="width: 40vh; margin: 10px 50px 20px 0px;">
            <div>
              <div class="d-flex flex-row justify-content-between">
                <h4>{{rel.field}}</h4>
              </div>
              <div style="display: flex; flex-direction: column;">
                <mat-checkbox color="primary" [(ngModel)]="rel.isSearchable">Search field?</mat-checkbox>
                <mat-slider [ngModel]="rel.boost" style="width: 30vh;" thumbLabel tickInterval="10" step="0.1" min="1"
                  max="10"></mat-slider>
              </div>
            </div>
            <div class="boost-title">
              <h4>Boosts</h4>
              <button mat-raised-button color="primary" style="color: white;"
                (click)="addBoost(queryIndex, relevanceIndex)">Add Boost</button>
            </div>
            <div class="boosts" *ngFor="let b of rel.boostValues; let boostIndex = index">
              <mat-icon matTooltip="Remove Boost" style="cursor: pointer"
                (click)="removeBoost(queryIndex, relevanceIndex, boostIndex)">remove_circle_outline
              </mat-icon>
              <mat-form-field style="margin-right: 5px;" color="accent">
                <mat-label>Boost word</mat-label>
                <input type="text" matInput [(ngModel)]="b.word">
              </mat-form-field>
              <mat-slider [(ngModel)]="b.boost" thumbLabel tickInterval="10" step="0.1" min="1" max="10"></mat-slider>
            </div>
          </mat-card>
        </div>
      </div>
      <div class="d-flex flex-column">
        <mat-slide-toggle *ngIf="config.id != null" (change)="markAsActive(config.id)" [checked]="config.isActive"
          [(ngModel)]="config.isActive">
          Activate Query
        </mat-slide-toggle>
        <mat-form-field style="width: 350px;" color="accent">
          <mat-label>Fuzziness</mat-label>
          <input type="text" matInput [(ngModel)]="config.fuzziness">
        </mat-form-field>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
