.relevance-flex {
  display: flex;
  flex-direction: row;
}

.boost-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.boosts {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 6px;
}

th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
  border-bottom-width: 0px;
}

:host ::ng-deep .mat-row {
  background: #f2f2f2;
}

.category-node {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 7px;
  font-size: 13px !important;
  cursor: pointer;
  .material-icons {
    color: #da291c;
  }
}

.article-categories {
  // width: 20vh;
  // height: 84vh;
  // overflow-y: auto;
  // overflow-x: hidden !important;
  margin-right: 240px;
  margin-top: 20px;
  position: relative;
  display: inline-block;
  mat-icon:hover,
  mat-icon:active,
  mat-icon:visited,
  mat-icon:focus {
    text-decoration: none;
  }
}
.article-categories::-webkit-scrollbar {
  width: 5px;
}

.article-categories::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #da291c;
  border-radius: 10px;
}

.article-category {
  padding: 4px 0 4px;
  span {
    cursor: pointer;
  }
}

.article-category-span {
  color: #c3c3c3;
  // font-weight: 700;
  font-size: 14px;
  margin-right: 5px;
  line-height: 24px;
  font-family: 'A1Sans-Regular';
}

.article-date {
  color: #c3c3c3;
  font-size: 14px;
  font-style: normal;
  // font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  font-family: 'A1Sans-Regular';
}

.article-excerpt {
  color: black;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  font-family: 'A1Serif-Regular';
}

.article-subject {
  font-size: 19px;
  font-style: normal;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: left;
  font-family: 'A1Serif-Bold';
}

.article-show-body {
  color: #da291c;
  cursor: pointer;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: left;
}

span {
  #highlight {
    background-color: yellow;
  }
}

::ng-deep .mat-tab-label-active {
  font-weight: 700;
  color: black !important;
}

::ng-deep .mat-tab-label {
  opacity: 1 !important;
}

p-tieredmenu {
  z-index: 10000;
  position: absolute;
}

::ng-deep .p-tieredmenu .p-menuitem-link .p-menuitem-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 16px;
  -webkit-tap-highlight-color: unset;
}

::ng-deep .p-menuitem-active {
  background-color: unset;
  background: none !important;
}

::ng-deep .p-tieredmenu .p-menuitem-link:focus {
  box-shadow: none;
  color: #da291c;
}

::ng-deep .p-tieredmenu {
  border: none !important;
  width: 14.5rem !important;
}

::ng-deep .p-component {
  font-family: "A1Sans-Regular";
  font-size: 14px;
  color: rgb(128, 128, 128);
}

::ng-deep .p-tieredmenu .p-menuitem.p-menuitem-active > .p-menuitem-link .p-menuitem-text {
  color: #da291c;
  background-color: unset;
  background: none;
}

::ng-deep .p-tieredmenu .p-menuitem.p-menuitem-active > .p-menuitem-link {
  background-color: unset;
  background: none;
}

::ng-deep .mat-tab-body {
  height: 73vh !important;
}
