<div>
  <h1 class="mat-headline" mat-dialog-title>Article Revisions</h1>
</div>
<div style="height: 100%;" mat-dialog-content>
  <div class="d-flex flex-column " style="width: 98%; margin-left: 1%;">
    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="subject">
        <th mat-header-cell *matHeaderCellDef> Subject </th>
        <td mat-cell *matCellDef="let element">{{element.subject}} </td>
      </ng-container>

      <ng-container matColumnDef="articleStatus">
        <th mat-header-cell *matHeaderCellDef> Article Status </th>
        <td mat-cell *matCellDef="let element"> {{element.articleStatus}} </td>
      </ng-container>

      <ng-container matColumnDef="updatedBy">
        <th mat-header-cell *matHeaderCellDef> Updated By </th>
        <td mat-cell *matCellDef="let element"> {{element.updatedBy}} </td>
      </ng-container>

      <ng-container matColumnDef="updatedDate">
        <th mat-header-cell *matHeaderCellDef> Date Updated </th>
        <td mat-cell *matCellDef="let element"> {{element.updatedDate | date:
          'dd-MM-yyyy'}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row (click)="getArticleRevisionContent(row.id)" *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>
    <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 25, 60, 100]" showFirstLastButtons></mat-paginator>
  </div>
  <div *ngIf="articleRevision !== null">
    <div class="d-flex flex-row flex-wrap">
      <div class="d-flex flex-row fields justify-content-between">
        <mat-form-field style="width: 80%; margin-right: 10px;" appearance="fill" color="accent">
          <mat-label>Subject</mat-label>
          <input name="subject" readonly type="text" matInput [(ngModel)]="articleRevision.subject">
        </mat-form-field>

        <mat-form-field style="width: 80%; margin-right: 10px;" appearance="fill" color="accent">
          <mat-label>Status</mat-label>
          <input name="stauts" readonly type="text" matInput [(ngModel)]="articleRevision.articleStatus">
        </mat-form-field>

        <mat-form-field style="width: 80%" appearance="fill" color="accent">
          <mat-label>Description</mat-label>
          <input readonly name="description" type="text" [(ngModel)]="articleRevision.description" matInput>
        </mat-form-field>
      </div>

      <mat-form-field appearance="fill" style="width: 100%;" color="accent">
        <mat-label>Excerpt</mat-label>
        <textarea readonly name="excerpt" style="width: 100%;" spellcheck="false" [(ngModel)]="articleRevision.excerpt"
          matInput></textarea>
      </mat-form-field>

      <mat-form-field appearance="fill" color="accent">
        <mat-label>Keywords</mat-label>
        <mat-chip-list #chipList aria-label="Keywords list">
          <mat-chip *ngFor="let keyword of articleRevision.keywords" [selectable]="false" [removable]="false">
            {{keyword}}
          </mat-chip>
          <input readonly [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="true">
        </mat-chip-list>
      </mat-form-field>

      <mat-form-field appearance="fill" color="accent">
        <mat-label>SEO</mat-label>
        <mat-chip-list #chipListSeo aria-label="Seo list">
          <mat-chip *ngFor="let seo of articleRevision.seo" [selectable]="false" [removable]="false">
            {{seo}}
          </mat-chip>
          <input readonly placeholder="New seo..." [matChipInputFor]="chipListSeo"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="true">
        </mat-chip-list>
      </mat-form-field>

      <div [hidden]="showInternal">
        <div class="d-flex flex-row justify-content-between">
          <div class="d-flex flex-row align-items-center">
            <h2 style="width: 200px;">Internal Body </h2>
          </div>
          <mat-form-field style="width: 150px;" color="accent">
            <mat-label>Editor</mat-label>
            <mat-select [(value)]="internalEditor" (selectionChange)="showInternalExternal()">
              <mat-option value="internal-editor"> Internal Body </mat-option>
              <mat-option value="external-editor"> External Body </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <p [innerHtml]="articleRevision.htmlBodyInternal | safeHtml"></p>
      </div>

      <div [hidden]="showExternal">
        <div class="d-flex flex-row justify-content-between">
          <div class="d-flex flex-row align-items-center">
            <h2 style="width: 200px;">External Body </h2>
          </div>
          <mat-form-field style="width: 150px;" color="accent">
            <mat-label>Editor</mat-label>
            <mat-select [(value)]="internalEditor" (selectionChange)="showInternalExternal()">
              <mat-option value="internal-editor"> Internal Body </mat-option>
              <mat-option value="external-editor"> External Body </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <p [innerHtml]="articleRevision.htmlBodyExternal | safeHtml"></p>
      </div>

    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" style="color: white;margin-right:10px;"
    (click)="confirm()">Rollback</button>
  <button mat-button color="primary" style="margin-right:10px;" (click)="cancel()">Cancel</button>
</div>
