<div ngxUiLoaderBlurred [loaderId]="'chart'">
  <div class="row mx-0 py-5 align-items-center">
    <div class="col-9 px-0">
      <div *ngIf="chartConfig" echarts [options]="chartConfig" (chartInit)="chartInit($event)" (chartRestore)="toggleNumbersOnChart(showNumbersOnChart)"></div>
    </div>
    <div class="col-3 d-flex flex-column">
      <mat-form-field appearance="fill" style="width: 255px; padding-right: 10px;" color="primary">
        <mat-label>Response filter types</mat-label>
        <mat-select disableOptionCentering="true" name="reportResponseType" (selectionChange)="setReportResponseType($event.value)" [(ngModel)]="selectedReportResponseType">
          <mat-option *ngFor="let reportResponseType of reportResponseTypes" [value]="reportResponseType" >
            {{reportResponseType}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" style="width: 255px; padding-right: 10px;" color="primary">
        <mat-label>Report filter types</mat-label>
        <mat-select disableOptionCentering="true" name="reportFilterType" (selectionChange)="setReportFilterType($event.value)" [(ngModel)]="selectedReportFilterType">
          <mat-option *ngFor="let reportFilterType of reportFilterTypes" [value]="reportFilterType">
            {{reportFilterType}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-checkbox (change)="toggleNumbersOnChart($event.checked)" [checked]="true" >Show numbers on chart</mat-checkbox>
    </div>
  </div>
</div>
