.relevance-flex {
  display: flex;
  flex-direction: row;
}

button {
  margin-right: 1vw;
  color: white;
  font-size: 9px;
  line-height: 18px;
  height: 3vh;
  width: auto;
}

.boost-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.boosts {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 6px;
}
