<div class="relevance-flex" style="justify-content: space-between;">
  <h3>Relevance Tuning</h3>
  <div>
    <button mat-raised-button style="color: white;" color="accent">Save</button>
    <button mat-raised-button style="color: white;" color="accent">Publish</button>
    <button mat-raised-button style="color: white;" color="accent" (click)="reset()">Reset</button>
  </div>
</div>
<div class="relevance-flex">
  <mat-card style="width: 40vh">
    <div>
      <h5>Body</h5>
      <div style="display: flex; flex-direction: column;">
        <mat-checkbox>Search field?</mat-checkbox>
        <mat-slider style="width: 30vh;" thumbLabel tickInterval="10" step="0.1" min="1" max="10"></mat-slider>
      </div>
    </div>
    <div class="boost-title">
      <h4>Boosts</h4>
      <button mat-raised-button color="primary" style="color: white;" (click)="addBodyBoostBtn()">Add Boost</button>
    </div>
    <div class="boosts" *ngFor="let keyword of bodyKeywords">
      <mat-icon style="cursor: pointer" (click)="removeBodyKeyword()">remove</mat-icon>
      <mat-form-field style="height: 5vh;" appearance="outline" color="accent">
        <input type="text" matInput [(ngModel)]="keyword">
      </mat-form-field>
      <mat-slider thumbLabel tickInterval="10" step="0.1" min="1" max="10"></mat-slider>
    </div>
  </mat-card>
  <mat-card style="width: 40vh">
    <div>
      <h5>Subject</h5>
      <div style="display: flex; flex-direction: column;">
        <mat-checkbox>Search field?</mat-checkbox>
        <mat-slider style="width: 30vh;" thumbLabel tickInterval="10" step="0.1" min="1" max="10"></mat-slider>
      </div>
    </div>
    <div class="boost-title">
      <h4>Boosts</h4>
      <button mat-raised-button color="primary"  style="color: white;" (click)="addSubjectBoostBtn()">Add Boost</button>
    </div>
    <div class="boosts" *ngFor="let keyword of subjectKeywords">
      <mat-icon style="cursor: pointer" (click)="removeSubjectKeyword()">remove</mat-icon>
      <mat-form-field style="height: 5vh;" appearance="outline" color="accent">
        <input type="text" matInput [(ngModel)]="keyword">
      </mat-form-field>
      <mat-slider thumbLabel tickInterval="10" step="0.1" min="1" max="10"></mat-slider>
    </div>
  </mat-card>
</div>
