<div class="header">
  <h1 class="mat-headline" mat-dialog-title>{{ data.title }}</h1>
</div>
<div style="height: 60%;" mat-dialog-content>
  <!-- <p class="dialog-message">{{ data.message }}</p> -->
  <form #inputForm="ngForm" name="inputForm" (ngSubmit)="confirm()">
    <mat-form-field color="accent">
      <label>{{ data.message }}</label>
      <input matInput name="inputData" #inputData="ngModel" required type="text" [(ngModel)]="data.input">
      <mat-error>Field is required</mat-error>
    </mat-form-field>
    <div mat-dialog-actions>
      <button mat-raised-button type="submit" color="primary" style="color: white;">{{ data.confirmText }}</button>
      <button mat-raised-button color="primary" style="margin-right:10px;" (click)="cancel()">{{ data.cancelText
        }}</button>
    </div>
  </form>
</div>
