<h1 class="mat-display-1">{{snippetId ? 'Update Snippet' : 'Create Snippet'}}</h1>
<div>
  <form class="d-flex flex-row align-center justify-content-between" #snippetForm="ngForm" (ngSubmit)="saveSnippet()">
    <mat-form-field style="width: 70vh;" color="accent">
      <mat-label>Name</mat-label>
      <input [disabled]="readonly" name="snippetName" #snippetName="ngModel" required type="text" matInput
        [(ngModel)]="snippet.name">
    </mat-form-field>
    <button [disabled]="readonly" mat-raised-button type="submit" style="color: white;" color="primary">Save Snippet</button>
  </form>
</div>
<div>
  <ckeditor [config]="ckconfig" [readOnly]="readonly" (fileUploadRequest)="ckFileUpload($event)"
    (fileUploadResponse)="ckFileResponse($event)" [editorUrl]="ckEditorUrl" name="templateCK" #templateCK="ngModel"
    [(ngModel)]="snippet.text"></ckeditor></div>
