@font-face {
    font-family: "A1Serif-Bold";
    src: local("A1Serif-Bold"), url(../css/fonts/A1Sans-Bold.eot);
}

@font-face {
    font-family: "A1Serif-Regular";
    src: local("A1Serif-Regular"), url(../css/fonts/A1Serif-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "A1Sans-Bold";
    src: local("A1Sans-Bold"), url(../css/fonts/A1Sans-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "A1Sans-Regular";
    src: local("A1Sans-Regular"), url(../css/fonts/A1Sans-Regular.ttf) format("truetype");
}

* {
    font-family: "Verdana";
    font-size: 18;
}