.example-tree-invisible {
  display: none;
}

.example-tree ul li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

:host ::ng-deep .mat-select-portal .mat-select-value {
  color: white !important;
}


:host ::ng-deep .mat-select-portal .mat-form-field-infix {
  background: #da291c;
  border: 0;
  // border-bottom-color: #da291c;
}

:host ::ng-deep .mat-select-portal .mat-form-field-underline {
  display: none;
}

:host ::ng-deep .mat-select-portal .mat-select-arrow-wrapper {
  color: white !important;
}
:host ::ng-deep .mat-select-portal .mat-select-arrow {
  color: white !important;
}

:host ::ng-deep .mat-select-portal .mat-form-field-empty {
  color: white !important;
}

:host ::ng-deep .mat-select-portal .mat-form-field-label ng-tns-c8-4 ng-star-inserted {
  color: white !important;
}
