<div class="d-flex flex-column ">
  <h1 class="mat-display-1">Categories</h1>
  <div class="d-flex flex-row justify-content-around flex-wrap">
    <div class="d-flex flex-column " style="width: 66vh;">
      <div class="d-flex flex-row">
        <mat-form-field appearance="fill" style="width: 300px; padding-right: 10px;" color="primary">
          <mat-label>Portal</mat-label>
          <mat-select disableOptionCentering="true" name="webPortal" (selectionChange)="getCategories()"
            #webPortal="ngModel" [(ngModel)]="webPortalId">
            <mat-option [value]="null">None</mat-option>
            <mat-option *ngFor="let portal of webPortals; let i = index" [value]="portal.id">
              {{portal.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" style="width: 350px; padding-right: 10px;">
          <mat-label>Filter Cateogries</mat-label>
          <input placeholder="Press Enter to Search" [(ngModel)]="filter" type="text" matInput
            (keyup.Enter)="filterCategoies($event)">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
      <app-tree-view (sortOrderEvent)="getData()" [treeNodes]="nodes" [webPortalId]="webPortalId" [filter]="filter"></app-tree-view>
    </div>
    <div style="width: 66vh; margin-top: 80px;">
      <div class="d-flex flex-row justify-content-between">
        <h2 class="mat-headline">Edit Categories</h2>
        <button style="height: fit-content;" mat-raised-button color="primary"
          (click)="addNodeButton(null)">Add</button>
      </div>
      <mat-tree style="width: 100%; height: 100%; overflow: auto;" [dataSource]="nestedDataSource"
        [treeControl]="nestedTreeControl" class="example-tree">
        <mat-tree-node class="d-flex flex-row justify-content-between align-items-center" *matTreeNodeDef="let node"
          matTreeNodeToggle matTreeNodePadding>
          <div class="d-flex flex-row align-items-center">
            <button type="button" mat-icon-button disabled></button>
            <li style="list-style-type:none;">
              {{node.name}}
            </li>
          </div>
          <span class="node-controls">
            <button mat-icon-button (click)="addNodeButton(node)">
              <mat-icon #tooltip="matTooltip" matTooltip="Add Category">add_circle_outline</mat-icon>
            </button>
            <button *ngIf="webPortalId == null" mat-icon-button [matMenuTriggerFor]="menu" matTooltip="More options">
              <mat-icon>more_horiz</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="editNodeButton(node)">
                <mat-icon #tooltip="matTooltip" matTooltip="Edit Category">drive_file_rename_outline</mat-icon>
                <span>Edit Category</span>
              </button>
              <button *ngIf="node.children.length === 0" mat-menu-item (click)="deleteNodeButton(node)">
                <mat-icon #tooltip="matTooltip" matTooltip="Remove Category">remove_circle_outline</mat-icon>
                <span>Remove Category</span>
              </button>
            </mat-menu>
          </span>
        </mat-tree-node>
        <mat-nested-tree-node *matTreeNodeDef="let node; when: hasNestedChild" matTreeNodePadding>
          <li style="list-style-type:none;">
            <div class="mat-tree-node d-flex flex-row justify-content-between">
              <div class="d=flex flex-row">
                <button type="button" (click)="nestedTreeControl.isExpanded(node)" mat-icon-button matTreeNodeToggle
                  [attr.aria-label]="'toggle ' + node.id">
                  <mat-icon class="mat-icon-rtl-mirror">
                    {{nestedTreeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                  </mat-icon>
                </button>
                {{node.name}}
              </div>
              <span>
                <button mat-icon-button (click)="addNodeButton(node)">
                  <mat-icon #tooltip="matTooltip" matTooltip="Add Category">add_circle_outline</mat-icon>
                </button>
                <button *ngIf="webPortalId == null" mat-icon-button [matMenuTriggerFor]="menu"
                  matTooltip="More options">
                  <mat-icon>more_horiz</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="editNodeButton(node)">
                    <mat-icon #tooltip="matTooltip" matTooltip="Edit Category">drive_file_rename_outline</mat-icon>
                    <span>Edit Category</span>
                  </button>
                  <button mat-menu-item *ngIf="node.children.length === 0" (click)="deleteNodeButton(node)">
                    <mat-icon #tooltip="matTooltip" matTooltip="Remove Category">remove_circle_outline</mat-icon>
                    <span>Remove Category</span>
                  </button>
                </mat-menu>
              </span>
            </div>
            <ul style="list-style-type:none;" [class.example-tree-invisible]="!nestedTreeControl.isExpanded(node)">
              <ng-container matTreeNodeOutlet></ng-container>
            </ul>
          </li>
        </mat-nested-tree-node>
      </mat-tree>
    </div>
  </div>
</div>
