<h1 class="mat-display-1">{{templateId ? 'Update Template' : 'Create Template'}}</h1>
<div>
  <form class="d-flex flex-row align-center justify-content-between" #templates="ngForm" (ngSubmit)="saveTemplate()">
    <mat-form-field style="width: 70vh;" color="accent">
      <mat-label>Name</mat-label>
      <input [disabled]="readonly" name="templateName" #templateName="ngModel" required type="text" matInput
        [(ngModel)]="template.name">
      <mat-error>Name is required</mat-error>
    </mat-form-field>
    <button [disabled]="readonly" mat-raised-button type="submit" style="color: white;" color="primary">Save
      Template</button>
  </form>
</div>
<div>
  <ckeditor [config]="ckconfig" [readOnly]="readonly" (fileUploadRequest)="ckFileUpload($event)"
    (fileUploadResponse)="ckFileResponse($event)" [editorUrl]="ckEditorUrl" name="templateCK" #templateCK="ngModel"
    [(ngModel)]="template.text"></ckeditor>
</div>
