<div>
  <div>
    <div class="d-flex flex-row justify-content-between">
      <h3 mat-dialog-title>Update Comment Status</h3>
      <mat-icon (click)="cancel()">close</mat-icon>
    </div>
    <div class="d-flex flex-row justify-content-between align-items-center">
      <mat-form-field style="width: 155px; padding-right: 10px;" color="accent">
        <mat-label>Comment Status</mat-label>
        <mat-select disableOptionCentering="true" [(ngModel)]="commentStatus">
          <mat-option *ngFor="let status of data.statuses; let i = index" [value]="status.name">
            {{status.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button color="primary" style="color: white;" (click)="updateCommentStatus()">Update
        Status</button>
    </div>
    <div class="d-flex flex-row flex-wrap">
      <mat-form-field style="width:150px; padding-right: 10px;" color="accent">
        <mat-label>Web Portal</mat-label>
        <input type="text" readonly="true" matInput [(ngModel)]="data.comment.webPortalName">
      </mat-form-field>

      <mat-form-field style="width:150px; padding-right: 10px;" color="accent">
        <mat-label>Subject</mat-label>
        <input type="text" readonly="true" matInput [(ngModel)]="data.comment.subject">
      </mat-form-field>

      <mat-form-field style="width:150px; padding-right: 10px;" color="accent">
        <mat-label>Type</mat-label>
        <input type="text" readonly="true" matInput [(ngModel)]="data.comment.type">
      </mat-form-field>

      <mat-form-field style="width:150px; padding-right: 10px;" color="accent">
        <mat-label>Language</mat-label>
        <input type="text" readonly="true" matInput [(ngModel)]="data.comment.language">
      </mat-form-field>

      <mat-form-field style="width:150px; padding-right: 10px;" color="accent">
        <mat-label>Portal Type</mat-label>
        <input type="text" readonly="true" matInput [(ngModel)]="data.comment.portalType">
      </mat-form-field>

      <mat-form-field style="width:150px; padding-right: 10px;" color="accent">
        <mat-label>Created By</mat-label>
        <input type="text" readonly="true" matInput [(ngModel)]="data.comment.createdByFullName">
      </mat-form-field>

      <mat-form-field style="width:150px; padding-right: 10px;" color="accent">
        <mat-label>Updated By</mat-label>
        <input type="text" readonly="true" matInput [(ngModel)]="data.comment.updatedByFullName">
      </mat-form-field>

      <!-- <mat-label>{{data.comment.updatedDate | date: 'dd-MM-yyyy HH:mm'}}</mat-label>

      <mat-label>{{data.comment.createdDate | date: 'dd-MM-yyyy HH:mm'}}</mat-label> -->
    </div>
  </div>
  <div mat-dialog-content>
    <div>
      <h3>Comment Body</h3>
      <p>{{data.comment.body}}</p>
    </div>
    <div *ngIf="article !== null" class="d-flex flex-row align-items-center justify-content-between">
      <h3>{{article.subject}}</h3>
      <button mat-raised-button color="primary" (click)="navigateToEditArticle(data.comment.articleId, article.language)">Edit Article
        <mat-icon class="material-icons-light" matSuffix>chevron_right</mat-icon>
      </button>
    </div>
    <div style="height: 41vh; overflow-y: auto;" *ngIf="article !== null">
      <div *ngIf="data.comment.portalType === 'internal'">
        <p [innerHtml]="article.htmlBodyInternal | safeHtml"></p>
      </div>
      <div *ngIf="data.comment.portalType === 'external'">
        <p [innerHtml]="article.htmlBodyExternal | safeHtml"></p>
      </div>
    </div>
  </div>
  <div mat-dialog-action>
    <!-- <button mat-raised-button color="primary" style="color: white;" (click)="updateCommentStatus()">Update
      Status</button>
    <button mat-raised-button (click)="cancel()">Close</button> -->
  </div>
</div>
