<div class="article-body">
  <div style="width: 100%;" id="title-articles">
    <div class="article-heading">
      <h1 class="mat-display-1">{{title}}</h1>
      <mat-form-field appearance="fill" style="width: 255px; padding-right: 10px;" color="primary">
        <mat-label>Portal</mat-label>
        <mat-select disableOptionCentering="true" name="webPortalId" (selectionChange)="getData()"
          #webPortalId="ngModel" [(ngModel)]="paging.webPortalId">
          <mat-option [value]="null">None</mat-option>
          <mat-option *ngFor="let portal of webPortals; let i = index" [value]="portal.id">
            {{portal.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field style="width: 75vh;" color="primary">
        <mat-label>Search</mat-label>
        <input [(ngModel)]="paging.search" (keydown.Enter)="searchArticles();" matInput type="text">
        <mat-icon (click)="searchArticles()" matSuffix>{{'search'}}</mat-icon>
      </mat-form-field>
    </div>
    <div style="margin-bottom: 10px;" class="d-flex flex-row align-items-center justify-content-between flex-wrap">
      <span class="status-button" *ngFor="let count of articleCountPerStatus; let i = index;">
        <button id="articleStatusSpan{{count.id}}" [matBadge]="count.count" matBadgeColor="accent" color="accent"
          mat-stroked-button (click)="getArticlesByStatusBtn(count.id); onArticleStatusBtnFocus(count.id)"><span
            title="Article Status" class="article-status-span">{{count.name}}
          </span></button>
      </span>
      <mat-slide-toggle (change)="getOnlyMineArticles()" color="primary" [checked]="paging.onlyMine">
        Only My Articles
      </mat-slide-toggle>
    </div>

    <div style="background: #F2F2F2; margin-bottom: 10px;"
      class="d-flex flex-row align-items-center flex-wrap justify-content-between">
      <mat-form-field style="width: 190px; margin-left: 5px;" color="primary">
        <mat-label>Date Created</mat-label>
        <input name="dateCreated" #dateCreated="ngModel" matInput [matDatepicker]="dateCreated"
          [(ngModel)]="paging.dateCreated">
        <mat-datepicker-toggle matSuffix [for]="dateCreated"></mat-datepicker-toggle>
        <mat-datepicker #dateCreated>
        </mat-datepicker>
        <mat-error>Invalid Date</mat-error>
      </mat-form-field>

      <mat-form-field style="width: 190px;" color="primary">
        <mat-label>Date From Created</mat-label>
        <input name="dateFromCreated" #dateFromCreated="ngModel" matInput [matDatepicker]="dateFromCreated"
          [(ngModel)]="paging.dateFromCreated">
        <mat-datepicker-toggle matSuffix [for]="dateFromCreated"></mat-datepicker-toggle>
        <mat-datepicker #dateFromCreated>
        </mat-datepicker>
        <mat-error>Invalid Date</mat-error>
      </mat-form-field>

      <mat-form-field style="width: 190px;" color="primary">
        <mat-label>Date To Created</mat-label>
        <input name="dateToCreated" #dateToCreated="ngModel" matInput [matDatepicker]="dateToCreated"
          [(ngModel)]="paging.dateToCreated">
        <mat-datepicker-toggle matSuffix [for]="dateToCreated"></mat-datepicker-toggle>
        <mat-datepicker #dateToCreated>
        </mat-datepicker>
        <mat-error>Invalid Date</mat-error>
      </mat-form-field>

      <mat-form-field style="width: 190px;" color="primary">
        <mat-label>Date Published</mat-label>
        <input name="datePublished" #datePublished="ngModel" matInput [matDatepicker]="datePublished"
          [(ngModel)]="paging.datePublished">
        <mat-datepicker-toggle matSuffix [for]="datePublished"></mat-datepicker-toggle>
        <mat-datepicker #datePublished>
        </mat-datepicker>
        <mat-error>Invalid Date</mat-error>
      </mat-form-field>

      <mat-form-field style="width: 190px;" color="primary">
        <mat-label>Date From Published</mat-label>
        <input name="dateFromPublished" #dateFromPublished="ngModel" matInput [matDatepicker]="dateFromPublished"
          [(ngModel)]="paging.dateFromPublished">
        <mat-datepicker-toggle matSuffix [for]="dateFromPublished"></mat-datepicker-toggle>
        <mat-datepicker #dateFromPublished>
        </mat-datepicker>
        <mat-error>Invalid Date</mat-error>
      </mat-form-field>

      <mat-form-field style="width: 190px;" color="primary">
        <mat-label>Date To Published</mat-label>
        <input name="dateToPublished" #dateToPublished="ngModel" matInput [matDatepicker]="dateToPublished"
          [(ngModel)]="paging.dateToPublished">
        <mat-datepicker-toggle matSuffix [for]="dateToPublished"></mat-datepicker-toggle>
        <mat-datepicker #dateToPublished>
        </mat-datepicker>
        <mat-error>Invalid Date</mat-error>
      </mat-form-field>

      <button style="height: 35px; color: white; margin-right: 5px;" mat-raised-button color="primary"
        (click)="getAllArticles()">Apply
        Filters
      </button>

    </div>
    <div style="height: 32px;" class="d-flex flex-row justify-content-between align-items-center">
      <div class="d-flex flex-row align-items-center chip-list">
        <mat-chip-list #chipListBreadcrumbs aria-label="Breadcrumbs">
          <mat-chip (click)="selectedCrumb(crumb.id)" *ngFor="let crumb of articlesView.breadcrumbs" [selectable]="true"
            removable="false">{{crumb.name}}</mat-chip>
        </mat-chip-list>
        <mat-icon style="padding-left: 15px;" *ngIf="articlesView.breadcrumbs != null" (click)="removeBreadcrumbs()">
          remove_circle_outline</mat-icon>
      </div>
      <div>
        <button *ngIf="paging.categoryId !== null && enableSorting == false && paging.articleStatusId === 7"
          mat-stroked-button color="primary" style="transform: scale(0.98);" (click)="enableSortingBtn()">Sort
          Articles</button>
        <button *ngIf="enableSorting == true" mat-raised-button type="button" color="primary"
          style="transform: scale(0.98); margin-right: 15px;" (click)="saveOrder()">Save Sort Order</button>
        <button *ngIf="enableSorting == true" mat-stroked-button color="primary" style="transform: scale(0.98);"
          (click)="enableSortingBtn()">Cancel</button>
      </div>
    </div>
    <div [hidden]="enableSorting === true">
      <div ngxUiLoaderBlurred [loaderId]="'article'" style="width:99.8%;" class="d-flex flex-column">
        <table #table mat-table [dataSource]="observable" matSort matSortActive="createdDate" matSortDirection="desc">

          <!-- Subject Column -->
          <ng-container matColumnDef="subject">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Subject </th>
            <td class="article-subject" (click)="viewArticle(element.id)" [title]="element.subject" mat-cell
              *matCellDef="let element"><a
                [routerLink]="'/articles/view-article/' + element.id + '/' + language">{{element.subject}}</a></td>
          </ng-container>

          <!-- Description Column -->
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
            <td class="article-description" [title]="element.description" mat-cell *matCellDef="let element">
              {{element.description}} </td>
          </ng-container>

          <!-- Article Status Column -->
          <ng-container matColumnDef="articleStatus">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Article Status </th>
            <td mat-cell *matCellDef="let element"> {{element.articleStatus}} </td>
          </ng-container>

          <!-- Created By Full Name Column -->
          <ng-container matColumnDef="createdByFullName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Created By </th>
            <td mat-cell *matCellDef="let element"> {{element.createdByFullName}} </td>
          </ng-container>

          <!-- Created Date Column -->
          <ng-container matColumnDef="createdDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Created Date </th>
            <td mat-cell *matCellDef="let element"> {{element.createdDate | date: 'dd-MM-yyy'}} </td>
          </ng-container>

          <!-- Updated By Full Name Column -->
          <ng-container matColumnDef="updatedByFullName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Updated By </th>
            <td mat-cell *matCellDef="let element"> {{element.updatedByFullName}} </td>
          </ng-container>

          <!-- Updated Date Column -->
          <ng-container matColumnDef="updatedDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Updated Date </th>
            <td mat-cell *matCellDef="let element"> {{element.updatedDate | date: 'dd-MM-yyyy'}} </td>
          </ng-container>

          <!-- Attachment Column -->
          <ng-container matColumnDef="hasAttachment">
            <th mat-header-cell *matHeaderCellDef> Info </th>
            <td style="display: flex; flex-direction: row; padding-top: 11px;" mat-cell *matCellDef="let element">
              <mat-icon *ngIf="element.hasAttachment === true" matTooltip="Has Attachment">{{element.hasAttachment ?
                'file_present' : ''}}</mat-icon>
              <span *ngIf="element.hasAttachment === false" style="width: 24px;"></span>
              <mat-icon *ngIf="(admin | permission)" (click)="unlockArticle(element.id)" mat-raised-button #tooltip="matTooltip" [matTooltip]="element.lockedDetails"
                matTooltipPosition="right">{{element.isLocked ? 'lock' : ''}}</mat-icon>
              <mat-icon *ngIf="!(admin | permission)" mat-raised-button #tooltip="matTooltip" [matTooltip]="element.lockedDetails"
                matTooltipPosition="right">{{element.isLocked ? 'lock' : ''}}</mat-icon>
              <mat-icon *ngIf="element.isPublishedExternally === true;" matTooltip="Published Externally">
                {{element.isPublishedExternally ? 'check_circle' : ''}}
              </mat-icon>
              <span *ngIf="element.isPublishedExternally === false;" style="width: 24px;"></span>
            </td>
          </ng-container>

          <!-- Action Column -->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let element">
              <a *ngIf="element.isLocked === false && (writer | permission)"
                [routerLink]="'/articles/edit-article/' + element.id + '/' + language">
                <mat-icon #tooltip="matTooltip" matTooltip="Edit Article">
                  drive_file_rename_outline</mat-icon>
              </a>
              <span *ngIf="element.isLocked !== false || !(writer | permission)" style="width: 24px;">{{' '}}</span>
              <mat-icon *ngIf="(writer | permission)" #tooltip="matTooltip"
                matTooltip="Create Article For Another Language" (click)="createArticleForAnotherLanguage(element.id)">
                translate</mat-icon>
              <mat-icon *ngIf="(supervisor | permission) && element.isLocked === false" #tooltip="matTooltip"
                matTooltip="Delete Article" (click)="deleteArticle(element.id)">
                delete_forever</mat-icon>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;">
          </tr>

        </table>
        <mat-paginator [length]="tableLength" [pageIndex]="pageIndex" [pageSize]="paging.numArticles"
          [pageSizeOptions]="[10, 25, 60, 100]" showFirstLastButtons></mat-paginator>
      </div>
    </div>
    <div *ngIf="enableSorting === true">
      <app-article-sort [articles]="articles" [categoryId]="paging.categoryId" (returnValidation)="saveOrderBtn($event)"></app-article-sort>
    </div>
  </div>
  <div id="article-categories" (mouseleave)="removeActiveClass($event)" class="article-categories">
    <p-tieredMenu [showTransitionOptions]="'500ms'" [hideTransitionOptions]="'500ms'" autoDisplay="true"
      [model]="nodes"></p-tieredMenu>
  </div>
</div>
