<div class="d-flex flex-row justify-content-between align-center">
  <h1 class="mat-display-1">Roles</h1>
  <button mat-raised-button color="primary" style="color: white;" (click)="createRole()">New Role</button>
</div>
<div class="d-flex flex-row">
  <mat-form-field appearance="fill" style="width: 75vh;" color="accent">
    <mat-label>Search</mat-label>
    <input (keydown)="applyFilter($event);" matInput type="text">
    <mat-icon matSuffix>{{'search'}}</mat-icon>
  </mat-form-field>
</div>
<div style="width:99.8%;" class="d-flex flex-column ">
  <table #table mat-table [dataSource]="dataSource" matSort>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- ldapGroupDN Column -->
    <ng-container matColumnDef="isAdRole">
      <th mat-header-cell *matHeaderCellDef> AD Role </th>
      <td mat-cell *matCellDef="let element">
        <mat-icon>{{element.isAdRole ? 'check_circle' : ''}}</mat-icon>
      </td>
    </ng-container>

    <!-- 2FA Column -->
    <ng-container matColumnDef="2FA">
      <th mat-header-cell *matHeaderCellDef> 2FA </th>
      <td mat-cell *matCellDef="let element">
        <mat-icon>{{element.is2FA ? 'check_circle' : ''}}</mat-icon>
      </td>
    </ng-container>

    <!-- Created Date Column -->
    <ng-container matColumnDef="createdDate">
      <th mat-header-cell *matHeaderCellDef> Created Date </th>
      <td mat-cell *matCellDef="let element"> {{element.createdDate | date: 'dd-MM-yyyy HH:mm'}} </td>
    </ng-container>

    <!-- Created By Column -->
    <ng-container matColumnDef="createdBy">
      <th mat-header-cell *matHeaderCellDef> Created By </th>
      <td mat-cell *matCellDef="let element"> {{element.createdBy}} </td>
    </ng-container>

    <ng-container matColumnDef="editorColor">
      <th mat-header-cell *matHeaderCellDef> Editor Color </th>
      <td mat-cell *matCellDef="let element"><input [cpOKButton]="true" [cpSaveClickOutside]="false"
          [cpCancelButton]="true" (colorPickerSelect)="updateRoleColor($event, element.id)"
          *ngIf="element.isAgentRole === true" [(ngModel)]="element.color" [(colorPicker)]="element.color"
          [style.background]="element.color" [cpOutputFormat]="'rgba'" /> </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element">
        <mat-icon matTooltip="Update 2FA" *ngIf="element.isAgentRole === true && (supervisor | permission)"
          (click)="update2fa(element.id)">
          admin_panel_settings</mat-icon>
        <mat-icon *ngIf="element.isAdRole === false && (supervisor | permission)" (click)="deleteRole(element.id)">
          delete_forever</mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="cols"></tr>
    <tr mat-row *matRowDef="let row; columns: cols;">
    </tr>

  </table>
  <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 25, 60, 100]" showFirstLastButtons></mat-paginator>
</div>
