<div class="d-flex flex-row justify-content-between align-center">
  <h1 class="mat-display-1">Tenants</h1>
  <button mat-raised-button color="primary" style="color: white;" (click)="createTenant()">New Tenant</button>
</div>
<div class="d-flex flex-row">
  <mat-form-field style="width: 75vh;" color="accent">
    <mat-label>Search</mat-label>
    <input (keydown)="applyFilter($event);" matInput type="text">
    <mat-icon matSuffix>{{'search'}}</mat-icon>
  </mat-form-field>
</div>
<div style="width:99.8%;" class="d-flex flex-column ">
  <table #table mat-table [dataSource]="dataSource" matSort>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef > Name </th>
      <td class="article-subject" [title]="element.name" mat-cell *matCellDef="let element">{{element.name}} </td>
    </ng-container>

    <!-- Company Name Column -->
    <ng-container matColumnDef="companyName">
      <th mat-header-cell *matHeaderCellDef > Company Name </th>
      <td mat-cell *matCellDef="let element"> {{element.companyName}} </td>
    </ng-container>

    <!-- Created By Column -->
    <ng-container matColumnDef="createdBy">
      <th mat-header-cell *matHeaderCellDef > Created By </th>
      <td mat-cell *matCellDef="let element"> {{element.createdBy}} </td>
    </ng-container>

    <!-- Created Date Column -->
    <ng-container matColumnDef="createdDate">
      <th mat-header-cell *matHeaderCellDef > Created Date </th>
      <td mat-cell *matCellDef="let element"> {{element.createdDate | date: 'dd-MM-yyyy HH:mm'}} </td>
    </ng-container>

    <!-- Updated By Column -->
    <ng-container matColumnDef="udpatedBy">
      <th mat-header-cell *matHeaderCellDef > Updated By </th>
      <td mat-cell *matCellDef="let element"> {{element.udpatedBy}} </td>
    </ng-container>

    <!-- Updated Date Column -->
    <ng-container matColumnDef="updatedDate">
      <th mat-header-cell *matHeaderCellDef > Updated Date </th>
      <td mat-cell *matCellDef="let element"> {{element.updatedDate | date: 'dd-MM-yyyy HH:mm'}} </td>
    </ng-container>


    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef > Action </th>
      <td mat-cell *matCellDef="let element">
        <mat-icon #tooltip="matTooltip" matTooltip="Edit Tenant" (click)="editTenant(element.id)">
          drive_file_rename_outline</mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row (click)="viewTenant(row.id)" *matRowDef="let row; columns: displayedColumns;">
    </tr>

  </table>
  <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 25, 60, 100]" showFirstLastButtons></mat-paginator>
</div>
