<div class="header">
  <h1 class="mat-headline" mat-dialog-title>{{ data.title }}</h1>
</div>
<div mat-dialog-content>
  <!-- <p class="dialog-message">{{ data.message }}</p> -->
  <form #inputForm="ngForm" name="inputForm" (ngSubmit)="confirm()" style="height: 221px;">
    <mat-form-field appearance="fill" color="accent">
      <mat-label>{{ data.message }}</mat-label>
      <input name="dataInput" #dataInput="ngModel" pattern="\bA1KB_AGENT_\w+" required matInput type="text"
        [(ngModel)]="data.role.name">
      <mat-hint>Example: A1KB_AGENT_PR</mat-hint>
      <mat-error *ngIf="dataInput.errors?.required">Role is required</mat-error>
      <mat-error *ngIf="dataInput.errors?.pattern">Role must start with A1KB_AGENT_</mat-error>
    </mat-form-field>
    <div>
      <mat-form-field appearance="fill" color="accent">
        <mat-label style="margin-right: 5px;">Editor Color</mat-label>
        <input matInput [(ngModel)]="data.role.color" [(colorPicker)]="data.role.color" name="roleColor"
          #roleColor="ngModel" required [style.background]="data.role.color" [cpOutputFormat]="'rgb'" />
        <mat-error *ngIf="roleColor.errors?.required">Color is required</mat-error>
      </mat-form-field>
    </div>
    <mat-checkbox name="is2FA" #is2FA="ngModel" color="primary" [(ngModel)]="data.role.is2FA">Two-Factor Authentication
    </mat-checkbox>
    <div mat-dialog-actions>
      <button mat-raised-button type="submit" color="primary" style="color: white;">{{ data.confirmText }}</button>
      <button mat-raised-button type="button" color="primary" style="margin-right:10px;" (click)="cancel()">{{
        data.cancelText
        }}</button>
    </div>
  </form>
</div>
