// @use "../../../styles";
body {
  height: 100vh;
  display: flex;
}
mat-form-field {
  width: 20vw !important;
}

.forgot-pass {
  font-size: 12px;
  font-weight: 500;
  border: 1px solid transparent;
}

.forgot-pass:hover {
  border-bottom: 1px solid black;
  cursor: pointer;
  color: #da291c;
}

.error-text {
  font-weight: 500;
  font-size: 14px;
  color: #da291c;
}
