<body>
  <div fxLayout="row" fxLayoutAlign="center center" class="containter">
    <img style="width: 32%; margin-left: -50px;" src="assets/img/A1_Logo_Red.jpg" alt="">
    <div style="transform: scale(1.2);" fxLayout="column" fxLayoutAlign="start start">
      <div style="margin-bottom: 15px;" fxLayout="column" fxLayoutAlign="start">
        <h1 class="mat-display-1" style="margin: 0 !important; font-size: 30pt;">Hello there!</h1>
        <span class="mat-title" style="font-size: 13pt;" *ngIf="activation === false">Welcome back to A1 Knowledge
          Base</span>
        <span class="mat-title" style="font-size: 13pt;" *ngIf="activation === true">Activate your A1 Knowledge Base
          account</span>
      </div>
      <form fxLayout="column" fxLayoutAlign="start start" name="loginForm" #loginForm="ngForm" (ngSubmit)="login()">
        <mat-form-field *ngIf="activation === false" color="accent">
          <mat-label>Email</mat-label>
          <input matInput name="email" #email="ngModel" required type="email" matInput (focus)="error = null"
            [(ngModel)]="loginRequest.email">
          <mat-error>Email is required</mat-error>
        </mat-form-field>
        <mat-form-field *ngIf="activation === false" color="accent">
          <mat-label>Password</mat-label>
          <input matInput (focus)="error = null" name="password" #password="ngModel" required matInput
            [type]="hidePassword ? 'password' : 'text'" [(ngModel)]="loginRequest.password">
          <mat-icon matSuffix (click)="hidePassword = !hidePassword">
            {{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-error>Password is required</mat-error>
        </mat-form-field>
        <mat-form-field *ngIf="activation === true" color="accent">
          <mat-label>Password</mat-label>
          <input matInput (focus)="error = null" name="actPassword" #actPassword="ngModel" required matInput
            [type]="hidePassword ? 'password' : 'text'" [(ngModel)]="password">
          <mat-icon matSuffix (click)="hidePassword = !hidePassword">
            {{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-error>Password is required</mat-error>
        </mat-form-field>
        <mat-form-field *ngIf="activation === true" color="accent">
          <mat-label>Confirm Password</mat-label>
          <input matInput (focus)="error = null" name="actConfirmPassword" #actConfirmPassword="ngModel" required
            matInput [type]="hidePassword ? 'password' : 'text'" [(ngModel)]="confirmPassword">
          <mat-icon matSuffix (click)="hidePassword = !hidePassword">
            {{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-error *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)">Password is
            required</mat-error>
          <mat-error *ngIf="password != confirmPassword">Passwords must match</mat-error>
        </mat-form-field>
        <!-- <span *ngIf="activation === false" class="forgot-pass" (click)="forgotPass()">Forgot Password?</span> -->
        <div class="d-flex flex-column" style="width: 100%; padding-top: 1px;">
          <!-- <mat-checkbox *ngIf="activation === false" class="remember" name="loginCheckbox" color="accent" [(ngModel)]="rememberMe">Keep me logged in
          </mat-checkbox> -->
          <button *ngIf="activation === false" type="submit" color="primary" style="height: 40px; margin-right: 0;"
            class="btn-custom-red">Login</button>
          <button *ngIf="activation === true" (click)="activateAccount()" color="primary"
            class="btn-custom-red">Activate</button>
        </div>
      </form>
      <span class="error-text">{{error}}</span>
    </div>
  </div>
  <ngx-ui-loader [loaderId]="'login'"></ngx-ui-loader>
</body>
