<h1 *ngIf="userId === null" class="mat-display-1">Register User</h1>
<h1 *ngIf="userId !== null" class="mat-display-1">{{user.isAdUser ? 'View User' : 'Update User'}}</h1>
<div>
  <form class="d-flex flex-column" name="userForm" #userForm="ngForm" (ngSubmit)="save()">
    <div class="d-flex flex-row flex-wrap">
      <mat-form-field style="width: 70vh; margin-right: 10px;" color="accent">
        <mat-label>First Name</mat-label>
        <input name="firstName" #firstName="ngModel" required type="text" matInput
          [readonly]="user.isAdUser === true" [(ngModel)]="user.firstName">
        <mat-error>First Name is required</mat-error>
      </mat-form-field>
      <mat-form-field style="width: 70vh;" color="accent">
        <mat-label>Last Name</mat-label>
        <input name="lastName" #lastName="ngModel" required type="text" matInput
          [readonly]="user.isAdUser === true" [(ngModel)]="user.lastName">
        <mat-error>Last Name is required</mat-error>
      </mat-form-field>
      <mat-form-field style="width: 70vh; margin-right: 10px;" color="accent">
        <mat-label>Email</mat-label>
        <input name="userEmail" #userEmail="ngModel" required email type="text" matInput
          [readonly]="userId !== null || user.isAdUser === true" [(ngModel)]="user.email">
        <mat-error *ngIf="userEmail.invalid && (userEmail.dirty || userEmail.touched)">Email is
          {{userEmail.errors.email ? 'invalid' : 'required'}}</mat-error>
      </mat-form-field>
      <mat-form-field style="width: 70vh;" color="accent">
        <mat-label>Phone</mat-label>
        <input name="phone" #phone="ngModel" type="text" matInput [readonly]="user.isAdUser === true"
          [(ngModel)]="user.phone">
      </mat-form-field>
      <mat-form-field color="accent">
        <mat-label>Roles</mat-label>
        <mat-select [disabled]="user.isAdUser === true" multiple required name="userRoles" #userRoles="ngModel"
          [(ngModel)]="user.roles">
          <mat-option *ngFor="let role of roles; let i = index" [value]="role.id">
            {{role.name}}
          </mat-option>
        </mat-select>
        <mat-error>Roles are required</mat-error>
      </mat-form-field>
    </div>

    <div class="d-flex flex-row">
      <button *ngIf="user.isAdUser === false" mat-raised-button type="submit" color="primary"
        style="color: white; height: fit-content;">Save</button>
      <button mat-raised-button type="button" color="primary" (click)="cancel()"
        style="color: white; height: fit-content; margin-left: 15px;">Cancel</button>
    </div>
  </form>
</div>