<div>
  <div style="width:99.8%;" class="d-flex flex-column">
    <form name="sortForm" #sortForm="ngForm">
      <table cdkDropList #sectionDropList="cdkDropList" [cdkDropListData]="articleData"
        (cdkDropListDropped)="dropArticle($event)" #table mat-table [dataSource]="dataSource">

        <!-- Order Column -->
        <ng-container matColumnDef="order">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element">
            <mat-form-field style="width: 50px;">
              <input [id]="element.id" name="order{{element.id}}" #order{{element.id}}="ngModel" matInput type="number"
                required min="1" (ngModelChange)="updateArticleOrder($event, element.id)" [(ngModel)]="element.order" >
              <mat-error>Order is invalid</mat-error>
            </mat-form-field>
          </td>
        </ng-container>

        <!-- Subject Column -->
        <ng-container matColumnDef="subject">
          <th mat-header-cell *matHeaderCellDef> Subject </th>
          <td class="article-subject" [title]="element.subject" mat-cell *matCellDef="let element">
            <a>{{element.subject}}</a>
          </td>
        </ng-container>

        <!-- Description Column -->
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef> Description </th>
          <td class="article-description" mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>

        <!-- Article Status Column -->
        <ng-container matColumnDef="articleStatus">
          <th mat-header-cell *matHeaderCellDef> Article Status </th>
          <td mat-cell *matCellDef="let element"> {{element.articleStatus}} </td>
        </ng-container>

        <!-- Created By Full Name Column -->
        <ng-container matColumnDef="createdByFullName">
          <th mat-header-cell *matHeaderCellDef> Created By </th>
          <td mat-cell *matCellDef="let element"> {{element.createdByFullName}} </td>
        </ng-container>

        <!-- Created Date Column -->
        <ng-container matColumnDef="createdDate">
          <th mat-header-cell *matHeaderCellDef> Created Date </th>
          <td mat-cell *matCellDef="let element"> {{element.createdDate | date: 'dd-MM-yyy'}} </td>
        </ng-container>

        <!-- Updated By Full Name Column -->
        <ng-container matColumnDef="updatedByFullName">
          <th mat-header-cell *matHeaderCellDef> Updated By </th>
          <td mat-cell *matCellDef="let element"> {{element.updatedByFullName}} </td>
        </ng-container>

        <!-- Updated Date Column -->
        <ng-container matColumnDef="updatedDate">
          <th mat-header-cell *matHeaderCellDef> Updated Date </th>
          <td mat-cell *matCellDef="let element"> {{element.updatedDate | date: 'dd-MM-yyyy'}} </td>
        </ng-container>

        <!-- Attachment Column -->
        <ng-container matColumnDef="hasAttachment">
          <th mat-header-cell *matHeaderCellDef> Info </th>
          <td style="display: flex; flex-direction: row; padding-top: 11px;" mat-cell *matCellDef="let element">
            <mat-icon *ngIf="element.hasAttachment === true" matTooltip="Has Attachment">{{element.hasAttachment ?
              'file_present' : ''}}</mat-icon>
            <span *ngIf="element.hasAttachment === false" style="width: 24px;"></span>
            <mat-icon mat-raised-button #tooltip="matTooltip" [matTooltip]="element.lockedDetails"
              matTooltipPosition="right">{{element.isLocked ? 'lock' : ''}}</mat-icon>
            <mat-icon *ngIf="element.isPublishedExternally === true;" matTooltip="Published Externally">
              {{element.isPublishedExternally ? 'check_circle' : ''}}
            </mat-icon>
            <span *ngIf="element.isPublishedExternally === false;" style="width: 24px;"></span>
          </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let element">
            <a *ngIf="element.order !== null">
              <mat-icon (click)="removeOrder(element.id)" #tooltip="matTooltip" matTooltip="Remove Order">
                rule</mat-icon>
            </a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row cdkDrag [cdkDragData]="row" *matRowDef="let row; columns: displayedColumns;">
        </tr>
      </table>
    </form>
  </div>
</div>