.article-body {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.article-heading {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}

.articles {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-flow: row wrap;
}

.article {
  margin: 1%;
  width: 43vh;
  height: 73vh;
  min-width: 27vh;
  min-height: 27vh;
  display: flex;
  flex-direction: column;
}

.card-content {
  height: 16vh;
}

.my-articles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 99.7%;
}

.my-article {
  width: 90vh;
  height: 20vh;
  max-height: 20vh;
  min-height: 20vh;
  margin: 1px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-wrap: break-word;
}

.my-article-category {
  font-size: 10px;
  color: grey;
}

.my-article-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.article-date {
  font-size: 10px;
  color: grey;
}

.article-open {
  display: flex;
  align-items: center;
  color: red;
  padding-top: 10px;
  width: 10vw;
  cursor: pointer;
}

.article-excerpt {
  font-size: calc(6px + 0.5vw);
}

.article-categories {
  // width: 20vh;
  // height: 84vh;
  // overflow-y: auto;
  // overflow-x: hidden !important;
  margin-right: 240px;
  margin-top: 20px;
  position: relative;
  display: inline-block;
  mat-icon:hover,
  mat-icon:active,
  mat-icon:visited,
  mat-icon:focus {
    text-decoration: none;
  }
}
.article-categories::-webkit-scrollbar {
  width: 5px;
}

.article-categories::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #da291c;
  border-radius: 10px;
}

.article-category {
  padding: 4px 0 4px;
  span {
    cursor: pointer;
  }
}
.article-status-span::before {
  display: block;
  content: attr(title);
  font-weight: bold;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.article-subject {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 46vh;
  width: 46vh;
}

.mat-badge-content {
  width: auto;
  display: grid;
  min-width: 32px;
  min-height: 28px;
  text-align: center;
  align-items: center;
  padding: 5px 3px;
  top: -20px;
  right: -22px;
}

.article-description {
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 22vh;
  width: 22vh;
  padding-right: 10px;
}

.mat-row:hover {
  background: rgb(242, 242, 242) !important;
  cursor: move;
}

.chip-list {
  height: 32px;
}

:host ::ng-deep .mat-select-portal .mat-select-value {
  color: white !important;
}

:host ::ng-deep .mat-select-portal .mat-form-field-infix {
  background: #da291c;
  border: 0;
}

:host ::ng-deep .mat-select-portal .mat-form-field-underline {
  display: none;
}

:host ::ng-deep .mat-select-portal .mat-select-arrow-wrapper {
  color: white !important;
}
:host ::ng-deep .mat-select-portal .mat-select-arrow {
  color: white !important;
}

:host ::ng-deep .mat-select-portal .mat-form-field-empty {
  color: white !important;
  margin-left: 5px !important;
  padding-left: 5px !important;
}

:host ::ng-deep .mat-select-portal .mat-form-field-label ng-tns-c8-4 ng-star-inserted {
  color: white !important;
  margin-left: 5px !important;
  padding-left: 5px !important;
}

:host ::ng-deep .mat-select-portal .mat-select-value-text {
  color: white !important;
  margin-left: 5px !important;
  padding-left: 5px !important;
}

.category-node {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 7px;
  cursor: pointer;
  .material-icons {
    color: #da291c;
  }
}

th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
  border-bottom-width: 0px;
}

:host ::ng-deep .mat-row {
  background: #f2f2f2;
}

.status-button {
  .mat-badge-content {
    color: white;
  }
  button {
    line-height: 25px;
    font-size: 13px;
    color: black;
  }
  margin-right: 20px;
  margin-bottom: 10px;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

p-tieredmenu {
  z-index: 10000;
  position: absolute;
}

::ng-deep .p-tieredmenu .p-menuitem-link .p-menuitem-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 16px;
  -webkit-tap-highlight-color: unset;
}

::ng-deep .p-menuitem-active {
  background-color: unset;
  background: none !important;
}

::ng-deep .p-tieredmenu .p-menuitem-link:focus {
  box-shadow: none;
  color: #da291c;
}

::ng-deep .p-tieredmenu {
  border: none !important;
  width: 14.5rem !important;
}

::ng-deep .p-component {
  font-family: "A1Sans-Regular";
  font-size: 14px;
  color: rgb(128, 128, 128);
}

::ng-deep .p-tieredmenu .p-menuitem.p-menuitem-active > .p-menuitem-link .p-menuitem-text {
  color: #da291c;
  background-color: unset;
  background: none;
}

::ng-deep .p-tieredmenu .p-menuitem.p-menuitem-active > .p-menuitem-link {
  background-color: unset;
  background: none;
}
.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  border: 0 !important;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging .mat-row:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}