<div class="header">
  <h1 class="mat-headline" mat-dialog-title>{{ data.title }}</h1>
</div>
<div mat-dialog-content>
  <p class="dialog-message">{{ data.message }}</p>
  <form name="emailForm" #emailForm></form>
  <mat-form-field color="accent">
    <label>Enter value</label>
    <input matInput email #modalInput="ngModel" name="modalInput" type="text" [(ngModel)]="data.input">
    <mat-error>Email in valid</mat-error>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" style="color: white;" (click)="confirm()">{{ data.confirmText }}</button>
  <button mat-button color="primary" style="margin-right:10px;" (click)="cancel()">{{ data.cancelText }}</button>
</div>
