.drag-zone {
  position: relative;
  height: 96%;
}

.drag-ele {
  width: 320px;
  height: 100px;
  border: solid 1px #ccc;
  ul {
    max-height: 250px;
    overflow: auto;
    margin: 0;
    padding: 0;
  }
}
