<div>
  <button mat-raised-button color="primary" (click)="addNewEle()">Add New Element</button>
  <!-- <button (click)="saveAsJSON()">Save as JSON</button> -->
</div>
<div #questions class="drag-zone" id="container">
  <div class="drag-ele questions" *ngFor="let ele of exampleDragElements" [id]="ele.question">
    <span>{{ele.question}}</span>
    <ul>
      <li *ngFor="let a of ele.answers">{{a.answer}}</li>
    </ul>
  </div>
</div>
