<mat-tree style="width: 100%; height: 100%; overflow: auto;" [dataSource]="nestedDataSource"
  [treeControl]="nestedTreeControl" class="example-tree">
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
    <button type="button" mat-icon-button disabled></button>
    <mat-checkbox color="primary" *ngIf="disableBox === true" style="padding-top: 6px; padding-right: 5px;"
      [disabled]="readonly" class="node-checkbox" [checked]="checklistSelection.isSelected(node)"
      (change)="todoLeafItemSelectionToggle(node)"></mat-checkbox>
    <li style="list-style-type:none;">
      {{node.name}}
    </li>
    <!-- <span *ngIf="categoriesEditable == true" class="node-controls">
    <button mat-icon-button (click)="addNodeButton(node)">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button (click)="editNodeButton(node)">
      <mat-icon>edit</mat-icon>
    </button>
    <button *ngIf="node.children.length === 0" mat-icon-button (click)="deleteNodeButton(node)">
      <mat-icon>remove</mat-icon>
    </button>
  </span> -->
  </mat-tree-node>
  <mat-nested-tree-node *matTreeNodeDef="let node; when: hasNestedChild" matTreeNodePadding>
    <li style="list-style-type:none;">
      <div class="mat-tree-node">
        <button type="button" (click)="nestedTreeControl.isExpanded(node)" mat-icon-button matTreeNodeToggle
          [attr.aria-label]="'toggle ' + node.id">
          <mat-icon class="mat-icon-rtl-mirror">
            {{nestedTreeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
        <mat-checkbox color="primary" *ngIf="disableBox === true && webPortal === true" style="padding-top: 6px; padding-right: 5px;" [disabled]="readonly"
          class="node-checkbox" [checked]="checklistSelection.isSelected(node)"
          (change)="todoItemSelectionToggle(node)">
        </mat-checkbox>
        <mat-checkbox color="primary" *ngIf="disableBox === true && article === true" style="padding-top: 6px; padding-right: 5px;" [disabled]="readonly"
        class="node-checkbox" [checked]="checklistSelection.isSelected(node)"
        [indeterminate]="descendantsPartiallySelected(node)" (change)="todoItemSelectionToggle(node)">
      </mat-checkbox>
        {{node.name}}
        <!-- <span *ngIf="categoriesEditable == true" class="node-controls">
        <button mat-icon-button (click)="addNodeButton(node)">
          <mat-icon>add</mat-icon>
        </button>
        <button mat-icon-button (click)="editNodeButton(node)">
          <mat-icon>edit</mat-icon>
        </button>
        <button *ngIf="node.children.length === 0" mat-icon-button (click)="deleteNodeButton(node)">
          <mat-icon>remove</mat-icon>
        </button>
      </span> -->
      </div>
      <ul style="list-style-type:none;" [class.example-tree-invisible]="!nestedTreeControl.isExpanded(node)">
        <ng-container matTreeNodeOutlet></ng-container>
      </ul>
    </li>
  </mat-nested-tree-node>
</mat-tree>
