<h1 class="mat-display-1">Templates</h1>
<div style="margin-left: 1%; margin-right: 1%;" class="d-flex flex-row align-items-center justify-content-between">
  <div class="d-flex flex-row align-items-center">
    <mat-form-field style="width: 75vh; padding-right: 20px;" color="accent">
      <mat-label>Search</mat-label>
      <input [(ngModel)]="filter" (keydown.Enter)="searchTempaltes();" matInput type="text">
      <mat-icon (click)="searchTempaltes()" matSuffix>{{'search'}}</mat-icon>
    </mat-form-field>
    <mat-checkbox color="primary" [(ngModel)]="onlyMine">Only Mine</mat-checkbox>
  </div>
  <button mat-raised-button color="primary" (click)="createTemplate()">New Template</button>
</div>
<div class="d-flex flex-column " style="width: 98%; margin-left: 1%;">
  <table mat-table [dataSource]="dataSource" matSort>
    <!-- Web Portal Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef > Name </th>
      <td mat-cell (click)="viewTemplate(element.id)" *matCellDef="let element">{{element.name}} </td>
    </ng-container>

    <!-- Subject Status Column -->
    <ng-container matColumnDef="createdDate">
      <th mat-header-cell *matHeaderCellDef > Date Created </th>
      <td mat-cell (click)="viewTemplate(element.id)" *matCellDef="let element"> {{element.createdDate | date: 'dd-MM-yyyy'}} </td>
    </ng-container>

    <ng-container matColumnDef="createdBy">
      <th mat-header-cell *matHeaderCellDef > Created By </th>
      <td mat-cell (click)="viewTemplate(element.id)" *matCellDef="let element"> {{element.createdBy}} </td>
    </ng-container>

    <ng-container matColumnDef="updatedBy">
      <th mat-header-cell *matHeaderCellDef > Updated By </th>
      <td mat-cell (click)="viewTemplate(element.id)" *matCellDef="let element"> {{element.updatedBy}} </td>
    </ng-container>

    <!-- Created By Full Name Column -->
    <ng-container matColumnDef="updatedDate">
      <th mat-header-cell *matHeaderCellDef > Date Updated </th>
      <td mat-cell (click)="viewTemplate(element.id)" *matCellDef="let element"> {{element.updatedDate | date: 'dd-MM-yyyy'}} </td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef > Action </th>
      <td mat-cell *matCellDef="let element">
        <mat-icon #tooltip="matTooltip" matTooltip="Edit Template" (click)="editTemplate(element.id)">
          drive_file_rename_outline</mat-icon>
        <mat-icon #tooltip="matTooltip" matTooltip="Delete Template" (click)="deleteTemplate(element.id)">
          delete_forever</mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>
  <mat-paginator (page)="pageChange($event)" [length]="tableLength" [pageIndex]="pageIndex" [pageSize]="numOfRows"
    [pageSizeOptions]="[10, 25, 60, 100]" showFirstLastButtons></mat-paginator>

</div>
<ngx-ui-loader [loaderId]="'template'"></ngx-ui-loader>
