.article-subject {
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 35vw;
  width: 35vw;
  padding-right: 10px;
}

.article-subject a {
  color: black;
}

.article-subject a:hover {
  font-weight: bold;
}

.article-description {
  padding-right: 10px;
  max-width: 35vw;
  width: 35vw;
}

.article-description p {
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

