<div class="article-body">
  <div style="width: 100%;" id="title-articles">
    <div class="article-heading">
      <h1 class="mat-display-1">{{title}}</h1>
      <div class="row mx-0">
          <mat-form-field appearance="fill" class="col-2" color="primary">
            <mat-label>Report type</mat-label>
            <mat-select disableOptionCentering="true" name="reportTypeId" (selectionChange)="setReportType($event.value)" [(ngModel)]="selectedReportType">
              <mat-option *ngFor="let reportType of reportTypes" [value]="reportType" >
                {{reportType.displayName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill" class="col-2" color="primary">
            <mat-label>Portal</mat-label>
            <mat-select disableOptionCentering="true" name="webPortalId" (selectionChange)="setWebPortal($event.value)" [(ngModel)]="selectedWebPortal" >
              <mat-option [value]="null">None</mat-option>
              <mat-option *ngFor="let portal of webPortals; let i = index" [value]="portal">
                {{portal.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill" class="col-2" color="primary">
            <mat-label>Role</mat-label>
            <mat-select disableOptionCentering="true" name="roleId" (selectionChange)="setRole($event.value)" [(ngModel)]="selectedRole">
              <mat-option [value]="null">None</mat-option>
              <mat-option *ngFor="let role of roles; let i = index" [value]="role">
                {{role.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill" class="col-2" color="primary">
            <mat-label>Report date filter type</mat-label>
            <mat-select disableOptionCentering="true" name="reportDateFilterType" (selectionChange)="setDateView($event.value)" [(ngModel)]="selectedDateView" [disabled]="selectedReportType?.name | reportFilter:'date'">
              <mat-option *ngFor="let item of dateView" [value]="item" >
                {{item}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill" class="col-2" color="primary">
            <mat-label>Date from</mat-label>
            <input name="dateFrom" matInput [matDatepicker]="dateFrom" [(ngModel)]="selectedDateFrom" [min]="minDate" [max]="maxDate" [matDatepickerFilter]="dateFromFilter" [disabled]="selectedDateView != 'Range' || selectedReportType?.name | reportFilter:'date'" (dateChange)="setDateFrom($event)">
            <mat-datepicker-toggle matSuffix [for]="dateFrom"></mat-datepicker-toggle>
            <mat-datepicker #dateFrom>
            </mat-datepicker>
            <mat-error>Invalid Date</mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill" class="col-2" color="primary">
            <mat-label>Date to</mat-label>
            <input name="dateTo" matInput [matDatepicker]="dateTo" [(ngModel)]="selectedDateTo" [min]="minDate" [max]="maxDate" [matDatepickerFilter]="dateToFilter" [disabled]="selectedDateView != 'Range' || selectedReportType?.name | reportFilter:'date'" (dateChange)="setDateTo($event)">
            <mat-datepicker-toggle matSuffix [for]="dateTo"></mat-datepicker-toggle>
            <mat-datepicker #dateTo>
            </mat-datepicker>
            <mat-error>Invalid Date</mat-error>
          </mat-form-field>
      </div>
    </div>

    <div *ngIf="selectedReportType?.name == 'articleopenings'">
      <app-open-read-articles-chart></app-open-read-articles-chart>
    </div>

    <div>
      <h1 class="text-center">{{selectedReportType?.displayName}}</h1>
    </div>
    <hr>
    <div *ngIf="selectedReportType?.name == 'articleopenings'">
      <app-open-read-articles></app-open-read-articles>
    </div>
    <div *ngIf="selectedReportType?.name == 'articlegrades'">
      <app-article-ratings-kpi></app-article-ratings-kpi>
    </div>
    <div *ngIf="selectedReportType?.name == 'statuses'">
      <app-article-statuses-kpi></app-article-statuses-kpi>
    </div>
    <div *ngIf="selectedReportType?.name == 'bookmarks'">
      <app-bookmark-statistics-kpi></app-bookmark-statistics-kpi>
    </div>
    <div *ngIf="selectedReportType?.name == 'searchphrases'">
      <app-keywords-and-phrases-kpi></app-keywords-and-phrases-kpi>
    </div>
    <div *ngIf="selectedReportType?.name == 'categories'">
      <app-article-category-kpi></app-article-category-kpi>
    </div>
  </div>
</div>
