<h1 class="mat-display-1">Section Management</h1>
<div class="d-flex flex-row" style="margin-bottom: 30px;">
  <mat-form-field style="width: 350px; padding-right: 10px;" color="accent">
    <mat-label>Portal</mat-label>
    <mat-select (selectionChange)="onWebPortalChange();" name="webPortal" #webPortal="ngModel"
      [(ngModel)]="webPortalId">
      <mat-option *ngFor="let portal of webPortals; let i = index" [value]="portal.id">
        {{portal.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div>
  <h3>Sections</h3>
</div>
<div class="d-flex flex-row align-center">
  <mat-form-field style="width: 350px; padding-right: 10px;" color="accent">
    <mat-label>Section</mat-label>
    <mat-select (selectionChange)="onSectionChange();" name="section" #section="ngModel" [(ngModel)]="sectionId">
      <mat-option *ngFor="let section of sections; let i = index" [value]="section.id">
        {{section.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button color="primary" style="height: fit-content; margin-left: 20px;" (click)="sortSectionArticles()">Sort Section</button>
</div>

<div style="width:99.8%;" class="d-flex flex-column ">
  <table cdkDropList #sectionDropList="cdkDropList" [cdkDropListData]="sectionArticles"
    (cdkDropListDropped)="dropArticle($event)" mat-table [dataSource]="sectionDataSource" matSort
    #sectionSort="matSort">

    <!-- Subject Column -->
    <ng-container matColumnDef="subject">
      <th mat-header-cell *matHeaderCellDef> Subject </th>
      <td class="article-subject" [title]="element.subject" mat-cell *matCellDef="let element">{{element.subject}} </td>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <!-- Language Column -->
    <ng-container matColumnDef="language">
      <th mat-header-cell *matHeaderCellDef> Language </th>
      <td mat-cell *matCellDef="let element"> {{element.language}} </td>
    </ng-container>

    <!--Web Portal Column -->
    <ng-container matColumnDef="webPortalName">
      <th mat-header-cell *matHeaderCellDef> Web Portal </th>
      <td mat-cell *matCellDef="let element"> {{element.webPortalName}} </td>
    </ng-container>

    <!-- Published Date Column -->
    <ng-container matColumnDef="publishedDate">
      <th mat-header-cell *matHeaderCellDef> Published Date </th>
      <td mat-cell *matCellDef="let element"> {{element.publishedDate | date: 'dd-MM-yyyy HH:mm'}} </td>
    </ng-container>

    <!-- Attachment Column -->
    <ng-container matColumnDef="hasAttachment">
      <th mat-header-cell *matHeaderCellDef> Attachment </th>
      <td mat-cell *matCellDef="let element">
        <mat-icon>{{element.hasAttachment ? 'file_present' : ''}}</mat-icon>
      </td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element">
        <mat-icon cdkDragHandle #tooltip="matTooltip" matTooltip="Remove Article From Section"
          (click)="removeArticleFromSection(element.articleId)">
          remove_circle_outline</mat-icon>
      </td>
    </ng-container>

    <!-- Sort Column -->
    <ng-container matColumnDef="sort">
      <th mat-header-cell *matHeaderCellDef> Sort </th>
      <td mat-cell *matCellDef="let element">
        <mat-icon #tooltip="matTooltip" matTooltip="Sort">reorder</mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsSection"></tr>
    <tr mat-row cdkDrag *matRowDef="let row; columns: displayedColumnsSection;">
    </tr>

  </table>
  <mat-paginator #sectionPaginator [pageSize]="10" [pageSizeOptions]="[10, 25, 60, 100]" showFirstLastButtons>
  </mat-paginator>
</div>
<div class="d-flex flex-column">
  <h3 style="margin-bottom: 0;">Articles</h3>
  <div class="d-flex flex-row align-center">
    <mat-form-field style="width: 75vh;" color="accent">
      <mat-label>Search</mat-label>
      <input [(ngModel)]="articlePaging.search" (keydown.Enter)="searchArticles();" matInput type="text">
      <mat-icon (click)="searchArticles()" matSuffix>{{'search'}}</mat-icon>
    </mat-form-field>
  </div>
</div>

<div style="width:99.8%;" class="d-flex flex-column ">
  <table #table mat-table [dataSource]="observable" matSort>

    <!-- Subject Column -->
    <ng-container matColumnDef="subject">
      <th mat-header-cell *matHeaderCellDef> Subject </th>
      <td class="article-subject" [title]="element.subject" mat-cell *matCellDef="let element">{{element.subject}} </td>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <!-- Article Status Column -->
    <ng-container matColumnDef="articleStatus">
      <th mat-header-cell *matHeaderCellDef> Article Status </th>
      <td mat-cell *matCellDef="let element"> {{element.articleStatus}} </td>
    </ng-container>

    <!-- Created By Full Name Column -->
    <ng-container matColumnDef="createdByFullName">
      <th mat-header-cell *matHeaderCellDef> Created By </th>
      <td mat-cell *matCellDef="let element"> {{element.createdByFullName}} </td>
    </ng-container>

    <!-- Created Date Column -->
    <ng-container matColumnDef="createdDate">
      <th mat-header-cell *matHeaderCellDef> Created Date </th>
      <td mat-cell *matCellDef="let element"> {{element.createdDate | date: 'dd-MM-yyyy'}} </td>
    </ng-container>

    <!-- Updated By Full Name Column -->
    <ng-container matColumnDef="updatedByFullName">
      <th mat-header-cell *matHeaderCellDef> Updated By </th>
      <td mat-cell *matCellDef="let element"> {{element.updatedByFullName}} </td>
    </ng-container>

    <!-- Updated Date Column -->
    <ng-container matColumnDef="updatedDate">
      <th mat-header-cell *matHeaderCellDef> Updated Date </th>
      <td mat-cell *matCellDef="let element"> {{element.updatedDate | date: 'dd-MM-yyyy'}} </td>
    </ng-container>

    <!-- Published Exteranlly Column -->
    <ng-container matColumnDef="info">
      <th mat-header-cell *matHeaderCellDef> Info </th>
      <td mat-cell *matCellDef="let element">
        <mat-icon *ngIf="element.isPublishedExternally" matToolTip="Published Exteranlly">
          {{element.isPublishedExternally ? 'check_circle' : ''}}</mat-icon>
        <mat-icon>{{element.hasAttachment ? 'file_present' : ''}}</mat-icon>
      </td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element">
        <mat-icon #tooltip="matTooltip" matTooltip="Add Article to Section" (click)="openArticleToSectionModal(element.id)">
          add_circle_outline</mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsArticle"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsArticle;">
    </tr>

  </table>
  <mat-paginator #articlePaginator [length]="tableLength" [pageIndex]="pageIndex" [pageSize]="articlePaging.numArticles"
    [pageSizeOptions]="[10, 25, 60, 100]" showFirstLastButtons></mat-paginator>
</div>
