<h1 class="mat-display-1">{{tenant.name}}</h1>
<form name="tenantForm" #tenantForm="ngForm" (ngSubmit)="saveTenant()">
  <div class="d-flex flex-row align-items-center flex-wrap">
    <mat-form-field style="padding-left: 15px;" color="accent" appearance="outline">
      <mat-label>Name</mat-label>
      <input placeholder="Name" [disabled]="readonly" name="tenantName" required #tenantName="ngModel" type="text"
        matInput [(ngModel)]="tenant.name">
      <mat-error>Name is required</mat-error>
    </mat-form-field>
    <mat-form-field style="padding-left: 15px;" color="accent" appearance="outline">
      <mat-label>Company Name</mat-label>
      <input [disabled]="readonly" name="companyName" required #companyName="ngModel" type="text" matInput
        [(ngModel)]="tenant.companyName">
      <mat-error>Company Name is required</mat-error>
    </mat-form-field>
  </div>
  <div>
    <h3>Elastic</h3>
    <div class="d-flex flex-row align-items-center flex-wrap">
      <mat-form-field style="padding-left: 15px;" color="accent" appearance="outline">
        <mat-label>Base Address</mat-label>
        <input [disabled]="readonly" name="baseAddress" required #baseAddress="ngModel" type="text" matInput
          [(ngModel)]="tenant.elasticConfig.baseAddress">
        <mat-error>Base Address is required</mat-error>
      </mat-form-field>
      <mat-form-field style="padding-left: 15px;" color="accent" appearance="outline">
        <mat-label>Port</mat-label>
        <input [disabled]="readonly" name="elasticPort" required #elasticPort="ngModel" type="number" matInput
          [(ngModel)]="tenant.elasticConfig.port">
        <mat-error>Port is required</mat-error>
      </mat-form-field>
      <mat-form-field style="padding-left: 15px;" color="accent" appearance="outline">
        <mat-label>Username</mat-label>
        <input [disabled]="readonly" name="elasticUsername" required #elasticUsername="ngModel" type="string" matInput
          [(ngModel)]="tenant.elasticConfig.username">
        <mat-error>Username is required</mat-error>
      </mat-form-field>
      <mat-form-field style="padding-left: 15px;" color="accent" appearance="outline">
        <mat-label>Password</mat-label>
        <input [disabled]="readonly" name="elasticPassword" required #elasticPassword="ngModel" type="password" matInput
          [(ngModel)]="tenant.elasticConfig.password">
        <mat-error>Username is required</mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="d-flex flex-column">
    <div class="d-flex felx-row align-items-center justify-content-between">
      <h3>Languages</h3>
    </div>
    <div class="d-flex flex-row align-items-center flex-wrap">
      <mat-form-field color="accent" style="padding-left: 10px;" appearance="outline">
        <mat-label>Language</mat-label>
        <mat-select multiple (selectionChange)="setTenantLanguages()" [disabled]="readonly" name="tenantLanguage"
          #tenantLanguage="ngModel" [(ngModel)]="selectedLanguages">
          <mat-option *ngFor="let l of languages; let i = index" [value]="l.id">
            {{l.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="d-flex flex-column">
    <div>
      <h1 class="mat-display-1">Configuration</h1>
    </div>
    <div class="d-flex flex-column">
      <h3>Email Configuration</h3>
      <div class="d-flex flex-row align-items-center flex-wrap">
        <mat-form-field style="padding-left: 15px;" color="accent" appearance="outline">
          <mat-label>Host</mat-label>
          <input [disabled]="readonly" name="host" required #host="ngModel" type="text" matInput
            [(ngModel)]="tenant.tenantConfig.emailConfig.host">
          <mat-error>Host is required</mat-error>
        </mat-form-field>
        <mat-form-field style="padding-left: 15px;" color="accent" appearance="outline">
          <mat-label>Port</mat-label>
          <input [disabled]="readonly" name="emailPort" required #emailPort="ngModel" type="number" matInput
            [(ngModel)]="tenant.tenantConfig.emailConfig.port">
          <mat-error>Port is required</mat-error>
        </mat-form-field>
        <mat-form-field style="padding-left: 15px;" color="accent" appearance="outline">
          <mat-label>Username</mat-label>
          <input [disabled]="readonly" name="emailUsername" #emailUsername="ngModel" type="text" matInput
            [(ngModel)]="tenant.tenantConfig.emailConfig.username">
          <mat-error>Username is required</mat-error>
        </mat-form-field>
        <mat-form-field style="padding-left: 15px;" color="accent" appearance="outline">
          <mat-label>Sent From Mail</mat-label>
          <input [disabled]="readonly" name="sentFromMail" email required #sentFromMail="ngModel" type="email" matInput
            [(ngModel)]="tenant.tenantConfig.emailConfig.sentFromMail">
          <mat-error *ngIf="sentFromMail.invalid && (sentFromMail.dirty || sentFromMail.touched)">Sent From Email is
            {{sentFromMail.errors.email ? 'invalid' : 'required'}}</mat-error>
        </mat-form-field>
        <mat-form-field style="padding-left: 15px;" color="accent" appearance="outline">
          <mat-label>Password</mat-label>
          <input [disabled]="readonly" name="emailPassword" #emailPassword="ngModel" type="password" matInput
            [(ngModel)]="tenant.tenantConfig.emailConfig.password">
          <mat-error>Password is required</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="d-flex flex-column">
      <h3>SSH Configuration</h3>
      <div class="d-flex flex-row align-items-center flex-wrap">
        <mat-form-field style="padding-left: 15px;" color="accent" appearance="outline">
          <mat-label>Hostname</mat-label>
          <input [disabled]="readonly" name="sshHostname" required #sshHostname="ngModel" type="string" matInput
            [(ngModel)]="tenant.tenantConfig.sshConfig.hostname">
          <mat-error>Hostname is required</mat-error>
        </mat-form-field>
        <mat-form-field style="padding-left: 15px;" color="accent" appearance="outline">
          <mat-label>Username</mat-label>
          <input [disabled]="readonly" name="sshUsername" required #sshUsername="ngModel" type="string" matInput
            [(ngModel)]="tenant.tenantConfig.sshConfig.username">
          <mat-error>Password is required</mat-error>
        </mat-form-field>
        <mat-form-field style="padding-left: 15px;" color="accent" appearance="outline">
          <mat-label>Password</mat-label>
          <input [disabled]="readonly" name="sshPassword" required #sshPassword="ngModel" type="password" matInput
            [(ngModel)]="tenant.tenantConfig.sshConfig.password">
          <mat-error>Password is required</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="d-flex flex-column">
      <h3>Schedule Configuration</h3>
      <div class="d-flex flex-row align-items-center flex-wrap">
        <mat-form-field style="padding-left: 15px;" color="accent" appearance="outline">
          <mat-label>Expiration Email Time (Days)</mat-label>
          <input [disabled]="readonly" name="expirationEmailTime" required #expirationEmailTime="ngModel" type="number"
            matInput [(ngModel)]="tenant.tenantConfig.scheduleConfig.expirationEmailTime">
          <mat-error>Expiration Email Time is required</mat-error>
        </mat-form-field>
        <mat-form-field style="padding-left: 15px;" color="accent" appearance="outline">
          <mat-label>Publish Email Time (Days)</mat-label>
          <input [disabled]="readonly" name="publishEmailTime" required #publishEmailTime="ngModel" type="number"
            matInput [(ngModel)]="tenant.tenantConfig.scheduleConfig.publishEmailTime">
          <mat-error>Publish Email Time is required</mat-error>
        </mat-form-field>
        <mat-form-field style="padding-left: 15px;" color="accent" appearance="outline">
          <mat-label>Unpublish Email Time (Days)</mat-label>
          <input [disabled]="readonly" name="unpublishEmailTime" required #unpublishEmailTime="ngModel" type="number"
            matInput [(ngModel)]="tenant.tenantConfig.scheduleConfig.unpublishEmailTime">
          <mat-error>Unpublish Email Time is required</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="d-flex flex-column">
      <h3>Autocomplete Configuration</h3>
      <div class="d-flex flex-row align-items-center flex-wrap">
        <mat-form-field style="padding-left: 15px;" color="accent" appearance="outline">
          <mat-label>Keywords Count</mat-label>
          <input [disabled]="readonly" name="keywordsCount" required #keywordsCount="ngModel" type="number" matInput
            [(ngModel)]="tenant.tenantConfig.autocompleteConfig.keywordsCount">
          <mat-error>Keywords is required</mat-error>
        </mat-form-field>
        <mat-form-field style="padding-left: 15px;" color="accent" appearance="outline">
          <mat-label>Articles Count</mat-label>
          <input [disabled]="readonly" name="articlesCount" required #articlesCount="ngModel" type="number" matInput
            [(ngModel)]="tenant.tenantConfig.autocompleteConfig.articlesCount">
          <mat-error>Articles Count is required</mat-error>
        </mat-form-field>
        <mat-form-field style="padding-left: 15px;" color="accent" appearance="outline">
          <mat-label>Number Of Related Questions</mat-label>
          <input [disabled]="readonly" name="relatedQuestionsCount" required #relatedQuestionsCount="ngModel"
            type="number" matInput [(ngModel)]="tenant.tenantConfig.autocompleteConfig.relatedQuestionsCount">
          <mat-error>Number Of Related Questions is required</mat-error>
        </mat-form-field>
      </div>
    </div>
    <!-- <div class="d-flex flex-column">
      <h3>File Share Configuration</h3>
      <div class="d-flex flex-row align-items-center flex-warp">
        <mat-form-field style="padding-left: 15px;" color="accent" appearance="outline">
          <mat-label>Path</mat-label>
          <input [disabled]="readonly" name="filePath" required #filePath="ngModel" type="text" matInput
            [(ngModel)]="tenant.tenantConfig.fileShareConfig.path">
          <mat-error>Path is required</mat-error>
        </mat-form-field>
      </div>
    </div> -->
    <div class="d-flex flex-column">
      <h3>Email Template Configuration</h3>
      <div class="d-flex flex-row align-items-center flex-wrap">
        <mat-form-field color="accent" style="padding-left: 10px;" appearance="outline">
          <mat-label>Email Language</mat-label>
          <mat-select [disabled]="readonly" name="emailLanguage" #emailLanguage="ngModel" required
            [(ngModel)]="tenant.tenantConfig.emailTemplateConfig.emailLanguage">
            <mat-option *ngFor="let l of tenant.tenantConfig.languages; let i = index" [value]="l.id">
              {{l.name}}
            </mat-option>
          </mat-select>
          <mat-error>Email Language is required</mat-error>
        </mat-form-field>
        <!-- <mat-form-field style="padding-left: 15px;" color="accent" appearance="outline">
          <mat-label>Category View</mat-label>
          <input [disabled]="readonly" name="categoryView" required #categoryView="ngModel" type="string" matInput
            [(ngModel)]="tenant.tenantConfig.emailTemplateConfig.categoryView">
          <mat-error>Category View is required</mat-error>
        </mat-form-field> -->
        <mat-form-field style="padding-left: 15px;" color="accent" appearance="outline">
          <mat-label>Category View</mat-label>
          <mat-select [(ngModel)]="tenant.tenantConfig.emailTemplateConfig.categoryView" [disabled]="readonly"
            name="categoryView" required #categoryView="ngModel">
            <mat-option *ngFor="let c of emailCategoryTypes" [value]="c.name">
              {{c.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="d-flex flex-column">
      <h3>Section Configuration</h3>
      <div class="d-flex flex-row align-items-center flex-wrap">
        <mat-form-field style="padding-left: 15px;" color="accent" appearance="outline">
          <mat-label>Latest Articles Days</mat-label>
          <input [disabled]="readonly" name="latestArticlesDays" required #latestArticlesDays="ngModel" type="number"
            matInput [(ngModel)]="tenant.tenantConfig.sectionConfig.latestArticlesDays">
          <mat-error>Latest Articles Days is required</mat-error>
        </mat-form-field>
        <mat-form-field style="padding-left: 15px;" color="accent" appearance="outline">
          <mat-label>Popular Articles Days</mat-label>
          <input [disabled]="readonly" name="popularArticlesDays" required #popularArticlesDays="ngModel" type="number"
            matInput [(ngModel)]="tenant.tenantConfig.sectionConfig.popularArticlesDays">
          <mat-error>Popular Articles Days is required</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="d-flex flex-column">
      <h3>Report Configuration</h3>
      <div class="d-flex flex-row align-items-center flex-wrap">
        <mat-form-field style="padding-left: 15px;" color="accent" appearance="outline">
          <mat-label>Data Period (Months)</mat-label>
          <input [disabled]="readonly" name="reportDataPeriod" required #reportDataPeriod="ngModel" type="number"
            matInput [(ngModel)]="tenant.tenantConfig.reportConfig.dataPeriod">
          <mat-error>Data Period is required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" style="padding-left: 15px;" color="accent">
          <mat-label>Emails</mat-label>
          <mat-chip-list #chipEmailList aria-label="Email list">
            <mat-chip *ngFor="let email of tenant.tenantConfig.reportConfig.emailList" [selectable]="true"
              [removable]="true" (removed)="removeReportEmail(email)">
              {{email}}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input (paste)="pasteReportEmail($event)" [readonly]="readonly" placeholder="New email..."
              [matChipInputFor]="chipEmailList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              [matChipInputAddOnBlur]="true" (matChipInputTokenEnd)="addReportEmail($event)">
          </mat-chip-list>
        </mat-form-field>
      </div>
    </div>
    <div class="d-flex flex-column">
      <h3>Send Suggestion Configuration</h3>
      <div class="d-flex flex-row align-items-center flex-wrap">
        <mat-form-field id="sendSuggestionToListInput" appearance="outline" style="padding-left: 15px;" color="accent">
          <mat-label>Emails To</mat-label>
          <mat-chip-list name="sendSuggestionToList" required #sendSuggestionToList aria-label="Email list">
            <mat-chip *ngFor="let email of tenant.tenantConfig.sendSuggestionConfig.emailTo" [selectable]="true"
              [removable]="true" (removed)="removeSuggestionEmailTo(email)">
              {{email}}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input required name="sendSuggestionToListInput" (paste)="pasteSuggestionEmailTo($event)" [readonly]="readonly" placeholder="New email..."
              [matChipInputFor]="sendSuggestionToList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              [matChipInputAddOnBlur]="true" (matChipInputTokenEnd)="addSuggestionEmailTo($event)">
          </mat-chip-list>
          <mat-error>At least one email is required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" style="padding-left: 15px;" color="accent">
          <mat-label>Emails Cc</mat-label>
          <mat-chip-list #sendSuggestionCcList aria-label="Email list">
            <mat-chip *ngFor="let email of tenant.tenantConfig.sendSuggestionConfig.emailCc" [selectable]="true"
              [removable]="true" (removed)="removeSuggestionEmailCc(email)">
              {{email}}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input (paste)="pasteSuggestionEmailCc($event)" [readonly]="readonly" placeholder="New email..."
              [matChipInputFor]="sendSuggestionCcList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              [matChipInputAddOnBlur]="true" (matChipInputTokenEnd)="addSuggestionEmailCc($event)">
          </mat-chip-list>
        </mat-form-field>
      </div>
    </div>
    <div class="d-flex flex-column">
      <h3>General Configuration</h3>
      <div class="d-flex flex-row align-items-center flex-wrap">
        <mat-form-field style="padding-left: 15px;" color="accent" appearance="outline">
          <mat-label>Api JwToken (Hours)</mat-label>
          <input [disabled]="readonly" name="apiJwTokenTtl" required #apiJwTokenTtl="ngModel" type="string" matInput
            [(ngModel)]="tenant.tenantConfig.generalConfig.apiJwTokenTtl">
          <mat-error>Api JwToken is required</mat-error>
        </mat-form-field>
        <mat-form-field style="padding-left: 15px;" color="accent" appearance="outline">
          <mat-label>Number Of Related Articles</mat-label>
          <input [disabled]="readonly" name="numOfRelatedArticles" required #numOfRelatedArticles="ngModel"
            type="number" matInput [(ngModel)]="tenant.tenantConfig.generalConfig.numOfRelatedArticles">
          <mat-error>Number Of Related Articles is required</mat-error>
        </mat-form-field>
        <mat-form-field style="padding-left: 15px;" color="accent" appearance="outline">
          <mat-label>Number of Previous Versions</mat-label>
          <input [disabled]="readonly" name="numOfPreviousVersions" required #numOfPreviousVersions="ngModel"
            type="number" matInput [(ngModel)]="tenant.tenantConfig.generalConfig.numOfPreviousVersions">
          <mat-error>Number of Previous Versions is required</mat-error>
        </mat-form-field>
        <mat-form-field style="padding-left: 15px;" color="accent" appearance="outline">
          <mat-label>KB Password TTL (Days)</mat-label>
          <input [disabled]="readonly" name="kbPasswordTtl" required #kbPasswordTtl="ngModel" type="text" matInput
            [(ngModel)]="tenant.tenantConfig.generalConfig.kbPasswordTtl">
          <mat-error>KB Password is required</mat-error>
        </mat-form-field>
        <mat-form-field style="padding-left: 15px;" color="accent" appearance="outline">
          <mat-label>Look Up User Email</mat-label>
          <input [disabled]="readonly" name="lookupUserEmail" required email #lookupUserEmail="ngModel" type="text"
            matInput [(ngModel)]="tenant.tenantConfig.generalConfig.lookupUserEmail">
          <mat-error>Look Up User Email is required</mat-error>
        </mat-form-field>
        <mat-form-field style="padding-left: 15px;" color="accent" appearance="outline">
          <mat-label>Look Up User Password</mat-label>
          <input [disabled]="readonly" name="lookupUserPassword" required #lookupUserPassword="ngModel" type="password"
            matInput [(ngModel)]="tenant.tenantConfig.generalConfig.lookupUserPassword">
          <mat-error>Look Up User Password is required</mat-error>
        </mat-form-field>
        <mat-form-field style="padding-left: 15px;" color="accent" appearance="outline">
          <mat-label>Max OTP Attempts</mat-label>
          <input [disabled]="readonly" name="maxOtpAttempts" required #maxOtpAttempts="ngModel" type="number" matInput
            [(ngModel)]="tenant.tenantConfig.generalConfig.maxOtpAttempts">
          <mat-error>Max OTP Attempts is required</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="d-flex flex-column">
      <div class="d-flex flex-row justify-content-between">
        <h3>LDAP Configurations</h3>
        <button [disabled]="readonly" mat-raised-button color="primary" style="color: white; height: fit-content;"
          type="button" (click)="addLdapConfgis()">Add LDAP</button>
      </div>
      <div *ngFor="let ldap of tenant.tenantConfig.ldapConfigs; let ldapIndex = index"
        class="d-flex flex-column flex-wrap">
        <div class="d-flex flex-row align-items-center justify-content-between">
          <h4>LDAP Configuration {{ldapIndex + 1}}</h4>
          <mat-icon *ngIf="readonly === false" (click)="removeLdapConfigs(ldapIndex);">remove_circle_outline</mat-icon>
        </div>
        <div class="d-flex flex-row align-items-center flex-wrap">
          <mat-form-field style="padding-left: 15px;" color="accent" appearance="outline">
            <mat-label>Hostname</mat-label>
            <input [disabled]="readonly" name="ldapHostname{{ldapIndex}}" required #ldapHostname{{ldapIndex}}="ngModel"
              type="string" matInput [(ngModel)]="ldap.hostname">
            <mat-error>Hostname is required</mat-error>
          </mat-form-field>
          <mat-checkbox color="primary" [disabled]="readonly" style="margin-left: 15px; margin-bottom: 15px;"
            name="ldapIsSecure{{ldapIndex}}" #ldapIsSecure{{ldapIndex}}="ngModel" [(ngModel)]="ldap.isSecure">Secure
          </mat-checkbox>
          <mat-form-field style="padding-left: 15px;" color="accent" appearance="outline">
            <mat-label>Port</mat-label>
            <input [disabled]="readonly" name="ldapport{{ldapIndex}}" #ldapport{{ldapIndex}}="ngModel" type="number"
              matInput [(ngModel)]="ldap.port">
            <mat-error>Port is required</mat-error>
          </mat-form-field>
          <mat-form-field style="padding-left: 15px;" color="accent" appearance="outline">
            <mat-label>Base DN</mat-label>
            <input [disabled]="readonly" name="ldapbasedn{{ldapIndex}}" #ldapbasedn{{ldapIndex}}="ngModel" type="string"
              matInput [(ngModel)]="ldap.baseDn">
            <mat-error>Base DN is required</mat-error>
          </mat-form-field>
          <mat-form-field style="padding-left: 15px;" color="accent" appearance="outline">
            <mat-label>FQ DN</mat-label>
            <input [disabled]="readonly" name="ldapfqdn{{ldapIndex}}" #ldapfqdn{{ldapIndex}}="ngModel" type="string"
              matInput [(ngModel)]="ldap.fqdn">
            <mat-error>FQ DN is required</mat-error>
          </mat-form-field>
          <mat-form-field style="padding-left: 15px;" color="accent" appearance="outline">
            <mat-label>Domain</mat-label>
            <input [disabled]="readonly" name="ldapDomains{{ldapIndex}}" #ldapDomains{{ldapIndex}}="ngModel"
              type="string" required matInput [(ngModel)]="ldap.domain">
            <mat-error>Domain is required</mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
  <button mat-raised-button type="submit" [disabled]="readonly" color="primary" style="color: white;">Save
    Tenant</button>

</form>
