// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$vip-knowledgebase-primary: mat-palette($mat-indigo);
$vip-knowledgebase-accent: mat-palette($mat-pink, A200, A100, A400);
// The warn palette is optional (defaults to red).
$vip-knowledgebase-warn: mat-palette($mat-red);
// Create the theme object (a Sass map containing all of the palettes).
$vip-knowledgebase-theme: mat-light-theme( $vip-knowledgebase-primary, $vip-knowledgebase-accent, $vip-knowledgebase-warn);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($vip-knowledgebase-theme);

/* You can add global styles to this file, and also import other style files */

@import "theme.scss";
// Montserrat Font Familly
// @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
// $font-familly: Montserat, sans-serif;
@font-face {
    font-family: "A1Serif-Bold";
    src: local("A1Serif-Bold"), url(./assets/css/fonts/A1Serif-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "A1Serif-Regular";
    src: local("A1Serif-Regular"), url(./assets/css/fonts/A1Sans-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Verdana";
    src: local("Verdana"), url(./assets/css/fonts/verdana_1.ttf) format("truetype");
}

body {
    margin: 0;
    height: 100%;
    font-family: "Verdana";
}

%btn-custom {
    font-family: "A1Serif-Bold" !important;
    font-weight: 500 !important;
    font-size: 13pt;
    padding-left: 2vw;
    padding-right: 2vw;
}

.btn-custom-confirm {
    @extend %btn-custom;
    background: white;
    border: 2px solid #da291c;
    color: #da291c !important;
    margin-right: 20px;
}

.btn-custom-confirm-full {
    @extend %btn-custom;
    background: #da291c;
    border: 2px solid #da291c;
    color: white !important;
    margin-right: 20px;
}

.btn-custom-normal {
    @extend %btn-custom;
    background: white;
    border: 2px solid #5f7b95;
    color: #5f7b95 !important;
    margin-right: 20px;
}

.btn-custom-red {
    @extend %btn-custom;
    background: white;
    border: 2px solid #da291c;
    color: #da291c !important;
    margin-right: 20px;
}

// .flex-row {
//   display: flex !important;
//   flex-direction: row !important;
// }
// .flex-column {
//   display: flex !important;
//   flex-direction: column !important;
// }
.align-center {
    align-items: center;
}

.justify-space-betwen {
    justify-content: space-between;
}

// mat-card {
//   font-family: $font-familly !important;
// }
// input {
//   font-family: $font-familly !important;
// }
// button {
//   font-family: $font-familly !important;
// }
// label {
//   font-family: $font-familly !important;
// }
// ::ng-deep mat-input-element {
//   font-family: $font-familly !important;
// }
mat-icon {
    cursor: pointer;
}

body div.simple-notification-wrapper {
    z-index: 1000000000;
}

mat-form-field {
    width: 100%;
}

.attach-list {
    width: 500px;
    max-width: 100%;
    border: solid 1px #ccc;
    min-height: 60px;
    display: block;
    background: white;
    border-radius: 4px;
    overflow: hidden;
}

.attach-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.attach-box:last-child {
    border: none;
}

.attach-list.cdk-drop-list-dragging .attach-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.related-articles.cdk-drop-list-dragging .attach-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.mat-button,
.mat-raised-button,
.mat-flat-button,
.mat-stroked-button {
    border-radius: 0px !important;
    box-shadow: none !important;
    font-family: "A1Serif-Bold";
    font-weight: 500;
}

.mat-form-field-empty {
    margin-left: 5px !important;
    padding-left: 5px !important;
}

.mat-form-field-label ng-tns-c8-4 ng-star-inserted {
    margin-left: 5px !important;
    padding-left: 5px !important;
}

.mat-form-field-label:not(.mat-form-field-empty) {
    margin-left: 9px !important;
}

.mat-select-value-text {
    margin-left: 5px !important;
    padding-left: 5px !important;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
    height: 2px !important;
}

.mat-header-cell {
    color: #bcbcbc;
}

.mat-row:hover {
    background: #999999 !important;
}

input {
    height: 19px !important;
}

.cke_top {
    zoom: 1.1!important;
}