<div class="d-flex flex-row justify-content-between align-center">
  <h1 class="mat-display-1">Users</h1>
  <button mat-raised-button color="primary" style="color: white;" (click)="registerUser()">Register User</button>
</div>
<div class="d-flex flex-row">
  <mat-form-field style="width: 75vh;" color="accent">
    <mat-label>Search</mat-label>
    <input (keydown)="applyFilter($event);" matInput type="text">
    <mat-icon matSuffix>{{'search'}}</mat-icon>
  </mat-form-field>
</div>
<div style="width:99.8%;" class="d-flex flex-column ">
  <table #table mat-table [dataSource]="dataSource" matSort>

    <!-- First Name Column -->
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef>First Name </th>
      <td mat-cell *matCellDef="let element">{{element.firstName}} </td>
    </ng-container>

    <!-- Last Name Column -->
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef> Last Name </th>
      <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <!-- Phone Number Column -->
    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef> Phone No. </th>
      <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
    </ng-container>

    <!-- IsAd Column -->
    <ng-container matColumnDef="isAdUser">
      <th mat-header-cell *matHeaderCellDef> AD User </th>
      <td mat-cell *matCellDef="let element">
        <mat-icon *ngIf="element.isAdUser === true;" matTooltip="Ad User">
          {{element.isAdUser ? 'check_circle' : ''}}
        </mat-icon>
      </td>
    </ng-container>

    <!-- Created Date Column -->
    <ng-container matColumnDef="createdDate">
      <th mat-header-cell *matHeaderCellDef> Created Date </th>
      <td mat-cell *matCellDef="let element"> {{element.createdDate | date: 'dd-MM-yyyy'}} </td>
    </ng-container>

    <!-- Created By Column -->
    <ng-container matColumnDef="createdBy">
      <th mat-header-cell *matHeaderCellDef> Created By </th>
      <td mat-cell *matCellDef="let element"> {{element.createdBy}} </td>
    </ng-container>

    <!-- Updated Date Column -->
    <ng-container matColumnDef="updatedDate">
      <th mat-header-cell *matHeaderCellDef> Updated Date </th>
      <td mat-cell *matCellDef="let element"> {{element.updatedDate | date: 'dd-MM-yyyy'}} </td>
    </ng-container>

    <!-- Updated By Column -->
    <ng-container matColumnDef="updatedBy">
      <th mat-header-cell *matHeaderCellDef> Updated By </th>
      <td mat-cell *matCellDef="let element"> {{element.updatedBy}} </td>
    </ng-container>

    <!-- Last Login Column -->
    <ng-container matColumnDef="lastLoginTime">
      <th mat-header-cell *matHeaderCellDef> Last Logged In </th>
      <td mat-cell *matCellDef="let element"> {{element.lastLoginTime | date: 'dd-MM-yyyy HH:mm'}} </td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element">
        <mat-icon id="delete" matTooltip="Delete User" *ngIf="element.isAdUser === false"
          (click)="deleteUser(element.id)">delete_forever</mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="cols"></tr>
    <tr mat-row (click)="editUser(row.id, $event)" *matRowDef="let row; columns: cols;">
    </tr>

  </table>
  <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 25, 60, 100]" showFirstLastButtons></mat-paginator>
</div>