<h1 class="mat-display-1">{{emailTemplateId ? 'Update Email Template' : 'Create Email Template'}}</h1>
<div>
  <form class="d-flex flex-row align-center justify-content-between" name="templates" #templates="ngForm"
    (ngSubmit)="save()">
    <div class="d-flex flex-row">
      <mat-form-field style="width: 70vh;" color="accent">
        <mat-label>Subject</mat-label>
        <input [disabled]="readonly" name="templateSubject" #templateSubject="ngModel" required type="text" matInput
          [(ngModel)]="emailTemplate.subject">
        <mat-error>Subject is required</mat-error>
      </mat-form-field>
      <mat-form-field style="width: 40vh;" color="accent" style="padding-left: 10px;">
        <mat-label>Email Template Type</mat-label>
        <mat-select required [disabled]="readonly" name="type" #type="ngModel" [(ngModel)]="emailTemplate.emailTypeId">
          <mat-option *ngFor="let type of emailTemplateTypes; let i = index" [value]="type.id">
            {{type.name}}
          </mat-option>
        </mat-select>
        <mat-error>Email Template Type is required</mat-error>
      </mat-form-field>
    </div>

    <button [disabled]="readonly" mat-raised-button type="submit" style="color: white;" color="primary">Save</button>
  </form>
</div>
<div>
  <ckeditor [readOnly]="readonly" (fileUploadRequest)="ckFileUpload($event)"
    (fileUploadResponse)="ckFileResponse($event)" [editorUrl]="ckEditorUrl" name="templateCK" #templateCK="ngModel"
    [(ngModel)]="emailTemplate.body"></ckeditor>
</div>
