<mat-menu #menu="matMenu">
    <ng-container *ngFor="let item of items">
      <button (click)="selectCategory(item.id)" *ngIf="!item.hasChildren; else branch"
        mat-menu-item>{{item.name}}</button>
      <ng-template #branch>
        <button (click)="selectCategory(item.id)" mat-menu-item
          [matMenuTriggerFor]="innerPanel.menu">{{item.name}}</button>
        <app-category-menu (categoryEvent)="selectCategory($event)" #innerPanel [items]="item.children">
        </app-category-menu>
      </ng-template>
    </ng-container>
</mat-menu>
